.data-chart{overflow: hidden;width: 70% !important;margin-bottom:20px;}
.data-label{margin:10px 5px 0 0;}
.data-input{margin-top: 2px;}
.data-time{width: 60px;height: 26px;background: #f5e3e3;color:#91544a;}
.data-time:hover{width: 60px;height: 26px;background: #eaa7a7;color:#fff;}
.data-time-active{width: 60px;height: 26px;background: #de4945;color:#fff;}
.data-btn1{overflow: hidden;float: left;margin:4px 20px 0 5px; }
.data-btn2{overflow: hidden;border:1px solid #b08051;border-radius: 5px;float: left;margin:2px 0 0 10px;}
.data-search{height: 28px;color: #b08051;background: #fff;width: 70px;float: left;}
.data-search:hover{height: 28px;color: #fff;background: #b08051;width: 70px;float: left;}
.data-search-active{height: 28px;color: #fff;background: #b08051;width: 70px;float: left;}
.border-right{border-right: 1px solid #f1ad4e;}
.time-kai{border-radius: 4px !important;}