<div class="content-box" ng-controller="propertyChartDataCtrl as vm">	
	<div class="search-box clearfix">
		<form class="form-inline" role="form">
			<div class="data-btn1">
				<button class="data-time" ng-class="{'data-time-active' : '1' == vm.datetype && vm.queryProperty.type != ''}" ng-click="vm.selectData('2','1')">今天</button>
				<button class="data-time" ng-class="{'data-time-active' : '2' == vm.datetype && vm.queryProperty.type != ''}" ng-click="vm.selectData('3','2')">本月</button>
				<button class="data-time" ng-class="{'data-time-active' : '3' == vm.datetype && vm.queryProperty.type != ''}" ng-click="vm.selectData('5','3')">今年</button>
			</div>
			<div class="dropdown pull-left data-input">
	            <a class="dropdown-toggle" id="startDate" role="button" data-toggle="dropdown" data-target="#"
	               href="#">
	                <div class="input-group margin-4">
	                    <input type="text" class="form-control time-kai width-94" placeholder="开始时间" data-ng-model="vm.startdate | date:'yyyy-MM-dd'">
	                    <span class="sr-only"><i class="glyphicon glyphicon-calendar"></i></span>
	                </div>
	            </a>
	            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	                <datetimepicker data-ng-model="vm.startdate"
	                                data-datetimepicker-config="{ dropdownSelector: '#startDate',startView:'day', minView:'day' }"></datetimepicker>
	            </ul>
	        </div>
	        <div class="dropdown pull-left data-input">
	            <a class="dropdown-toggle" id="enddate" role="button" data-toggle="dropdown" data-target="#"
	               href="#">
	                <div class="input-group">
	                    <input type="text" class="form-control time-kai width-94" placeholder="结束时间" data-ng-model="vm.enddate | date:'yyyy-MM-dd'">
	                    <span class="sr-only"><i class="glyphicon glyphicon-calendar"></i></span>
	                </div>
	            </a>
	            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	                <datetimepicker data-ng-model="vm.enddate"
	                                data-datetimepicker-config="{ dropdownSelector: '#enddate',startView:'day', minView:'day' }"></datetimepicker>
	            </ul>
	        </div>
	        <button type="submit" class="btn btn-sky width-94 pull-left" ng-click="vm.selectData('','')">查询</button>
	        <button type="reset" class="btn btn-reset pull-left" ng-click="queryClick()"><span
                    class="glyphicon glyphicon-repeat margin-4"></span>重置
            </button>
	        <div class="data-btn2">
		        <button class="data-search border-right" ng-class="{'data-search-active' : '1' == vm.queryProperty.step}" ng-click="vm.selectStep('1')" ng-if="vm.datetype == '1'">按时</button>
				<button class="data-search border-right" ng-class="{'data-search-active' : '2' == vm.queryProperty.step}" ng-click="vm.selectStep('2')" ng-if="vm.datetype == '1' || vm.datetype == '2'">按日</button>
				<button class="data-search border-right" ng-class="{'data-search-active' : '3' == vm.queryProperty.step}" ng-click="vm.selectStep('3')" ng-if="vm.datetype == '2' || vm.datetype == '3'">按月</button>
				<button class="data-search" ng-class="{'data-search-active' : '4' == vm.queryProperty.step}" ng-click="vm.selectStep('4')" ng-if="vm.datetype == '3'">按季度</button>
			</div>
			<!-- <div class="form-group margin-21 margin-5">
		        <label class="pull-left data-label" for="postName">每日收入</label>
		        <div class="dropdown pull-left data-input">
		            <a class="dropdown-toggle" id="queryFeesByDay" role="button" data-toggle="dropdown" data-target="#"
		               href="#">
		                <div class="input-group">
		                    <input type="text" class="form-control width-154" data-ng-model="queryFeesByDay | date:'yyyy-MM-dd'" placeholder="每日收入">
		                    <span class="sr-only"><i class="glyphicon glyphicon-calendar"></i></span>
		                </div>
		            </a>
		            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		                <datetimepicker data-ng-model="queryFeesByDay"
		                                data-datetimepicker-config="{ dropdownSelector: '#queryFeesByDay',startView:'day', minView:'day' }"></datetimepicker>
		            </ul>
		        </div>
		        <button type="submit" class="btn btn-sky width-94 pull-left margin-21" ng-click="vm.propertyFeesByDay()">查询</button>
        	</div> -->
			<!-- <div class="form-group margin-21 margin-5">
		        <label class="pull-left data-label" for="postName">每月收入</label>
		        <div class="dropdown pull-left data-input">
		            <a class="dropdown-toggle" id="queryPerDayFeesByMonth" role="button" data-toggle="dropdown" data-target="#"
		               href="#">
		                <div class="input-group">
		                    <input type="text" class="form-control width-154" placeholder="每月日收入" data-ng-model="queryPerDayFeesByMonth | date:'yyyy-MM'">
		                    <span class="sr-only"><i class="glyphicon glyphicon-calendar"></i></span>
		                </div>
		            </a>
		            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		                <datetimepicker data-ng-model="queryPerDayFeesByMonth"
		                                data-datetimepicker-config="{ dropdownSelector: '#queryPerDayFeesByMonth',startView:'month', minView:'month' }"></datetimepicker>
		            </ul>
		        </div>
		        <button type="submit" class="btn btn-sky width-94 pull-left margin-21" ng-click="vm.propertyPerDayFeesByMonth()">查询</button>
        	</div> -->
        	<!-- <div class="form-group margin-21 margin-5">
		        <label class="pull-left data-label" for="postName">每季度收入</label>
		        <div class="dropdown pull-left data-input">
		            <a class="dropdown-toggle" id="queryQuaterFeesByYear" role="button" data-toggle="dropdown" data-target="#"
		               href="#">
		                <div class="input-group">
		                    <input type="text" class="form-control width-154" placeholder="每季度收入" data-ng-model="queryQuaterFeesByYear | date:'yyyy'">
		                    <span class="sr-only"><i class="glyphicon glyphicon-calendar"></i></span>
		                </div>
		            </a>
		            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		                <datetimepicker data-ng-model="queryQuaterFeesByYear"
		                                data-datetimepicker-config="{ dropdownSelector: '#queryQuaterFeesByYear',startView:'year', minView:'year' }"></datetimepicker>
		            </ul>
		        </div>
		        <button type="submit" class="btn btn-sky width-94 pull-left margin-21" ng-click="vm.propertyQuaterFeesByYear()">查询</button>
        	</div> -->
			
			<!-- <div class="form-group margin-21 margin-5">
		        <label class="pull-left data-label" for="postName">年度每月收入</label>
		        <div class="dropdown pull-left data-input">
		            <a class="dropdown-toggle" id="queryPerMonthFeesByYear" role="button" data-toggle="dropdown" data-target="#"
		               href="#">
		                <div class="input-group">
		                    <input type="text" class="form-control width-154" placeholder="每季度收入" data-ng-model="queryPerMonthFeesByYear | date:'yyyy'">
		                    <span class="sr-only"><i class="glyphicon glyphicon-calendar"></i></span>
		                </div>
		            </a>
		            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		                <datetimepicker data-ng-model="queryPerMonthFeesByYear"
		                                data-datetimepicker-config="{ dropdownSelector: '#queryPerMonthFeesByYear',startView:'year', minView:'year' }"></datetimepicker>
		            </ul>
		        </div>
		        <button type="submit" class="btn btn-sky width-94 pull-left margin-21" ng-click="vm.propertyPerMonthFeesByYear()">查询</button>
        	</div> -->
			
			<!-- <div class="form-group margin-21 margin-5">
		        <label class="pull-left data-label" for="postName">时间段收入</label>
		        <div class="dropdown pull-left data-input">
		            <a class="dropdown-toggle" id="startDate" role="button" data-toggle="dropdown" data-target="#"
		               href="#">
		                <div class="input-group">
		                    <input type="text" class="form-control width-154" data-ng-model="startDate | date:'yyyy-MM-dd'" placeholder="每日收入">
		                    <span class="sr-only"><i class="glyphicon glyphicon-calendar"></i></span>
		                </div>
		            </a>
		            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		                <datetimepicker data-ng-model="startDate"
		                                data-datetimepicker-config="{ dropdownSelector: '#startDate',startView:'day', minView:'day' }"></datetimepicker>
		            </ul>
		        </div>
		        <div class="pull-left data-label">至</div>
		        <div class="dropdown pull-left data-input">
		            <a class="dropdown-toggle" id="endDate" role="button" data-toggle="dropdown" data-target="#"
		               href="#">
		                <div class="input-group">
		                    <input type="text" class="form-control width-154" data-ng-model="endDate | date:'yyyy-MM-dd'" placeholder="每日收入">
		                    <span class="sr-only"><i class="glyphicon glyphicon-calendar"></i></span>
		                </div>
		            </a>
		            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		                <datetimepicker data-ng-model="endDate"
		                                data-datetimepicker-config="{ dropdownSelector: '#endDate',startView:'day', minView:'day' }"></datetimepicker>
		            </ul>
		        </div>
		        <button type="submit" class="btn btn-sky width-94 pull-left margin-21" ng-click="vm.propertyFeesBySEDay()">查询</button>
        	</div> -->
			
		</form>
	</div>
	<div class="table-responsive-1-0">
		<div ng-if="vm.propertyData != null && vm.propertyData.length > 0">
			<canvas id="bar" class="chart chart-bar" data="data" series="series" labels="labels" colours="colours" options="options" width="750" height="300"></canvas>
		</div>
		<table class="table table-striped table-hover table-bordered table01">
			<thead>
				<tr>
					<td>日期</td>
					<td>房租费</td>
					<td>水费</td>
					<td>电费</td>
					<td>宽带费</td>
					<td>其他收费</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in vm.propertyData">
					<td>{{item.daytime}}</td>
					<td>{{item.rent}}</td>
					<td>{{item.wateramt}}</td>
					<td>{{item.elecamt}}</td>
					<td>{{item.broadband}}</td>
					<td>{{item.other}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>