<div class="room-box" ng-controller="viewDriverCustomerCtrl as vm">
  <div class="light-box-title"><span class="text-white">详情</span></div>
  <form class="form-horizontal text-normal" name="myForm" autocomplete="off" ng-submit="vm.checkOut()" novalidate>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row room-box-row">
      <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <label for="csex1" class="col-sm-5 control-label">头像</label>
        <div class="col-sm-7">
          <span class="head-img pull-left"><img class="media-object img-responsive" onerror="errorImg(this)" src="{{!vm.driverInfo.image?'assets/images/license.jpg':vm.driverInfo.image}}" src="assets/images/manager.png" alt="..."></span>
        </div>
      </div>
    </div>
    <!-- <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label class="col-sm-5 control-label">用户编码</label>
      <div class="col-sm-7">
        <input type="text" name="cuscard" class="form-control width-154" ng-model="vm.jsondata.cuscard" placeholder="" >
      </div>
    </div> -->
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label for="username" class="col-sm-5 control-label">用户账号</label>
      <div class="col-sm-7">
        <input type="text" name="username" class="form-control width-154" placeholder="" ng-model="vm.driverInfo.username" readonly="readonly" >
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label for="realname" class="col-sm-5 control-label">姓名</label>
      <div class="col-sm-7">
        <input type="text" name="realname" class="form-control width-154" placeholder="" ng-model="vm.driverInfo.realname" readonly="readonly" >
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label for="phone" class="col-sm-5 control-label">手机</label>
      <div class="col-sm-7">
        <input type="text" name="phone" class="form-control width-154" placeholder="" ng-model="vm.driverInfo.phone" readonly="readonly" >
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label for="address" class="col-sm-5 control-label">联系地址</label>
      <div class="col-sm-7">
        <input name="address" type="text" class="form-control width-154" ng-model="vm.driverInfo.address" readonly="readonly" />
      </div>
    </div>
       <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label for="useridsn" class="col-sm-5 control-label">身份证</label>
      <div class="col-sm-7">
        <input type="text" name="useridsn" class="form-control width-154"  ng-model="vm.driverInfo.useridsn" readonly="readonly">
        <span class="license-img pull-left margin-8"><img class="media-object img-responsive" onerror="errorImg(this)" src="{{!vm.driverInfo.useridsnurl?'assets/images/license.jpg':vm.driverInfo.useridsnurl}}" src="assets/images/license.jpg" alt="..."></span>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label for="drivinglicense" class="col-sm-5 control-label">行驶证</label>
      <div class="col-sm-7">
        <input type="text" name="drivinglicense" class="form-control width-154"  ng-model="vm.driverInfo.drivinglicense" readonly="readonly">
        <span class="license-img pull-left margin-8"><img class="media-object img-responsive" onerror="errorImg(this)" src="{{!vm.driverInfo.licenseurl?'assets/images/license.jpg':vm.driverInfo.licenseurl}}" src="assets/images/license.jpg" alt="..."></span>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label for="certificatenumber" class="col-sm-5 control-label">从业资格证</label>
      <div class="col-sm-7">
        <input type="text" name="certificatenumber" class="form-control width-154"  ng-model="vm.driverInfo.certificatenumber" readonly="readonly">
        <span class="license-img pull-left margin-8"><img class="media-object img-responsive" onerror="errorImg(this)" src="{{!vm.driverInfo.certificateurl?'assets/images/license.jpg':vm.driverInfo.certificateurl}}" src="assets/images/license.jpg" alt="..."></span>
      </div>
    </div>
    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
        车辆信息：
    </div>
    <table class="table table-striped table-hover table-bordered table01 ">
      <thead>
      <tr>
        <td>车牌号</td>
        <td>车辆型号</td>
        <td>车身长度</td>
        <td>载重(吨)</td>
        <td>起始地</td>
        <td>目的地</td>
      </tr>
      </thead>
      <tbody ng-repeat="item in vm.driverInfo.vehicleList">
      <tr>
        <td>{{item.vehiclenumber}}</td>
        <td>{{item.vehicleclassification}}</td>
        <td>{{item.vehiclelength}}</td>
        <td>{{item.vehicletonnage}}</td>
        <td>{{item.placeofdeparture}}</td>
        <td>{{item.destination}}</td>
      </tr>
      </tbody>
    </table>
    <div class="form-group">
      <div class="text-center">
        <!-- <button type="submit" class="btn navbar-btn btn-sky width-94"><span class="glyphicon glyphicon-ok"></span>保存</button> -->
        <!-- <button type="submit" class="btn navbar-btn btn-sky width-94"><span class="glyphicon glyphicon-user"></span>审核</button> -->
        <button type="button" class="btn navbar-btn btn-sky width-94" ng-click="vm.cancel()"><span class="glyphicon glyphicon-remove margin-4"></span>返回</button>
      </div>
    </div>
  </form>
</div>
