<ion-header-bar class="bar-stable" style="border:0px !important;background-color:#ef6600;color:#fff !important;">
  <a class="button button-clear" style="width:40px;height:25px"></a>
  <div class="title title-center header-item" style="color:#fff !important;">车源</div>
  <a class="button button-clear" href="#/message"><img src="img/icon-zn-b.png" alt="最新消息"
                                                       style="width:20px;position:relative;top:2px;"></a>

</ion-header-bar>
<div id="search-bar" style="margin-top:3.0rem;height:2.5rem">
  <div class="item item-input-inset">
    <div class="item-input-wrapper" id="search-input">
      <input style="width:80%" type="text" placeholder="起始地查询" ng-model="carInfoList.sCity" ng-change="doRefresh()">
      <i class="ion ion-ios-close-empty" style="margin-left:30px" ng-if="carInfoList.sCity"
         ng-click="carInfoList.sCity=''"></i>
    </div>
    <a class="button button-small ion-search  button-positive" ng-click="search()">高级</a>
  </div>
</div>

<ion-content style="margin-top:2.5rem;top:50px">
  <ion-refresher pulling-text="<span class='pulling-text-auto'>{{pulltextchange}}</span>" on-refresh="doRefresh()"
                 on-pulling="pulltext()" spinner="ripple" pulling-icon="ion-ios-refresh-empty"></ion-refresher>
  <ion-list>
    <ion-item class="item-remove-animate item_car " ng-repeat="item in items" type="item-text-wrap"
              ng-click="interdetail(item)">
      <div class="content">
        <h2>{{item.sCity||'全国'}} → {{item.eCity||'全国'}}</h2>
        <p>
          <span ng-if="item.vehicleLength">车长:{{item.vehicleLength}}米</span>
          <span ng-if="item.loadWeight">载重:{{item.loadWeight}}吨</span>
          <span ng-if="item.vehicleType">类型:{{item.vehicleType}}</span>
      </div>
      </p>
      <div class="time">
        <span am-time-ago="item.date*1000"></span>
      </div>
    </ion-item>
  </ion-list>
  <div ng-if="items.length==0" class="bar bar-stable">
    <div class="no-content">没有找到您想要的车源</div>
  </div>
  <ion-infinite-scroll ng-if="load_over" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
</ion-content>
