<ion-header-bar class="bar-stable" style="border:0px !important;background-color:#ef6600;color:#fff !important;">
  <a class="button icon-left ion-ios-arrow-left button-clear button-light" style="width:40px;padding:3px 2px 3px 8px;margin-top: 3px;" ng-click="backGo()"></a>
  <div class="title title-center header-item" style="color:#fff !important;">我的货源</div>
  <a class="button button-clear button-light " ng-click="confirm()">确定</a>
</ion-header-bar>
<ion-view view-title="我的货源">
  <ion-content >
  <ion-refresher pulling-text="<span class='pulling-text-auto'>{{pulltextchange}}</span>" on-refresh="doRefresh()" on-pulling="pulltext()" spinner="ripple" pulling-icon="ion-ios-refresh-empty"></ion-refresher>
  <div class="list">
  <ion-radio ng-repeat="item in items"
                   ng-value="item.goodsId"
                   ng-model="carinfo.id" style="color: #9C9A9A;">
           <h2>{{item.placeOfDeparture}}→{{item.destination}} </h2>
        <p>有<span ng-if="item.goodsItemGrossWeight!=0">{{item.goodsItemGrossWeight}}吨</span><span ng-if="item.goodsCube!=0">{{item.goodsCube}}方</span>{{item.goodsClassificationName}}，求{{item.vehicleTypeName}}{{item.vehicleCount}}辆
        </p>
  </ion-radio>
  </div>
    <ion-infinite-scroll  ng-if="load_over" on-infinite="loadMore()" distance="1%" > </ion-infinite-scroll>
  </ion-content>
</ion-view>
