<ion-header-bar class="bar-stable" style="border:0px !important;background-color:#ef6600;color:#fff !important;">
  <div class="title title-center header-item" style="color:#fff !important;">云驿达-货主</div>
  <a class="button button-clear" href="#/message"><img src="img/icon-zn-b.png" alt="最新消息"
                                                       style="width:20px;position:relative;top:2px;"></a>
</ion-header-bar>
<ion-view view-title="云驿达-货主">
  <ion-content padding="true" class="has-header">
    <div class="button-tabs">
      <button class="button button-assertive" ng-class="{'button-active':goodsInfo.goodsType=='零担'}"
              ng-click="changeGoodsType('零担')">零担
      </button>
      <button class="button button-assertive" ng-class="{'button-active':goodsInfo.goodsType=='城市配送'}"
              ng-click="changeGoodsType('城市配送')">城市配送
      </button>
      <button class="button button-assertive" ng-class="{'button-active':goodsInfo.goodsType=='整车'}"
              ng-click="changeGoodsType('整车')">整车
      </button>
    </div>
    <div class="list">
      <label class="item item-input" style="width:100%">
        <span class="input-label" style="width:25%">起始地</span>
        <input type="text" class="text-align-r" placeholder="填写发货信息" ng-model="goodsInfo.sCity"
               ng-click="showStartInfo()" readonly/>
        <i class="icon ion-chevron-right icon-accessory" style="color: #ACACAC;"></i>
      </label>
      <label class="item item-input" style="width:100%">
        <span class="input-label" style="width:25%">目的地</span>
        <input type="text" class="text-align-r" placeholder="填写收货信息" ng-model="goodsInfo.eCity" ng-click="showEndInfo()"
               readonly/>
        <i class="icon ion-chevron-right icon-accessory" style="color: #ACACAC;"></i>
      </label>
      <label class="item item-input" style="width:100%">
        <span class="input-label" style="width:25%">货物信息</span>
        <input type="text" class="text-align-r" placeholder="填写货物信息" ng-model="goodsInfo.goodsInfoText"
               ng-click="showGoodsInfo()" readonly/>
        <i class="icon ion-chevron-right icon-accessory" style="color: #ACACAC;"></i>
      </label>
      <label ng-if="goodsInfo.goodsType!='零担'" class="item item-input" style="width:100%">
        <div class="input-label" style="width:40%">需车类型</div>
        <ionic-dict-picker backdrop=true backdrop-click-to-close=false css-class="text-align-r"
                           dictmodel="goodsInfo.carType" dictdata="car_type" okText="确定"
                           style="width:55%"></ionic-dict-picker>
        <i class="icon ion-chevron-right icon-accessory" style="color: #ACACAC;"></i>
      </label>
      <label ng-if="goodsInfo.goodsType!='零担'&&(goodsInfo.carType&&goodsInfo.carType!='不限')" class="item item-input"
             style="width:100%">
        <div class="input-label" style="width:40%">需车长</div>
        <ionic-dict-picker ng-if="carLengthList.length>0" backdrop=true backdrop-click-to-close=false
                           css-class="text-align-r"
                           dictmodel="goodsInfo.carLength" dictdata="car_length" okText="确定"
                           style="width:55%"></ionic-dict-picker>
        <i class="icon ion-chevron-right icon-accessory" style="color: #ACACAC;"></i>
      </label>
    </div>
    <div class="button-bar">
      <a class="button" href="#/tab/index" style="margin-right:10px;margin-left:10px;"
         ng-show="goodsInfo.goodsType=='零担'" ng-click="getCarrier()">指定发货</a>
      <a class="button button-assertive" ng-click="addGoods()" style="margin-right:10px;margin-left:10px;">{{goodsInfo.goodsType=='零担'?'快捷发货':'立即发货'}}</a>
    </div>
  </ion-content>
</ion-view>
