<ion-header-bar class="bar-stable" style="border:0px !important;background-color:#ef6600;color:#fff !important;">
  <a class="button icon-left ion-ios-arrow-left button-clear button-light"
  style="width:40px;padding:3px 2px 3px 8px;margin-top: 3px;" ng-click="closeEndInfo()"></a>
  <div class="title title-center header-item" style="color:#fff !important;">收货人信息</div>
</ion-header-bar>
<ion-view view-title="收货人信息">
  <ion-content padding="true" class="has-header">
    <div class="list padding">
      <label class="item item-input">
        <span class="input-label" style="width:35%">所在城市</span>
        <ionic-city-picker placeholder="目的城市" backdrop=false backdrop-click-to-close=true css-class="text-align-l"
                           okText="确定" cancelText="返回" isQuan="true" citydata="goodsInfo.eCity" citycode="goodsInfo.eCityCode"
                           style="width:60%;"></ionic-city-picker>
        <i class="icon ion-chevron-right " style="color: #ACACAC;"></i>
      </label>
      <label class="item item-input">
        <span class="input-label">街道</span>
        <input ng-if="streetList.length<=0" type="text" placeholder="选填" ng-model="goodsInfo.eStreet">
        <ionic-dict-picker ng-if="streetList.length>0" backdrop=false backdrop-click-to-close=true
                           css-class="text-align-l"
                           dictmodel="goodsInfo.eStreet" dictdata="street_data" okText="确定"
                           style="width:55%"></ionic-dict-picker>
      </label>
      <label class="item item-input">
        <span class="input-label">详细地址</span>
        <input type="text" placeholder="选填" ng-model="goodsInfo.eAddress">
      </label>
      <label class="item item-input">
        <span class="input-label">收货人</span>
        <input type="text" ng-model="goodsInfo.consignee">
      </label>
      <label class="item item-input" style="border-bottom:1px solid #ccc">
        <span class="input-label">手机号码</span>
        <input type="tel" ng-model="goodsInfo.ePhoneNumber">
      </label>
    </div>
    <div class="button-bar">
      <a class="button button-assertive" ng-click="hideEndInfo()" style="margin-right:10px;margin-left:10px;">确定</a>
    </div>
  </ion-content>
</ion-view>
