<ion-header-bar class="bar-stable" style="border:0px !important;background-color:#ef6600;color:#fff !important;">
  <a class="button icon-left ion-ios-arrow-left button-clear button-light"
     style="width:40px;padding:3px 2px 3px 8px;margin-top: 3px;" ng-click="backGo()"></a>
  <div class="title title-center header-item" style="color:#fff !important;">我的货源</div>
  <a class="button button-clear button-light icon ion-ios-trash-outline"
     ng-click="flag.showDelete=!flag.showDelete"></a>
</ion-header-bar>
<ion-view view-title="我的货源">
  <ion-content>
    <ion-refresher pulling-text="<span class='pulling-text-auto'>{{pulltextchange}}</span>" on-refresh="doRefresh()"
                   on-pulling="pulltext()" spinner="ripple" pulling-icon="ion-ios-refresh-empty"></ion-refresher>

    <ion-list show-delete="flag.showDelete">
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="item in items">
        <!-- <img ng-src="{{chat.face}}"> -->
        <h2>{{item.placeOfDeparture}}→{{item.destination}} </h2>
        <p class="content">有<span ng-if="item.goodsItemGrossWeight!=0">{{item.goodsItemGrossWeight}}吨</span><span
          ng-if="item.goodsCube!=0">{{item.goodsCube}}方</span>{{item.goodsClassificationName}}，求{{item.vehicleTypeName}}{{item.vehicleCount}}辆
        </p><i class="small-button icon" ng-if="item.yxCount!=0" ng-click="enter(item)"
               style="float: right;width: 60px;height: 30px;font-size: 14px;margin-top: 20px;display: inline-block;padding: 5px 0px 5px 0px;">意向</i>
        <!-- ng-click="placeOrde(item.yxList.goodsIntentionId)" -->
        <ion-option-button class="button-assertive icon ion-close-round"
                           ng-click="delGoodsInfo(item.goodsId)"></ion-option-button>
        <ion-delete-button class="ion-minus-circled" ng-click="delGoodsInfo(item.goodsId)"></ion-delete-button>
        <!--  <div ng-show="item.isSHow" >
         <span >{{item.yxList.bizVehicleInfo.contactName}},{{item.yxList.bizVehicleInfo.telephoneNumber}},{{item.yxList.bizVehicleInfo.vehicleTypeName}}车</span>
       </div> -->
      </ion-item>

    </ion-list>
    <ion-infinite-scroll ng-if="load_over" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
    <!-- <ion-infinite-scroll ng-if="vm.moredata" on-infinite="vm.loadMore()" distance="1%" ></ion-infinite-scroll> -->
  </ion-content>
</ion-view>
