<div class="content-box" ng-controller="dictionaryCtrl as vm">
    <div class="search-box">
        <!-- <form class="form-inline" role="form"> -->
        <form class="form-inline ng-pristine ng-valid" role="form" name="menuForm" autocomplete="off" ng-submit="menuUpdate()">
            <div class="form-group form-inline">
                <label for="menuName" class="sr-only">菜单名称</label>
                <select class="form-control width-154" ng-model="pdictid"
                        ng-options="pdict.dictid as pdict.dictname for pdict in pdictList" ng-click="vm.clickToSearch()">
                    <option value="">--根节点--</option>
                </select>
            </div>
        </form>
        <!--         <div class="form-group">
                    <label  for="postName" class="sr-only">员工姓名</label>
                    <input type="text" class="form-control width-154 w-200" id="postName" ng-model="vm.realname" placeholder="员工姓名">
                </div>
                <div class="form-group">
                    <label  for="postName" class="sr-only">开始日期</label>
                    <quick-datepicker ng-model='vm.myDate' date-format='yyyy-MM-dd' time-format='HH:mm:ss' init-value="" default-time="12:00:00" placeholder='开始日期 '></quick-datepicker>
                </div>
                <div class="form-group">
                    <label  for="postName" class="sr-only">结束日期</label>
                      <quick-datepicker ng-model='vm.myEDate' date-format='yyyy-MM-dd' time-format='HH:mm:ss' init-value="" default-time="12:00:00" placeholder='结束日期 '></quick-datepicker>
                </div>
                <button type="button" class="btn btn-sky width-94" ng-click="vm.clickToAdd()"><span class="glyphicon glyphicon-search"></span>搜索</button> -->
        <!-- </form> -->
    </div>
    <div class="control-box">
        <button type="button" class="btn btn-sky width-94" ng-click="vm.clickToAdd()"><span
                class="glyphicon glyphicon-plus margin-4"></span>添加字典
        </button>
    </div>
    <div class="table-responsive-2-1">
    <table class="table table-striped table-hover table-bordered table01 ">
        <thead>
        <tr>
            <td>操作</td>
            <td>字典编码</td>
            <td>字典名称</td>
            <td>字典顺序</td>
            <td>父字典编码</td>
            <td>字典级别</td>
            <td>字典状态</td>
            <td>数据来源</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="dict in vm.dicts">
            <td>
                <a href="" class="glyphicon  glyphicon-edit margin-h10" title="修改" ng-click="vm.clickToEdit(dict)"></a>
                <a href="" class="glyphicon glyphicon-minus-sign margin-h10" title="删除"
                   ng-click="vm.clickToDelete(dict)"></a>
            </td>
            <td>{{dict.dictcode}}</td>
            <td>{{dict.dictname}}</td>
            <td>{{dict.dictorder}}</td>
            <td>{{dict.pdictcode}}</td>
            <td>{{dict.dictlevel}}</td>
            <td>{{dict.dictstatusname}}</td>
            <td>{{dict.datasource}}</td>
        </tr>
        </tbody>
    </table>
    </div>
    <tm-pagination conf="paginationConf" class="page-fix"></tm-pagination>
</div>
</div>