<div class="room-box" ng-controller="dictAddCtrl as vm" >
  <div class="light-box-title"><span class="text-white">字典编辑</span></div>
  <form class="form-horizontal text-normal" name="myForm" autocomplete="off" ng-submit="vm.update()" novalidate>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label for="dictcode" class="col-sm-5 control-label"><code>*</code>字典编码</label>
      <div class="col-sm-7">
        <input type="text" name="dictcode" class="form-control width-154" ng-model="vm.jsondata.dictcode" placeholder="" ng-minlength="1" ng-maxlength="10" required>
        <span class="help-block" ng-show="myForm.submitted && myForm.dictcode.$error.required">请输入字典编码！</span>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label for="dictname" class="col-sm-5 control-label"><code>*</code>字典名称</label>
      <div class="col-sm-7">
        <input type="text" name="dictname" class="form-control width-154" ng-model="vm.jsondata.dictname" placeholder="" ng-minlength="1" ng-maxlength="10" required>
        <span class="help-block" ng-show="myForm.submitted && myForm.dictname.$error.required">请输入字典名称！</span>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label for="dictorder" class="col-sm-5 control-label"><code>*</code>字典顺序</label>
      <div class="col-sm-7">
        <input type="text" name="dictorder" class="form-control width-154" ng-model="vm.jsondata.dictorder" placeholder="" ng-minlength="1" ng-maxlength="10" required>
        <span class="help-block" ng-show="myForm.submitted && myForm.dictorder.$error.required">请输入字典顺序！</span>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label for="pdictcode" class="col-sm-5 control-label"><code>*</code>父字典编码</label>
      <div class="col-sm-7">
        <input type="text" name="pdictcode" class="form-control width-154" ng-model="vm.jsondata.pdictcode" placeholder="" ng-minlength="1" ng-maxlength="10" required>
        <span class="help-block" ng-show="myForm.submitted && myForm.pdictcode.$error.required">请输入父字典编码！</span>
      </div>
    </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label for="dictlevel" class="col-sm-5 control-label"><code>*</code>字典级别</label>
      <div class="col-sm-7">
        <input type="text" name="dictlevel" class="form-control width-154" ng-model="vm.jsondata.dictlevel" placeholder="" ng-minlength="1" ng-maxlength="10" required>
        <span class="help-block" ng-show="myForm.submitted && myForm.dictlevel.$error.required">请输入字典级别！</span>
      </div>
    </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label class="col-sm-5 control-label">字典状态</label>
      <div class="col-sm-7">
         <select class="form-control width-154" placehodler="" ng-model="vm.jsondata.dictstatus" >
            <option value="1" >有效</option>
            <option value="0">无效</option>
          </select>
      </div>
    </div>
    <div class="form-group">
      <div class="text-center">
        <button type="submit" class="btn navbar-btn btn-sky width-94" ><span class="glyphicon glyphicon-ok margin-4"></span>保存</button>
        <button type="button" class="btn navbar-btn btn-default width-94" ng-click="vm.cancel()"><span class="glyphicon glyphicon-remove margin-4"></span>取消</button>
      </div>
    </div>
  </form>
</div>