<div ng-controller="menuAddCtrl as vm">
  <div class="light-box-title"><span class="text-white">{{menuModalTitle}}</span></div>
  <form class="form-horizontal text-normal clearfix" name="menuForm" autocomplete="off" ng-submit="menuUpdate()">
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-class="{'has-error':menuForm.submitted && menuForm.menuname.$invalid}">
      <label class="col-sm-5 control-label">
        <code>*</code>
        菜单名称</label>

      <div class="col-sm-7">
        <input type="text" name="menuname" class="form-control width-154" ng-model="menu.menuname" placeholder="必填项" menu-remote-check required/>
        <span class="help-block" ng-show="menuForm.submitted && menuForm.menuname.$error.required">请输入部门名称</span>
        <span class="help-block glyphicon glyphicon-info-sign" ng-show="!menuId && menuForm.menuname.$error.menuname"> 菜单名称已存在</span>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-class="{'has-error':menuForm.submitted && menuForm.applicationid.$invalid}">
      <label class="col-sm-5 control-label">
        <code>*</code>
        所属模块</label>

      <div class="col-sm-7">
        <select class="form-control width-154" id="applicationid"
                ng-model="menu.applicationid"
                ng-options="app.applicationid as app.applicationname for app in appList" required>
          <option value="">--请选择--</option>
        </select>
        <span class="help-block" ng-show="menuForm.submitted && menuForm.applicationid.$error.required">请选择所属模块</span>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label class="col-sm-5 control-label">
        父级菜单</label>

      <div class="col-sm-7">
        <select class="form-control width-154" name="pmenuid" ng-model="menu.pmenuid"
                ng-options="menuItem.menuid as menuItem.menuname for menuItem in menus"
                ng-init="menuItem.menuid=menu.pmenuid">
          <option value="">--请选择--</option>
        </select>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label class="col-sm-5 control-label">页面链接</label>

      <div class="col-sm-7">
        <input name="menuurl" type="text" class="form-control width-154" ng-model="menu.menuurl"/>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label class="col-sm-5 control-label">页面参数</label>

      <div class="col-sm-7">
        <input name="menuicon" type="text" class="form-control width-154" ng-model="menu.menuparam"/>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label class="col-sm-5 control-label">菜单图标</label>

      <div class="col-sm-7">
        <input name="menuicon" type="text" class="form-control width-154" ng-model="menu.menuicon"/>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label class="col-sm-5 control-label">排序</label>

      <div class="col-sm-7">
        <input name="menuorder" type="text" class="form-control width-154" ng-model="menu.menuorder"/>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label class="col-sm-5 control-label">是否有效</label>

      <div class="col-sm-7">
        <select class="form-control width-154" id="status" ng-model='menu.status'>
          <option value="1">有效</option>
          <option value="0">无效</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 row handle-row control-label">备注</label>

      <div class="col-sm-9  ticket-beihzhu">
        <textarea name="menudesc" class="form-control" ng-model="menu.menudesc"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="text-center clear">
        <button type="submit" class="btn navbar-btn btn-sky width-94" ng-disabled="menuForm.$invalid"><span class="glyphicon glyphicon-ok margin-4"></span>确定</button>
        <button type="button" class="btn navbar-btn btn-default width-94" ng-click="menuCancel()"><span
          class="glyphicon glyphicon-remove margin-4"></span>取消
        </button>
      </div>
    </div>
  </form>
</div>
