<div ng-controller="roleAddCtrl as vm" id="aaaa">
    <div class="light-box-title"  onmousedown="Move_obj('testaaa')"><span class="text-white">{{roleModalTitle}}</span></div>
    <form class="form-horizontal text-normal" name="roleForm" autocomplete="off" ng-submit="roleUpdate()">
        <div class="form-group col-sm-4" ng-class="{'has-error':roleForm.submitted && roleForm.rolename.$invalid}">


            <div class="col-sm-12">
                <input type="text" name="rolename" class="form-control width-154" ng-model="role.rolename" placeholder="岗位名称" role-remote-check required/>
                <span class="help-block" ng-show="roleForm.submitted && roleForm.rolename.$error.required">请输入岗位名称</span>
                <span class="help-block glyphicon glyphicon-info-sign" ng-show="!roleId && roleForm.rolename.$error.rolename"> 岗位名称已存在</span>
                <!--<input type="text" name="rolename" class="form-control width-154" ng-model="role.rolename" placeholder="必填项"-->
                       <!--required/>-->
                <!--<span class="help-block"-->
                      <!--ng-show="roleForm.submitted && roleForm.rolename.$error.required">请输入岗位名称</span>-->
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="sr-only">状态</label>

            <div class="col-sm-12">
                <select class="form-control width-154" id="status" ng-model='role.status'>
                    <option value="">--请选择岗位状态--</option>
                    <option value="1">启用</option>
                    <option value="0">禁用</option>
                </select>
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="sr-only">岗位描述</label>

            <div class="col-sm-12">
                <input name="roledesc" class="form-control width-154" ng-model="role.roledesc" placeholder="岗位描述"/>
            </div>
        </div>
        <div class="form-group">
            <script type="text/ng-template" id="menus_renderer.html">
                <div ui-tree-handle class="tree-node tree-node-content">
                    <input type="checkbox" ng-checked="menu.selected" ng-click="selectItem(menu)">
                    {{menu.menuname}}
                    <ol ui-tree-nodes="" ng-model="menu.menus" ng-class="{hidden: collapsed}" data-horizontal="">
                        <li ng-repeat="menu in menu.menus" ui-tree-node ng-include="'menus_renderer.html'">
                        </li>
                    </ol>
                </div>
            </script>
            <script type="text/ng-template" id="apps_renderer.html">
                <div ui-tree-handle class="tree-node tree-node-content role-clear" ng-click="toggle(this)">
                    <a class="btn pull-right btn-xs" data-nodrag ><span class="glyphicon"
                                                                                                ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
                    {{app.applicationname}}
                </div>
                <ol ui-tree-nodes="" ng-model="app.menus" ng-class="{hidden: collapsed}" data-horizontal="">
                    <li class="pull-left role-add" ng-repeat="menu in app.menus" ui-tree-node ng-include="'menus_renderer.html'">
                    </li>
                </ol>
            </script>
            <div class="clearfix"></div>
            <div ui-tree="" id="tree-root" class="ng-scope angular-ui-tree" data-drag-enabled="false" >
                <ol ui-tree-nodes="" ng-model="vm.appList" data-horizontal=""
                    class="ng-scope ng-pristine ng-valid angular-ui-tree-nodes">
                    <li class="li-clear" ng-repeat="app in vm.appList" ui-tree-node="" ng-include="'apps_renderer.html'"
                        class="ng-scope angular-ui-tree-node" collapsed="true"></li>
                </ol>
            </div>
        </div>
        <div class="form-group">
            <div class="text-center">
                <button type="submit" class="btn navbar-btn btn-sky width-94" ng-disabled="roleForm.$invalid"><span
                        class="glyphicon glyphicon-ok margin-4"></span>确定
                </button>
                <button type="button" class="btn navbar-btn btn-default width-94" ng-click="roleCancel()"><span
                        class="glyphicon glyphicon-remove margin-4"></span>取消
                </button>
            </div>
        </div>
    </form>
</div>
