<div class="content-box" ng-controller="roleSettingCtrl as vm">
    <div class="nav-yyd-box">
        <div class="nav_car">
            <ul class="nav nav-tabs nav-yyd" ng-init="vm.activeTab=1">
                <li ng-class="{active: vm.activeTab == 1}"><a href="javascript:;" ng-click="vm.activeTab = 1">岗位管理</a></li>
                <li ng-class="{active: vm.activeTab == 2}"><a href="javascript:;" ng-click="vm.activeTab = 2">人员授权</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-panel clearfix" ng-show="vm.activeTab == 1">
                <div class="content-box top-padding">
                    <div class="search-box top-margin">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label for="roleName" class="sr-only">岗位名称</label>
                                <input type="text" class="form-control width-154 input-inline" id="roleName"
                                       ng-model="vm.roleList.query.roleName" placeholder="岗位名称">
                            </div>
                            　
                            <div class="form-group">
                                <label for="status" class="sr-only">状态</label>
                                <select class="form-control width-154" id="status" placehodler="状态"
                                        ng-model='vm.roleList.query.status' ng-change="queryClick()">
                                    <option value="">--选择状态--</option>
                                    <option value="1">启用</option>
                                    <option value="0">禁用</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-sky width-94" ng-click="queryClick()"><span
                                    class="glyphicon glyphicon-search margin-4"></span>搜索
                            </button>
                            <button type="button" class="btn btn-reset" ng-click="ResetQuery()"><span
                                    class="glyphicon glyphicon-repeat margin-4"></span>重置
                            </button>
                        </form>
                    </div>
                    <div class="control-box">
                        <button type="button" class="btn btn-sky width-94" ng-click="addRoleClick()"><span
                                class="glyphicon glyphicon-plus-sign margin-4"></span>新增
                        </button>
                    </div>
                    <div class="table-responsive-3-1">
                        <table class="table table-striped table-hover table-bordered table01">
                            <thead>
                            <tr>
                                <td>操作</td>
                                <td>岗位名称</td>
                                <td>岗位描述</td>
                                <td>状态</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in vm.roleList.items">
                                <td>
                                    <a href="" class="glyphicon glyphicon glyphicon-edit margin-h10" title="编辑"
                                       ng-click="editRoleClick(item.roleid)"></a>
                                    <a href="" class="glyphicon glyphicon-trash margin-h10" title="删除"
                                       ng-click="delClick(item.roleid)"></a>
                                    <a href="" class="glyphicon glyphicon-ban-circle margin-h10"
                                       title="{{item.status==1?'禁用':'启用'}}"
                                       ng-click="disableRoleClick(item.roleid,item.status==1?0:1)"></a>
                                    <a href="" class="glyphicon glyphicon-user margin-h10" title="授权给人员"
                                       ng-click="roleAuthClick(item.roleid)"></a>
                                </td>
                                <td>{{item.rolename}}</td>
                                <td>{{item.roledesc}}</td>
                                <td>{{item.status==1?'启用':'禁用'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <tm-pagination conf="vm.roleList" class="page-fix"></tm-pagination>
                </div>
            </div>
            <div class="tab-panel clearfix" ng-show="vm.activeTab == 2">
                <div class="content-box top-padding">
                    <div class="search-box top-margin">
                        <form class="form-inline padding-7" role="form">
                            <div class="radio radio-group">
                                <span class="text-primary">岗位</span>
                                <span ng-repeat="role in vm.authRoleList">
                                <label><input type="radio" name="roleName"
                                              ng-click="roleChange(role.roleid)"
                                              ng-checked="authRoleId===role.roleid">{{role.rolename}}
                                </label>
                                </span>
                            </div>
                        </form>
                    </div>
                    <dl class="post-setting-box pull-left">
                        <dt>未分配岗位人员</dt>
                        <dd ng-repeat="item in vm.unAuthUserList" ng-class="{'active-select':item.selected}"
                            ng-click="unSelectUser(item)">{{item.realname}}
                        </dd>
                    </dl>
                    <div class="post-setting-btn pull-left">
                        <button type="button" class="btn-border" ng-click="moveSelectUser()"><i
                                class="fa fa-angle-left"></i></button>
                        <button type="button" class="btn-border" ng-click="moveUnSelectUser()"><i
                                class="fa fa-angle-right"></i></button>
                        <button type="button" class="btn-border" ng-click="moveAllSelectUser()"><i
                                class="fa fa-angle-double-left"></i></button>
                        <button type="button" class="btn-border" ng-click="moveAllUnSelectUser()"><i
                                class="fa fa-angle-double-right"></i></button>
                    </div>
                    <dl class="post-setting-box pull-left">
                        <dt>已分配岗位人员</dt>
                        <dd ng-repeat="item in vm.authUserList" ng-class="{'active-select':item.selected}"
                            ng-click="selectUser(item)">{{item.realname}}
                        </dd>
                    </dl>
                    <div class="clear"></div>
                    <div class="role-margin">
                        <button type="button" class="btn btn-sky width-94" ng-click="saveUserAuth()"><i
                                class="fa fa-save"></i> 保存
                        </button>
                        <button type="button" class="btn btn-sky width-94" ng-click="ResetQuery()"><i
                                class="fa fa-undo"></i> 重置
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>