<div ng-controller="staffChangePwdCtrl as vm">
  <div class="light-box-title"><span class="text-white">修改密码</span></div>
  <form class="form-horizontal text-normal" name="staffChangePwdForm" autocomplete="off" ng-submit="changePwd()">
    <div class="form-group">
      <label class="col-sm-3 control-label">密码</label>
      <div class="col-sm-9">
        <input name="password" type="text" class="form-control width-154" ng-model="vm.password" ng-minlength="6" placeholder="不填写默认为123456" />
        <span class="help-block" ng-show="staffChangePwdForm.submitted && staffChangePwdForm.password.$error.required">密码长度最少6个字符</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn navbar-btn btn-sky width-94" ng-disabled="staffChangePwdForm.$invalid"><span class="glyphicon glyphicon-ok margin-4"></span>确定</button>
        <button type="button" class="btn navbar-btn btn-default width-94" ng-click="changePwdCancel()"><span
          class="glyphicon glyphicon-remove margin-4"></span>取消
        </button>
      </div>
    </div>
  </form>
</div>
