.audit-input{width: 637px !important;margin: 0 auto !important;height: 94px !important;}
.audit-choice{margin-left: 86px;overflow: hidden;clear: both;}
.no-margin{margin-bottom: 0 !important;}
.prompt1{padding:10px 0 0  100px;}
.prompt2{padding:10px 0 0  20px;}
.btn-yanzheng{margin: 57px 0 107px !important; }
.box-yanzheng{margin: 80px 0 51px !important;}
.time-line{border-top: 2px dashed #8d8d8d;width: 66px;height: 1px;display: inline-block;float: left;margin-top: 11px;}
.manage-time{color: #636363;font-size: 16px;font-family: 微软雅黑;float: left;margin: 0 10px;}
.manage-time-all{overflow: hidden;margin: 0 auto;width: 248px;}
.box-manage-main{width: 816px;height: 124px;background: #e7e7e7;margin: 18px auto 30px;padding:7px 17px;overflow: hidden;}
.box-manage-img{width: 100px;height: 100px;background: #a9a6a6;float: left;margin:6px 18px 0 0;}
.box-manage-r{overflow: hidden;float: left;}
.box-manage-name{color: #000;font-size: 16px;font-family: 微软雅黑;margin-top: 11px;}
.box-manage-person{margin-right: 50px;overflow: hidden;}
.box-manage-btn{overflow: hidden;float: right;margin: 45px 10px 0 0;}
.btn-jujue{width: 55px;height: 24px;background: #fff;margin-left: 10px;width:60px;text-align: center;}
.btn-approval{overflow: hidden;border:none;width: 60px;text-align: center;}