<ion-header-bar class="bar-stable" style="border:0px !important;background-color:#ef6600;color:#fff !important;">
  <a class="button button-clear" style="width:40px;height:25px"></a>
  <div class="title title-center header-item" style="color:#fff !important;">订单</div>
  <a class="button button-clear" href="#/message"><img src="img/icon-zn-b.png" alt="最新消息"
                                                       style="width:20px;position:relative;top:2px;"></a>
</ion-header-bar>
<ion-content>
  <ion-list>
    <ion-refresher pulling-text="<span class='pulling-text-auto'>{{pulltextchange}}</span>" on-refresh="doRefresh()"
                   on-pulling="pulltext()" spinner="ripple" pulling-icon="ion-ios-refresh-empty"></ion-refresher>
    <ion-item ng-repeat="item in orderList" style="margin: 0px;padding: 0px;border: 0px;">
      <p style="height: 28px;padding:5px 12px 2px 12px;color: #222222;" ng-click="orderDetail(item)">
        {{item.goods.sCity}}→{{item.goods.eCity}}
        <i class="icon ion-android-time" style="float: right;"><span
          style="font-size: 14px;display: inline-block;padding: 0px 0px 0px 4px;"
          am-time-ago="item.updatedAt"></span></i>
      </p>
      <p
        style="height: 45px;padding:12px;color: #222222;border-top: dashed 1px #c0c0c0;border-bottom: dashed 1px #c0c0c0;background-color: #f0f0f0"
        ng-click="orderDetail(item)">
        <span>{{item.goods.goodsName}}</span>
        <span>{{item.goods.goodsNumber+item.goods.goodsUnit}}</span>
        <span ng-if="item.goods.carType!='不限'">需{{item.goods.carType}}</span>
        <span style="color: #ef6600;float: right">{{item.goodsOrderStatus}}</span>
      </p>
      <p style="height: 36px;padding:2px 5px 2px 12px;color: #222222;border-bottom: solid 1px #c0c0c0;">
        <span style="padding-top: 5px;display: inline-block;">{{item.goods.goodsType}} /</span>
        <span style="color: #ef6600;padding-top: 5px;display: inline-block;">{{item.goods.goodsAttribute}}</span>
        <button class="button button-small button-order-active"
                ng-if="item.goodsOrderStatus=='未接单'||item.goodsOrderStatus=='接单'||item.goodsOrderStatus=='取消接单'||item.goodsOrderStatus=='已取消'"
                ng-click="refreshOrder(item.goodsOrderId)">重新发布
        </button>
        <button class="button button-small button-order"
                ng-if="item.goodsOrderStatus=='未接单'||item.goodsOrderStatus=='接单'"
                ng-click="cancelOrder(item.goodsOrderId)">取消订单
        </button>
        <button class="button button-small button-order"
                ng-if="item.goodsOrderStatus=='已取消'||item.goodsOrderStatus=='已完成'"
                ng-click="deleteOrder(item.goodsOrderId)">删除订单
        </button>
        <button class="button button-small button-order"
                ng-if="item.goodsOrderStatus=='未评价'"
                ng-click="orderEvaluate(item.goodsOrderId)">马上评价
        </button>
      </p>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll ng-if="load_over" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
  <div ng-if="orderList.length==0" class="bar bar-stable">
    <div class="no-content">目前没有订单</div>
  </div>
</ion-content>
