<ion-header-bar class="bar-stable" style="border:0px !important;background-color:#ef6600;color:#fff !important;">
  <a class="button icon-left ion-ios-arrow-left button-clear button-light"
     style="width:40px;padding:3px 2px 3px 8px;margin-top: 3px;" ng-click="hideDriverInfo()"></a>
  <div class="title title-center header-item" style="color:#fff !important;">{{driverInfo.userType}}</div>
  <a class="button button-clear" style="width:40px;height:25px"></a>
</ion-header-bar>
<ion-view view-title="{{driverInfo.userType}}">
  <ion-content class="padding">
    <section ng-if="driverInfo.userType=='物流企业'" class="relative" style="height: auto;">
      <div style="width:100%;margin:10px auto;text-ailgn:center;">
        <div class="card" style="margin:5px 0px !important;">
          <!--<div class="item item-divider">-->
            <!--{{driverInfo.userType}}信息-->
          <!--</div>-->
          <div class="item item-text-wrap">
            <!-- 物流企业信息 -->
            <label class="item-detail">
              <label style="width: 22em;font-size: 16px;font-weight: bold;text-align: center;">{{driverInfo.enterpriseName}}</label>
              <label ng-if="orderItem.carrier.evaluationScore"
                     style="background: url(img/fen.png) no-repeat;padding:5px 10px 0px 40px;color: #ffffff; width: 80px;height: 29px;background-size: 70px 29px;">{{orderItem.carrier.evaluationScore}}</label>
            </label>
            <label class="item-detail">
              <div style="width:35%" class="order-detail-label">公司详细地址：</div>
              <label style="width: 64%;">{{driverInfo.city+driverInfo.street+driverInfo.address}}</label>
            </label>
            <label class="item-detail">
              <div style="width:35%" class="order-detail-label">联系人：</div>
              <label>{{driverInfo.realName|handleRealName}}</label>
            </label>
            <label class="item-detail">
              <div style="width:35%" class="order-detail-label">身份证号码：</div>
              <label>{{driverInfo.cardNumber|handleCardNumber}}</label>
            </label>
            <label class="item-detail">
              <div style="width:35%" class="order-detail-label">联系电话：</div>
              <label>{{driverInfo.phoneNumber}}</label>
            </label>
            <label ng-if="driverItem.businessLicenseNumber" class="item-detail">
              <div style="width:35%" class="order-detail-label">营业执照编号：</div>
              <label>{{driverItem.businessLicenseNumber|handleBusinessLicenseNumber}}</label>
            </label>
            <div>
              <label class="item-detail">
                <div style="width:35%" class="order-detail-label">经营业务类型：</div>
                <label>{{driverItem.businessType}}</label>
              </label>
            </div>
          </div>
        </div>
        <!-- 专线信息 -->
        <div ng-if="driverInfo.goodsLines&&driverInfo.goodsLines.length>0" class="card"
             style="margin:10px 0px !important;">
          <div class="item item-divider">
            经营专线
          </div>
          <div class="item item-text-wrap">
            <div class="list" ng-repeat="line in driverInfo.goodsLines">
                <span style="width: 100%;display: inline-block;">
                  <img style="width: 18px;height: 27px;vertical-align: bottom" src="img/red-marker.png"/>
                  {{line.sCity+line.sStreet}} <img style="width: 25px;height: 15px;" src="img/zhi.jpg"/>
                  <img style="width: 18px;height: 27px;vertical-align: bottom" src="img/gray-marker.png"/>
                  {{line.eCity+line.eStreet}}
                </span>
                <span style="width: 100%;display: inline-block;padding-left: 20px;">
                  <label style="font-size: 12px;color:#FF0000">最低一票：{{line.lowGoodsPrice?line.lowGoodsPrice+'元':'面议'}}</label>
                  <label style="font-size: 12px;color:#FF0000">重货：{{line.lowGoodsPrice?line.heavyGoodsPrice+'元/吨':'面议'}}</label>
                  <label style="font-size: 12px;color:#FF0000">泡货：{{line.lowGoodsPrice?line.cargoGoodsPrice+'元/方':'面议'}}</label>
                </span>
            </div>
          </div>
        </div>
        <!-- 订单评价 -->
        <div ng-if="orderItem.carrier.orderTotal&&orderItem.carrier.orderTotal>0" class="card"
             style="margin:10px 0px !important;">
          <div class="item item-divider">
            累计完成订单数({{orderItem.carrier.orderTotal}}单)
          </div>
          <div style="padding: 0px" class="item item-text-wrap">
            <div class="list">
              <a class="item item-thumbnail-right" href="#" ng-repeat="order in orderItem.carrier.orderList">
                <span style="display: inline-block;width: 45%;">
                  <h2>{{order.updatedAt | amDateFormat:'MM月DD日 HH:mm'}}</h2>
                  <p>{{order.evaluationContent}}</p>
                </span>
                <span style="margin:10px 15px 0px 0px;float: right;width: 45%;text-align: right;">
                  <label style="width: 16px;height: 15px;background-size: 16px 15px;margin:0px;"
                         ng-class="{'stared':orderItem.carrier.evaluationScore>=1,'star':orderItem.carrier.evaluationScore<1}"></label>
                  <label style="width: 16px;height: 15px;background-size: 16px 15px;margin:0px;"
                         ng-class="{'stared':orderItem.carrier.evaluationScore>=2,'star':orderItem.carrier.evaluationScore<2}"></label>
                  <label style="width: 16px;height: 15px;background-size: 16px 15px;margin:0px;"
                         ng-class="{'stared':orderItem.carrier.evaluationScore>=3,'star':orderItem.carrier.evaluationScore<3}"></label>
                  <label style="width: 16px;height: 15px;background-size: 16px 15px;margin:0px;"
                         ng-class="{'stared':orderItem.carrier.evaluationScore>=4,'star':orderItem.carrier.evaluationScore<4}"></label>
                  <label style="width: 16px;height: 15px;background-size: 16px 15px;margin:0px;"
                         ng-class="{'stared':orderItem.carrier.evaluationScore>=5,'star':orderItem.carrier.evaluationScore<5}"></label>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section ng-if="driverInfo.userType=='司机'">
      <div>
        <img ng-src="{{driverItem.cars[0].carImage}}" width="100%" height="100px">
      </div>
      <div style="width:100%;margin:10px auto;text-ailgn:center;">
        <div class="card" style="margin:5px 0px !important;">
          <div class="item item-divider">
            {{driverInfo.userType}}信息
          </div>
          <div class="item item-text-wrap">
            <!-- 司机信息 -->
            <!--<label class="item-detail">-->
            <!--<div style="width:35%" class="order-detail-label">司机名称：</div>-->
            <!--<label>{{driverInfo.realName}}</label>-->
            <!--</label>-->
            <label class="item-detail">
              <div style="width:35%" class="order-detail-label">车牌号：</div>
              <label>{{driverItem.cars[0].carNumber}}</label>
              <label ng-if="driverInfo.evaluationScore"
                     style="border-radius:5px;border:1px solid #ffbd08;background: #ffbd08;padding:0px 10px 0px 10px;color: #ffffff;">{{driverInfo.evaluationScore}}</label>
            </label>
            <label class="item-detail">
              <div style="width:35%" class="order-detail-label">车型：</div>
              <label>{{driverItem.cars[0].carType}}</label>
            </label>
            <label class="item-detail">
              <div style="width:35%" class="order-detail-label">车长：</div>
              <label>{{driverItem.cars[0].carLength}}</label>
            </label>
            <label class="item-detail">
              <div style="width:35%" class="order-detail-label">证件号码：</div>
              <label>{{driverInfo.cardNumber|handleCardNumber}}</label>
            </label>
            <label class="item-detail">
              <div style="width:35%" class="order-detail-label">联系电话：</div>
              <label>{{driverInfo.phoneNumber}}</label>
            </label>
          </div>
        </div>
        <!-- 订单评价 -->
        <div ng-if="orderItem.carrier.orderTotal&&orderItem.carrier.orderTotal>0" class="card"
             style="margin:10px 0px !important;">
          <div class="item item-divider">
            累计完成订单数—{{orderItem.carrier.orderTotal}}单
          </div>
          <div style="padding: 0px" class="item item-text-wrap">
            <div class="list">
              <a class="item item-thumbnail-right" href="#" ng-repeat="order in orderItem.carrier.orderList">
                <span style="display: inline-block;width: 45%;">
                  <h2>{{order.updatedAt | amDateFormat:'MM月DD日 HH:mm'}}</h2>
                  <p>{{order.evaluationContent}}</p>
                </span>
                <span style="margin:10px 15px 0px 0px;float: right;width: 45%;text-align: right;">
                  <label style="width: 16px;height: 15px;background-size: 16px 15px;margin:0px;"
                         ng-class="{'stared':order.evaluationLevel>=1,'star':order.evaluationLevel<1}"></label>
                  <label style="width: 16px;height: 15px;background-size: 16px 15px;margin:0px;"
                         ng-class="{'stared':order.evaluationLevel>=2,'star':order.evaluationLevel<2}"></label>
                  <label style="width: 16px;height: 15px;background-size: 16px 15px;margin:0px;"
                         ng-class="{'stared':order.evaluationLevel>=3,'star':order.evaluationLevel<3}"></label>
                  <label style="width: 16px;height: 15px;background-size: 16px 15px;margin:0px;"
                         ng-class="{'stared':order.evaluationLevel>=4,'star':order.evaluationLevel<4}"></label>
                  <label style="width: 16px;height: 15px;background-size: 16px 15px;margin:0px;"
                         ng-class="{'stared':order.evaluationLevel>=5,'star':order.evaluationLevel<5}"></label>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="button-bar" style="margin-top:10px">
      <a class="button button-assertive" style="margin-right:10px;margin-left:10px;"
         href="tel:{{driverInfo.phoneNumber}}">马上联系
      </a>
    </div>
  </ion-content>
</ion-view>
