<div ng-controller="editPerRecordsCtrl as vm">
  <div class="light-box-title"><span class="text-white">消息管理器</span></div>
  <form class="form-horizontal text-normal" name="myForm" autocomplete="off" ng-submit="vm.edit()">
      <div class="manage-time-all">
            <span class="time-line"></span><span class="manage-time">2015-08-15</span><span class="time-line"></span>
      </div>
      <div class="box-manage-main">
            <div class="box-manage-img"></div>
            <div class="box-manage-r">
                  <div class="box-manage-name">企业名称：湖南省交通物流公司</div>
                  <div class="box-manage-name"><span class="box-manage-person">联系人：王飞</span>联系电话：13568883681</div>
                  <div class="box-manage-name">附加信息：添加时新增的验证说明（我是xxx公司） 拷贝</div>
            </div>
            <div class="box-manage-btn">
                  <select class="btn-approval">
                      <option value="">同意</option>
                  </select>
                  <button class="btn-jujue">拒绝</button>
            </div>
      </div>
      <div class="manage-time-all">
            <span class="time-line"></span><span class="manage-time">2015-08-15</span><span class="time-line"></span>
      </div>
      <div class="box-manage-main">
            <div class="box-manage-img"></div>
            <div class="box-manage-r">
                  <div class="box-manage-name">企业名称：湖南省交通物流公司</div>
                  <div class="box-manage-name"><span class="box-manage-person">联系人：王飞</span>联系电话：13568883681</div>
                  <div class="box-manage-name">附加信息：添加时新增的验证说明（我是xxx公司） 拷贝</div>
            </div>
            <div class="box-manage-btn">
                  <select class="btn-approval">
                      <option value="">同意</option>
                  </select>
                  <button class="btn-jujue">拒绝</button>
            </div>
      </div>
      <div class="form-group">
        <div class="text-center">
          <button type="submit" class="btn navbar-btn btn-sky width-94">清空列表</button>
        </div>
      </div>
  </form>
</div>
