<div class="room-box" ng-controller="searchEnterpriseCtrl as vm">
  <div class="light-box-title">
    <span class="text-white">查找</span>
  </div>
  <div class="form-group col-sm-12">
    <div class=" col-sm-8" class="margin-t1">
     <input class="form-control h-30" type="text" ng-model="vm.querydata.enterpriseInfo" placeholder="输入企业名称/联系人/联系电话查找" >
     </div>
    <div class="col-sm-4">
      <button class="btn navbar-btn btn-sky width-94"  type="button" ng-click="vm.queryEnterpriseInfo()"><span class="glyphicon glyphicon-ok margin-4"></span>查找</button>
    </div>
  </div>
  <div class="margin-lt1">
    <label>{{vm.msg}}</label>
  </div>
  <div class="share-r-main">
    <div class="search-result" ng-repeat="item in vm.enterpriseList">
      <div  class="float-l">
      <img class="img-mid" src="{{!item.logourl?'assets/images/no_picture.jpg':item.logourl}}">
      </div>
      <div class="margin-lt2">
        <p> <span>{{item.enterprisename}}</span> </p>
         <p> <p>联系人：{{item.contactname}}</p> <p>联系电话：{{item.telephonenumber}}</p></p>
         <p> <button class="btn-sky width-94" ng-click="vm.addEnterpriseClick(item)"><span class="glyphicon glyphicon-ok margin-4">添加</span></button> </p>
      </div>
    </div>
  </div>
</div>
