<ion-header-bar class="bar-stable" style="border:0px !important;background-color:#ef6600;color:#fff !important;">
  <a class="button button-clear" style="width:40px;height:25px" ></a>
  <div class="title title-center header-item" style="color:#fff !important;">订单</div>
  <a class="button button-clear" href="#/message"><img src="img/icon-zn-b.png" alt="最新消息" style="width:20px;position:relative;top:2px;"></a>
</ion-header-bar>
<div class="tabs-striped tabs-top tabs-light tabs-icon-top">
  <div class="tabs" style="top: 55px;">
    <a ng-class="{a: 'tab-item active', b: 'tab-item', c: 'tab-item'}[isActive]" data-active="a" ng-click="changeTab($event)" style="font-size:16px;line-height:48px;">待确认订单</a>
    <a ng-class="{a: 'tab-item ', b: 'tab-item active', c: 'tab-item'}[isActive]" data-active="b" ng-click="changeTab($event)" style="font-size:16px;line-height:48px;">承运中订单</a>
    <a ng-class="{a: 'tab-item', b: 'tab-item ', c: 'tab-item active'}[isActive]" data-active="c" ng-click="changeTab($event)" style="font-size:16px;line-height:48px;">历史订单</a>
  </div>
</div>
<ion-content class="has-subheader" style="    top: 110px;">


<div ng-if="isActive == 'a'">
<ion-refresher pulling-text="<span class='pulling-text-auto'>{{pulltextchange}}</span>" on-refresh="doRefresh1()" on-pulling="pulltext()" spinner="ripple" pulling-icon="ion-ios-refresh-empty"></ion-refresher>

    <ion-list show-delete="flag.showDelete">
      <ion-item  class="item-remove-animate item-icon-right" ng-repeat="item in pendinglist">
        <!-- <img ng-src="{{chat.face}}"> -->
        <h2 ng-click="goodsdetail(item)">{{item.placeOfDeparture}}→{{item.destination}} </h2>
        <p class="content" ng-click="goodsdetail(item)">有<span ng-if="item.goodsItemGrossWeight!=0">{{item.goodsItemGrossWeight}}吨</span><span ng-if="item.goodsCube!=0">{{item.goodsCube}}方</span>{{item.goodsClassificationName}}，求{{item.vehicleTypeName}}{{item.vehicleCount}}辆
        </p>
        <i class="small-button icon" ng-if="item.yxCount!=0" ng-click="enter(item)"
        style="float: right;width: 60px;height: 30px;font-size: 14px;margin-top: 20px;display: inline-block;padding: 5px 0px 5px 0px;">意向</i>
<!-- ng-click="placeOrde(item.yxList.goodsIntentionId)" -->
        <ion-option-button class="button-assertive icon ion-close-round" ng-click="delGoodsInfo(item.goodsId)"></ion-option-button>
        <ion-delete-button class="ion-minus-circled" ng-click="delGoodsInfo(item.goodsId)"></ion-delete-button>
       <!--  <div ng-show="item.isSHow" >
        <span >{{item.yxList.bizVehicleInfo.contactName}},{{item.yxList.bizVehicleInfo.telephoneNumber}},{{item.yxList.bizVehicleInfo.vehicleTypeName}}车</span>
      </div> -->
      </ion-item>

    </ion-list>

<!-- <ion-list>
   <ion-item class="item-remove-animate item_car" ng-repeat="item in pendinglist" type="item-text-wrap" ng-click="orderdetail(item.orderId)" >
  <div class="content">
   <h2>{{item.placeOfDeparture||'全国'}} → {{item.destination||'全国'}}</h2>
   <p >有
   <span ng-if="item.goodsItemGrossWeight!=0" >{{item.goodsItemGrossWeight}}吨</span>
   <span ng-if="item.goodsCube!=0" >{{item.goodsCube}}方</span>
   {{item.goodsClassificationName||'货'}},求
   <span ng-if="item.vehicleCount">{{item.vehicleCount}}辆</span>
   {{item.vehicleTypeName||'车'}}
   </p>
  </div>
    <div class="time">
        <span am-time-ago="item.issueDateTime"></span>
    </div>

 </ion-item>
</ion-list> -->
<div ng-if="pendinglist.length==0" class="bar bar-stable">
  <div class="no-content">目前还没有待定订单</div>
</div>

<ion-infinite-scroll  ng-if="load_over1" on-infinite="loadMore1()" distance="10%" > </ion-infinite-scroll>
</div>

<div ng-if="isActive == 'b'">
<ion-refresher pulling-text="<span class='pulling-text-auto'>{{pulltextchange}}</span>" on-refresh="doRefresh2()" on-pulling="pulltext()" spinner="ripple" pulling-icon="ion-ios-refresh-empty"></ion-refresher>

   <ion-list>
   <ion-item class="item-remove-animate item_car" ng-repeat="item in orderlist" type="item-text-wrap"  ng-click="orderdetail(item.orderId)">
   <div class="content">
   <h2>{{item.placeOfDeparture||'全国'}} → {{item.destination||'全国'}}</h2>
   <p >有
   <span ng-if="item.goodsItemGrossWeight!=0" >{{item.goodsItemGrossWeight}}吨</span>
   <!-- <span ng-if="item.goodsCube!=0" >{{item.goodsCube}}方</span> -->
   {{item.goodsClassificationName||'货'}},求
   <span ng-if="item.vehicleCount">{{item.vehicleCount}}辆</span>
   {{item.vehicleTypeName||'车'}}
   </p>
     </div>
    <div class="time">
        <span am-time-ago="item.issueDateTime"></span>
    </div>

  </ion-item>
</ion-list>
<div ng-if="orderlist.length==0" class="bar bar-stable">
  <div class="no-content">目前还没有进行中订单</div>
</div>

<ion-infinite-scroll  ng-if="load_over2" on-infinite="loadMore2()" distance="10%" > </ion-infinite-scroll>
</div>
<div ng-if="isActive == 'c'">
<ion-refresher pulling-text="<span class='pulling-text-auto'>{{pulltextchange}}</span>" on-refresh="doRefresh2()" on-pulling="pulltext()" spinner="ripple" pulling-icon="ion-ios-refresh-empty"></ion-refresher>

    <ion-list>
    <ion-item class="item-remove-animate item_car" ng-repeat="item in historyorderlist" type="item-text-wrap" ng-click="orderdetail(item.orderId)">
   <div class="content">
   <h2>{{item.placeOfDeparture||'全国'}} → {{item.destination||'全国'}}</h2>
   <p >有
   <span ng-if="item.goodsItemGrossWeight!=0" >{{item.goodsItemGrossWeight}}吨</span>
   <!-- <span ng-if="item.goodsCube!=0" >{{item.goodsCube}}方</span> -->
   {{item.goodsClassificationName||'货'}},求
   <span ng-if="item.vehicleCount">{{item.vehicleCount}}辆</span>
   {{item.vehicleTypeName||'车'}}
   </p>
     </div>
    <div class="time">
        <span am-time-ago="item.issueDateTime"></span>
    </div>
    </ion-item>
  </ion-list>
  <div ng-if="historyorderlist.length==0" class="bar bar-stable">
    <div class="no-content">目前还没有历史订单</div>
  </div>

<ion-infinite-scroll  ng-if="load_over2" on-infinite="loadMore2()" distance="10%" > </ion-infinite-scroll>
</div>

</ion-content>
