<ion-header-bar class="bar-stable" style="border:0px !important;background-color:#ef6600;color:#fff !important;">
  <a class="button icon-left ion-ios-arrow-left button-clear button-light"
     style="width:40px;padding:3px 2px 3px 8px;margin-top: 3px;" ng-click="closeDetail()"></a>
  <div class="title title-center header-item" style="color:#fff !important;">订单详情</div>
  <a class="button button-clear" style="width:40px;height:25px"></a>
</ion-header-bar>
<ion-view view-title="订单详情">
  <ion-content class="padding">
    <div style="width:100%;margin:10px auto;text-ailgn:center;">
      <!-- 发货人信息 -->
      <label class="item-detail padding-left">
        <img src="img/person.png" width="20px" height="20px">
        <div class="order-detail-div" style="font-size: 16px;">发货人：</div>
        <label>{{orderItem.goods.consignor}}</label>
      </label>
      <label class="item-detail padding-left" style="margin-left:27px">
        <div class="order-detail-div">地址：</div>
        <label>{{orderItem.goods.sCity+orderItem.goods.sStreet+orderItem.goods.sAddress}}</label>
      </label>
      <label class="item-detail padding-left" style="margin-left:27px;">
        <div class="order-detail-div">电话：</div>
        <label>{{orderItem.goods.sPhoneNumber}}</label>
      </label>
      <!-- 收货人信息 -->
      <label class="item-detail padding-left" style="margin-top:10px">
        <img src="img/person.png" width="20px" height="20px">
        <div class="order-detail-div" style="font-size: 16px;">收货人：</div>
        <label>{{orderItem.goods.consignee}}</label>
      </label>
      <label class="item-detail padding-left" style="margin-left:27px">
        <div class="order-detail-div">地址：</div>
        <label>{{orderItem.goods.eCity+orderItem.goods.eStreet+orderItem.goods.eAddress}}</label>
      </label>
      <label class="item-detail padding-left" style="margin-left:27px;">
        <div class="order-detail-div">电话：</div>
        <label>{{orderItem.goods.ePhoneNumber}}</label>
      </label>
      <!-- 货物信息 -->
      <label class="item-detail padding-left" style="margin-left:28px;margin-top:10px">
        <div class="order-detail-div" style="font-size: 16px;">货物信息：</div>
        <label>{{orderItem.goods.goodsName+' '+orderItem.goods.goodsNumber+orderItem.goods.goodsUnit}}</label>
      </label>
      <!-- 货物属性 -->
      <label class="item-detail padding-left" style="margin-left:28px;margin-top:10px">
        <div class="order-detail-div" style="font-size: 16px;">货物属性：</div>
        <label>{{orderItem.goods.goodsType+' '+orderItem.goods.goodsAttribute}}</label>
      </label>
      <!-- 订单状态 -->
      <label class="item-detail padding-left" style="margin-left:28px;margin-top:10px">
        <div class="order-detail-div" style="font-size: 16px;">订单状态：</div>
        <label style="color: #ff0000">{{orderItem.goodsOrderStatus}}</label>
      </label>
      <!-- 创建时间 -->
      <label class="item-detail padding-left" style="margin-left:28px;margin-top:10px">
        <div class="order-detail-div" style="font-size: 16px;">创建时间：</div>
        <label>{{orderItem.createdAt|amDateFormat:'YYYY-MM-DD H:mm:ss'}}</label>
      </label>
      <div class="button-bar" style="margin-top:10px">
        <button class="button button-assertive" style="margin-right:10px;margin-left:10px;" ng-click="backGo()">重新发布
        </button>
        <button class="button button-positive" ng-click="backGo()">取消发布
        </button>
      </div>

      <!--<label class="item-detail padding-left padding-right" style="margin-left:50px"-->
      <!--ng-if="orderItem.consignmentDateTime">-->
      <!--<div class="order-detail-div">日期</div>-->
      <!--：-->
      <!--<label style="font-size: 12px;">{{orderItem.consignmentDateTime}}</label>-->
      <!--</label>-->
      <!--<label class="item-detail padding-left padding-right" style="margin-left:50px"-->
      <!--ng-if="orderItem.descriptionOfGoods">-->
      <!--<div class="order-detail-div">名称</div>-->
      <!--<label>：{{orderItem.descriptionOfGoods}}</label>-->
      <!--</label>-->
      <!--<label class="item-detail padding-left padding-right" style="margin-left:50px"-->
      <!--ng-if="orderItem.monetaryTotalAmount">-->
      <!--<div class="order-detail-div">货物总值</div>-->
      <!--<label>：{{orderItem.monetaryTotalAmount}}元</label>-->
      <!--</label>-->

      <!--<label class="item-detail padding-left padding-right" style="margin-left:50px" ng-if="orderItem.goodsNumber">-->
      <!--<div class="order-detail-div">件数</div>-->
      <!--<label>：{{orderItem.goodsNumber}}</label>-->
      <!--</label>-->
      <!--<label class="item-detail padding-left padding-right" style="margin-left:50px"-->
      <!--ng-if="orderItem.goodsItemGrossWeight!=0">-->
      <!--<div class="order-detail-div">重量</div>-->
      <!--<label>：{{orderItem.goodsItemGrossWeight}}吨</label>-->
      <!--</label>-->
      <!--<label class="item-detail padding-left padding-right" style="margin-left:50px" ng-if="orderItem.goodsCube!=0">-->
      <!--<div class="order-detail-div">体积</div>-->
      <!--<label>：{{orderItem.goodsCube}}方</label>-->
      <!--</label>-->


      <!--<label class="item-detail padding-left padding-right" style="margin-left:23px;margin-top:20px"-->
      <!--ng-if="orderItem.consigneeInfo">-->
      <!--<img src="img/person.png" width="20px" height="20px" style="margin-right:5px;">-->
      <!--<div class="order-detail-div" style="font-size: 16px;">收货人</div>-->
      <!--<label style="margin-left:-8px">：{{orderItem.consigneeInfo}}</label>-->
      <!--</label>-->
      <!--<label class="item-detail padding-left padding-right" style="margin-left:50px" ng-if="orderItem.consignee">-->
      <!--<div class="order-detail-div">联系人</div>-->
      <!--<label>：{{orderItem.consignee}}</label>-->
      <!--</label>-->
      <!--<label class="item-detail padding-left padding-right" style="margin-left:50px"-->
      <!--ng-if="orderItem.consigneeTelephoneNumber">-->
      <!--<div class="order-detail-div">电话</div>-->
      <!--<label>：{{orderItem.consigneeTelephoneNumber}}</label>-->
      <!--</label>-->
      <!--<label class="item-detail padding-left padding-right" style="margin-left:50px" ng-if="orderItem.payTypeName">-->
      <!--<div class="order-detail-div">付款方式</div>-->
      <!--<label>：{{orderItem.payTypeName}}</label>-->
      <!--</label>-->
      <!--<label class="item-detail padding-left padding-right" style="margin-left:50px" ng-if="orderItem.freightCharges">-->
      <!--<div class="order-detail-div">运费</div>-->
      <!--<label>：{{orderItem.freightCharges}}元</label>-->
      <!--</label>-->
      <!--<label class="item-detail padding-left padding-right" style="margin-left:50px" ng-if="orderItem.remark">-->
      <!--<div class="order-detail-div">备注</div>-->
      <!--<label>：{{orderItem.remark}}</label>-->
      <!--</label>-->

      <!--<label class="item-detail padding-left padding-right" ng-if="orderItem.status == 'YPJ'" style="margin-left:50px">-->
      <!--<div class="order-detail-div">评价内容</div>-->
      <!--<label>：{{orderItem.goodsEvaluate || '无'}}</label>-->
      <!--</label>-->
      <!--</div>-->

      <!--<div class="button-bar" style="margin-top:20px">-->
      <!--<button class="button button-positive" ng-if="orderItem.status == 'WQH'"-->
      <!--ng-click="cancelOrder(orderItem.orderId)" style="margin-right:10px;margin-left:10px;">撤单-->
      <!--</button>-->
      <!--<button class="button button-positive" ng-if="orderItem.status == 'WQH'"-->
      <!--ng-click="confirmPickup(orderItem.orderId)" style="margin-right:10px;margin-left:10px;">确认发货-->
      <!--</button>-->
      <!--<button class="button button-positive" ng-if="orderItem.status == 'YQH'"-->
      <!--ng-click="confirmSign(orderItem.orderId)" style="margin-right:10px;margin-left:10px;">确认签收-->
      <!--</button>-->
      <!--<button class="button button-positive" ng-if="orderItem.status == 'DPJ'" ng-click="pingjia(orderItem.orderId)"-->
      <!--style="margin-right:10px;margin-left:10px;">评价-->
      <!--</button>-->
      <!--<button class="button button-positive" ng-if="orderItem.status == 'DPJ'" ng-click="backGo()"-->
      <!--style="margin-right:10px;margin-left:10px;">取消-->
      <!--</button>-->

    </div>
  </ion-content>
</ion-view>
