<ion-header-bar class="bar-stable" style="border:0px !important;background-color:#ef6600;color:#fff !important;">
  <a class="button icon-left ion-ios-arrow-left button-clear button-light"
     style="width:40px;padding:3px 2px 3px 8px;margin-top: 3px;" ng-click="closeDetail()"></a>
  <div class="title title-center header-item" style="color:#fff !important;">订单详情</div>
  <a class="button button-clear" style="width:40px;height:25px"></a>
</ion-header-bar>
<ion-view view-title="订单详情">
  <ion-content class="padding">
    <div style="width:100%;margin:10px auto;text-ailgn:center;">
      <div class="card" style="margin:5px 0px !important;">
        <div class="item item-divider">
          收发货信息
        </div>
        <div class="item item-text-wrap">
          <!-- 发货人信息 -->
          <label class="item-detail">
            <img src="img/person.png" width="20px" height="20px">
            <div class="order-detail-label" style="font-size: 16px;">发货人：</div>
            <label>{{orderItem.goods.consignor}}</label>
          </label>
          <label class="item-detail" style="margin-left:27px">
            <div class="order-detail-label">地址：</div>
            <label>{{orderItem.goods.sCity+orderItem.goods.sStreet+orderItem.goods.sAddress}}</label>
          </label>
          <label class="item-detail" style="margin-left:27px;">
            <div class="order-detail-label">电话：</div>
            <label>{{orderItem.goods.sPhoneNumber}}</label>
          </label>
          <!-- 收货人信息 -->
          <label class="item-detail" style="margin-top:10px">
            <img src="img/person.png" width="20px" height="20px">
            <div class="order-detail-label" style="font-size: 16px;">收货人：</div>
            <label>{{orderItem.goods.consignee}}</label>
          </label>
          <label class="item-detail" style="margin-left:27px">
            <div class="order-detail-label">地址：</div>
            <label>{{orderItem.goods.eCity+orderItem.goods.eStreet+orderItem.goods.eAddress}}</label>
          </label>
          <label class="item-detail" style="margin-left:27px;">
            <div class="order-detail-label">电话：</div>
            <label>{{orderItem.goods.ePhoneNumber}}</label>
          </label>
        </div>
      </div>
      <!-- 货物信息 -->
      <div class="card" style="margin:10px 0px !important;">
        <div class="item item-divider">
          货物订单信息
        </div>
        <div class="item item-text-wrap">
          <label class="item-detail">
            <div class="order-detail-label2" style="font-size: 16px;">货物信息：</div>
            <label>{{orderItem.goods.goodsName+' '+orderItem.goods.goodsNumber+orderItem.goods.goodsUnit}}</label>
          </label>
          <!-- 货物属性 -->
          <label class="item-detail">
            <div class="order-detail-label2" style="font-size: 16px;">货物属性：</div>
            <label>{{orderItem.goods.goodsType+' '+orderItem.goods.goodsAttribute}}</label>
          </label>
          <!-- 需求车辆 -->
          <label class="item-detail" ng-if="orderItem.goods.carType!='不限'">
            <div class="order-detail-label2" style="font-size: 16px;">需求车辆：</div>
            <label>{{orderItem.goods.carType}}</label>
          </label>
          <!-- 订单状态 -->
          <label class="item-detail">
            <div class="order-detail-label2" style="font-size: 16px;">订单状态：</div>
            <label style="color: #ff0000">{{orderItem.goodsOrderStatus}}</label>
          </label>
          <!-- 运价 -->
          <label class="item-detail" ng-if="orderItem.pricing">
            <div class="order-detail-label2" style="font-size: 16px;">运&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：</div>
            <label style="color: #ff0000">&nbsp;{{orderItem.pricing}}元</label>
          </label>
          <!-- 创建时间 -->
          <label class="item-detail">
            <div class="order-detail-label2" style="font-size: 16px;">创建时间：</div>
            <label style="min-width: 150px;">{{orderItem.createdAt|amDateFormat:'YYYY-MM-DD H:mm:ss'}}</label>
          </label>
        </div>
      </div>
      <div class="button-bar" style="margin-top:10px">
        <button class="button button-positive" style="margin-right:10px;margin-left:10px;" ng-if="orderItem.goodsOrderStatus=='未接单'||orderItem.goodsOrderStatus=='接单'"
                ng-click="cancelOrder(orderItem.goodsOrderId)">取消订单
        </button>
        <button class="button button-positive" style="margin-right:10px;margin-left:10px;" ng-if="orderItem.goodsOrderStatus=='已取消'||orderItem.goodsOrderStatus=='已完成'"
                ng-click="deleteOrder(orderItem.goodsOrderId)">删除订单
        </button>
        <button class="button button-positive" style="margin-right:10px;margin-left:10px;" ng-if="orderItem.goodsOrderStatus=='未评价'"
                ng-click="orderEvaluate(orderItem.goodsOrderId)">马上评价
        </button>
        <button class="button button-assertive" ng-if="orderItem.goodsOrderStatus=='未接单'||orderItem.goodsOrderStatus=='接单'||orderItem.goodsOrderStatus=='取消接单'||orderItem.goodsOrderStatus=='已取消'" ng-click="refreshOrder(orderItem.goodsOrderId)">重新发布
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
