<ion-header-bar class="bar-stable" style="border:0px !important;background-color:#ef6600;color:#fff !important;">
  <a class="button icon-left ion-ios-arrow-left button-clear button-light" style="width:40px;padding:3px 2px 3px 8px;margin-top: 3px;"  ng-click="backGo()"></a>
  <div class="title title-center header-item" style="color:#fff !important;">评价</div>
  <a class="button button-clear" style="width:40px;height:25px" ></a>
</ion-header-bar>

<!-- <ion-content class="has-subheader"> -->
      <label class="item" style="margin-top:48px;">交易评价：</label>
      <label class="item item-input" style="    height: 55px;">
              <label >信息准确：</label>
              <label ng-click="evaluatevehicleClick(1)" ng-mouseenter="vehicleMouseEnter(1)" ng-mouseleave="vehicleMouseLeave(0)" ng-class="evaluatevehicleClass(1)"></label>
              <label ng-click="evaluatevehicleClick(2)" ng-mouseenter="vehicleMouseEnter(2)" ng-mouseleave="vehicleMouseLeave(0)" ng-class="evaluatevehicleClass(2)"></label>
              <label ng-click="evaluatevehicleClick(3)" ng-mouseenter="vehicleMouseEnter(3)" ng-mouseleave="vehicleMouseLeave(0)" ng-class="evaluatevehicleClass(3)"></label>
              <label ng-click="evaluatevehicleClick(4)" ng-mouseenter="vehicleMouseEnter(4)" ng-mouseleave="vehicleMouseLeave(0)" ng-class="evaluatevehicleClass(4)"></label>
              <label ng-click="evaluatevehicleClick(5)" ng-mouseenter="vehicleMouseEnter(5)" ng-mouseleave="vehicleMouseLeave(0)" ng-class="evaluatevehicleClass(5)"></label>
      </label>
      <label class="item item-input" style="    height: 55px;">
              <label >运输速度：</label>
              <label class="item-input"  ng-click="evaluatePeopleClick(1)" ng-mouseenter="PeopleMouseEnter(1)" ng-mouseleave="PeopleMouseLeave(0)" ng-class="evaluatePeopleClass(1)"></label>
              <label ng-click="evaluatePeopleClick(2)" ng-mouseenter="PeopleMouseEnter(2)" ng-mouseleave="PeopleMouseLeave(0)" ng-class="evaluatePeopleClass(2)"></label>
              <label ng-click="evaluatePeopleClick(3)" ng-mouseenter="PeopleMouseEnter(3)" ng-mouseleave="PeopleMouseLeave(0)" ng-class="evaluatePeopleClass(3)"></label>
              <label ng-click="evaluatePeopleClick(4)" ng-mouseenter="PeopleMouseEnter(4)" ng-mouseleave="PeopleMouseLeave(0)" ng-class="evaluatePeopleClass(4)"></label>
              <label ng-click="evaluatePeopleClick(5)" ng-mouseenter="PeopleMouseEnter(5)" ng-mouseleave="PeopleMouseLeave(0)" ng-class="evaluatePeopleClass(5)"></label>

      </label>
      <!-- <label class="item-input">服务评价：</label> -->
      <textarea placeholder="评价内容" style="width:90%;height:70px;margin:20px auto;border-width: 1px;border-color: #ef6600;border-style: solid;" type="textarea" ng-model="pingjiatext"></textarea>
      <div class="text-center">
        <button type="button" class="button button-positive" ng-click="evaluateVehicle()" style="width:60%">提交</button>
      </div>
<!-- </ion-content> -->
