<ion-header-bar class="bar-stable" style="border:0px !important;background-color:#ef6600;color:#fff !important;">
  <a class="button icon-left ion-ios-arrow-left button-clear button-light"
     style="width:40px;padding:3px 2px 3px 8px;margin-top: 3px;" ng-click="closedetail()"></a>
  <div class="title title-center header-item" style="color:#fff !important;">货源详情</div>
  <a class="button button-clear" style="width:40px;height:25px"></a>
</ion-header-bar>
<ion-view view-title="货源详情">
  <ion-content class="padding">

    <div class="list" style="width:100%;margin:10px auto;text-ailgn:center;">

      <label class="item-detail padding-left padding-right" style="margin-left:1em;height:48px;font-size: 16px;"
             ng-if="goodsinfo.placeOfDeparture">
        <div class="order-detail-div" style="width: 30%;padding: 3px 0px 3px 0px;"><label class="item-detail"
                                                                                          style="font-size:16px;float:right">起始地</label>
        </div>
        <label class="item-detail" style="height:48px;font-size:16px;">：{{goodsinfo.placeOfDeparture}}</label>
      </label>
      <label class="item-detail padding-left padding-right" style="margin-left:1em;height:48px;font-size:16px;"
             ng-if="goodsinfo.destination">
        <div class="order-detail-div" style="width: 30%;padding: 3px 0px 3px 0px;"><label class="item-detail"
                                                                                          style="font-size:16px;float:right">目的地</label>
        </div>
        <label class="item-detail" style="height:48px;font-size:16px;">：{{goodsinfo.destination}}</label>
      </label>
      <label class="item-detail padding-left padding-right" style="margin-left:1em;height:48px;font-size:16px;"
             ng-if="goodsinfo.goodsClassificationName">
        <div class="order-detail-div" style="width: 30%;padding: 3px 0px 3px 0px;"><label class="item-detail"
                                                                                          style="font-size:16px;float:right">货物类型</label>
        </div>
        <label class="item-detail" style="height:48px;font-size:16px;">：{{goodsinfo.goodsClassificationName}}</label>
      </label>
      <label class="item-detail padding-left padding-right" style="margin-left:1em;height:48px;font-size:16px;"
             ng-if="goodsinfo.vehicleTypeName">
        <div class="order-detail-div" style="width: 30%;padding: 3px 0px 3px 0px;"><label class="item-detail"
                                                                                          style="font-size:16px;float:right">求车类型</label>
        </div>
        <label class="item-detail" style="height:48px;font-size:16px;">：{{goodsinfo.vehicleTypeName}}</label>
      </label>
      <label class="item-detail padding-left padding-right" style="margin-left:1em;height:48px;font-size:16px;"
             ng-if="goodsinfo.goodsClassificationCode!=11003">
        <div class="order-detail-div" style="width: 30%;padding: 3px 0px 3px 0px;"><label class="item-detail"
                                                                                          style="font-size:16px;float:right">货重</label>
        </div>
        <label class="item-detail" style="height:48px;font-size:16px;">：{{goodsinfo.goodsItemGrossWeight}}吨</label>
      </label>
      <label class="item-detail padding-left padding-right" style="margin-left:1em;height:48px;font-size:16px;"
             ng-if="goodsinfo.goodsClassificationCode==11003">
        <div class="order-detail-div" style="width: 30%;padding: 3px 0px 3px 0px;"><label class="item-detail"
                                                                                          style="font-size:16px;float:right">体积</label>
        </div>
        <label class="item-detail" style="height:48px;font-size:16px;">：{{goodsinfo.goodsCube}}方</label>
      </label>


    </div>

  </ion-content>
</ion-view>
