<ion-header-bar class="bar-stable" style="border:0px !important;background-color:#ef6600;color:#fff !important;">
  <a class="button icon-left ion-ios-arrow-left button-clear button-light" style="width:40px;padding:3px 2px 3px 8px;margin-top: 3px;" ng-click="backGo()"></a>
  <div class="title title-center header-item" style="color:#fff !important;">下单</div>
  <a class="button button-clear" href="#/message"><img src="img/icon-zn-b.png" alt="最新消息" style="width:20px;position:relative;top:2px;"></a>
</ion-header-bar>
<ion-nav-view name="order"></ion-nav-view>
