<div class="content-box" ng-controller="customersServeCtrl as vm">
    <div class="search-box">
        <form class="form-inline" role="form">
            <div class="dropdown form-group">
                <label for="createdate" class="sr-only">提出时间</label>
                <a class="dropdown-toggle" id="createdate" role="button" data-toggle="dropdown" data-target="#"
                   href="#">
                    <input type="text" class="form-control width-154" placeholder="提出时间"
                           data-ng-model="vm.customersServeList.query.createdate | date:'yyyy-MM-dd'">
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="vm.customersServeList.query.createdate"
                                    data-datetimepicker-config="{ dropdownSelector: '#createdate',startView:'day', minView:'day' }"></datetimepicker>
                </ul>
            </div>
            <div class="form-group">
                <label for="servicetype" class="sr-only">服务类别</label>
                <select id="servicetype" class="form-control width-154" ng-model="vm.customersServeList.query.servicetype"
                        ng-options="servicetype.dictid as servicetype.dictname for servicetype in dictList['FWLB']"
                        ng-change="queryClick()">
                    <option value="">服务类别</option>
                </select>
            </div>
            <div class="form-group">
                <label for="priority" class="sr-only">优先级别</label>
                <select id="priority" class="form-control width-154" ng-model="vm.customersServeList.query.priority"
                        ng-options="priority.dictid as priority.dictname for priority in dictList['YXJB']"
                        ng-change="queryClick()">
                    <option value="">优先级别</option>
                </select>
            </div>
            <div class="form-group">
                <label for="status" class="sr-only">状态</label>
                <select id="status" class="form-control width-154" ng-model="vm.customersServeList.query.status"
                        ng-options="status.dictcode as status.dictname for status in dictList['CLZT']"
                        ng-change="queryClick()">
                    <option value="">状态</option>
                </select>
            </div>
            <button type="button" class="btn btn-sky width-94" ng-click="queryClick()"><span
                    class="glyphicon glyphicon-search margin-4"></span>搜索
            </button>
            <button type="button" class="btn btn-reset" ng-click="ResetQuery()"><span
                    class="glyphicon glyphicon-repeat margin-4"></span>重置
            </button>
        </form>
    </div>
    <div class="control-box">
                <button type="button" class="btn btn-sky width-94" ng-click="addHandleClick()"><span
                        class="glyphicon glyphicon-plus margin-4"></span>新建
                </button>
    </div>
    <div class="table-responsive-2-1">
    <table class="table table-striped table-hover table-bordered table01 ">
        <thead>
        <tr>
            <td>操作</td>
            <td>客户名称</td>
            <td>客户电话</td>
            <!--<td>单号</td>-->
            <td>服务类别</td>
            <td>方式</td>
            <td>内容</td>
            <td>优先级别</td>
            <td>创建时间</td>
            <td>状态</td>
        </tr>
        </thead>
        <tbody ng-repeat="item in vm.customersServeList.items">
        <tr>
            <td><a href="" ng-show="item.status=='WCL'" ng-click="addHandleClick(item.serverid)">处理</a> <a href=""
                                                                                                           ng-show="item.status=='YCL'"
                                                                                                           ng-click="addPilgrimageClick(item.serverid,item.status)">回访</a>
            </td>
            <td>{{item.customername}}</td>
            <td>{{item.customertel}}</td>
            <!--<td>{{item.servercode}}</td>-->
            <td>{{item.servicetypename}}</td>
            <td>{{item.servicemethodname}}</td>
            <td>{{item.cause}}</td>
            <td>{{item.priorityname}}</td>
            <td>{{item.createtime}}</td>
            <td>{{item.statusname}}</td>
        </tr>
        </tbody>
    </table>
    </div>
    <tm-pagination conf="vm.customersServeList" class="page-fix"></tm-pagination>
</div>
</div>