.handle-row{padding-left: 0;padding-right: 0;margin: 0 15px 0 20px;width: 100px;}
.handle-row2{padding-left: 0;padding-right: 0;margin: 0 15px 0 20px;width: 169px;}
.handle-input{width: 576px;height: 30px;}
.handle-input2{width: 607px;height: 30px;}