<div class="room-box" ng-controller="customersServeAddCtrl as vm">
    <div class="light-box-title"><span class="text-white">服务单</span></div>
    <form class="form-horizontal text-normal" id="customersServeForm" name="customersServeForm" autocomplete="off"
          ng-submit="saveCustomersServe()"
          novalidate>
        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row room-box-row">-->
        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">-->
        <!--<label for="csex1" class="col-sm-5 control-label">服务编号</label>-->
        <!--<div class="col-sm-7 row room-sex">-->
        <!--<input type="text" name="cuscard" class="form-control width-154" >-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="customername" class="col-sm-5 control-label"><code>*</code>客户名称</label>

            <div class="col-sm-7">
                <input type="text" id="customername" name="customername" class="form-control width-154"
                       ng-model="vm.customersServe.customername"
                       placeholder="" ng-disabled="customersServeId" require/>
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="customertel" class="col-sm-5 control-label"><code>*</code>客户电话</label>

            <div class="col-sm-7">
                <input type="text" id="customertel" name="customertel" class="form-control width-154"
                       ng-model="vm.customersServe.customertel"
                       placeholder="" phone-check required ng-disabled="customersServeId"/>
                <span class="help-block" ng-show="customersServeForm.customertel.$error.phoneEx">电话号码格式不正确</span>
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label"><code>*</code>服务类别</label>

            <div class="col-sm-7">
                <select id="servicetype" name="servicetype" class="form-control width-154"
                        ng-model="vm.customersServe.servicetype"
                        ng-options="servicetype.dictid as servicetype.dictname for servicetype in dictList['FWLB']"
                        required ng-disabled="customersServeId">
                    <option value="">请选择服务类别</option>
                </select>
                <span class="help-block"
                      ng-show="customersServeForm.submitted && customersServeForm.servicetype.$error.required">请选择服务类别</span>
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="servicemethod" class="col-sm-5 control-label"><code>*</code>服务方式</label>

            <div class="col-sm-7">
                <select id="servicemethod" name="servicemethod" class="form-control width-154"
                        ng-model="vm.customersServe.servicemethod"
                        ng-options="method.dictid as method.dictname for method in dictList['FWFS']"
                        ng-required="customersServeId" ng-disabled="!customersServeId">
                    <option value="">请选择服务方式</option>
                </select>
                <span class="help-block"
                      ng-show="customersServeForm.submitted && customersServeForm.servicemethod.$error.required">请选择服务方式</span>
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="assignee" class="col-sm-5 control-label"><code>*</code>受理人</label>

            <div class="col-sm-7">
                <select class="form-control width-154" id="assignee" name="assignee" ng-model="vm.customersServe.assignee"
                        ng-options="staff.userid as staff.realname for staff in vm.staffList" required
                        ng-disabled="customersServeId">
                    <option value="">请选择受理人</option>
                </select>
                <span class="help-block"
                      ng-show="customersServeForm.submitted && customersServeForm.assignee.$error.required">请选择受理人</span>
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="priority" class="col-sm-5 control-label"><code>*</code>优先级别</label>

            <div class="col-sm-7">
                <select id="priority" name="priority" class="form-control width-154" ng-model="vm.customersServe.priority"
                        ng-options="priority.dictid as priority.dictname for priority in dictList['YXJB']" required
                        ng-disabled="customersServeId">
                    <option value="">请选择优先级别</option>
                </select>
                <span class="help-block"
                      ng-show="customersServeForm.submitted && customersServeForm.priority.$error.required">请选择优先级别</span>
            </div>
        </div>

        <div class="dropdown form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="dealtime" class="col-sm-5 control-label"><code>*</code>处理时间</label>

            <a class="dropdown-toggle col-sm-7" id="dealtime_dl" role="button" data-toggle="dropdown" data-target="#"
               href="#">
                <input type="text" id="dealtime" name="dealtime" class="form-control width-154" placeholder=""
                       data-ng-model="vm.customersServe.dealtime | date:'yyyy-MM-dd'" ng-required="customersServeId"
                       ng-disabled="!customersServeId">
            </a>
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="vm.customersServe.dealtime"
                                data-datetimepicker-config="{ dropdownSelector: '#dealtime_dl',startView:'day', minView:'day' }"></datetimepicker>
            </ul>
        </div>

        <!--<div class="dropdown form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">-->
        <!--<label for="createtime" class="col-sm-5 control-label"><code>*</code>创建时间</label>-->

        <!--<a class="dropdown-toggle col-sm-7" id="createtime_dl" role="button" data-toggle="dropdown" data-target="#"-->
        <!--href="#">-->
        <!--<input type="text" id="createtime" name="createtime" class="form-control width-154" placeholder=""-->
        <!--data-ng-model="vm.customersServe.createtime | date:'yyyy-MM-dd'" required  ng-readonly="customersServeId">-->
        <!--</a>-->
        <!--<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">-->
        <!--<datetimepicker data-ng-model="vm.customersServe.createtime"-->
        <!--data-datetimepicker-config="{ dropdownSelector: '#createtime_dl',startView:'day', minView:'day' }"></datetimepicker>-->
        <!--</ul>-->
        <!--</div>-->
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="cause" class="col-sm-5 control-label"><code>*</code>要求处理事项</label>

            <div class="col-sm-7">
                <input id="cause" name="cause" type="text" class="form-control width-154 handle-input"
                       ng-model="vm.customersServe.cause"
                       required ng-disabled="customersServeId"/>
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="result" class="col-sm-5 control-label"><code>*</code>处理结果</label>

            <div class="col-sm-7">
                <input id="result" name="result" type="text" class="form-control width-154 handle-input"
                       ng-model="vm.customersServe.result"
                       ng-required="customersServeId" ng-disabled="!customersServeId"/>
            </div>
        </div>
        <div class="form-group clear">
            <label for="remark" class="col-sm-2 row handle-row control-label">备注</label>

            <div class="col-sm-9 ticket-beihzhu">
                <textarea id="remark" name="remark" class="form-control"
                          ng-model="vm.customersServe.remark"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="text-center">
                <button type="submit" class="btn navbar-btn btn-sky width-94" ng-disabled="customersServeForm.$invalid"><span
                        class="glyphicon glyphicon-ok margin-4"></span>保存
                </button>
                <button type="button" class="btn navbar-btn btn-default width-94" ng-click="cancel()"><span
                        class="glyphicon glyphicon-remove margin-4"></span>取消
                </button>
            </div>
        </div>
    </form>
</div>
