<div ng-controller="customersVisitCtrl as vm">
    <div class="light-box-title"><span class="text-white">回访</span></div>
    <form class="form-horizontal text-normal" name="customersVisitForm" autocomplete="off"
          ng-submit="saveCustomersVisit()">
        <div class="dropdown form-group">
            <label for="visittime" class="col-sm-3 control-label">回访日期</label>

            <a class="dropdown-toggle col-sm-9" id="visittime_dl" role="button" data-toggle="dropdown" data-target="#"
               href="#">
                <input type="text" id="visittime" name="visittime" class="form-control width-154" placeholder=""
                       data-ng-model="vm.customersVisit.visittime | date:'yyyy-MM-dd'" required>
            </a>
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="vm.customersVisit.visittime"
                                data-datetimepicker-config="{ dropdownSelector: '#visittime_dl',startView:'day', minView:'day' }"></datetimepicker>
            </ul>
        </div>
        <!--<div class="form-group"-->
             <!--ng-class="{'has-error':customersVisitForm.submitted && customersVisitForm.satisfaction.$invalid}">-->
            <!--<label class="col-sm-3 control-label">-->
                <!--满意度</label>-->

            <!--<div class="col-sm-9">-->
                <!--<select class="form-control width-154" name="satisfaction" ng-model=" vm.customersVisit.satisfaction"-->
                <!--ng-options="dic.dictid as dic.dictname for dic in dictList['FWPJ']" required>-->
                <!--<option value="">&#45;&#45;请选择满意度&#45;&#45;</option>-->
                <!--</select>-->
                <!--<span class="help-block"-->
                      <!--ng-show="customersVisitForm.submitted && customersVisitForm.satisfaction.$error.required">请选择满意度</span>-->
            <!--</div>-->
        <!--</div>-->
        <div class="clear"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label">回访人</label>

            <div class="col-sm-9">
                <input name="visitor" type="text" class="form-control width-154" ng-model="vm.customersVisit.visitor"
                       required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">回访方式</label>

            <div class="col-sm-9">
                <select class="form-control width-154" name="visitmethod" ng-model="vm.customersVisit.visitmethod"
                        ng-options="method.dictid as method.dictname for method in dictList['FWFS']" required>
                    <option value="">--请选择--</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">服务评价</label>

            <div class="col-sm-9">
                <select class="form-control width-154" name="evaluatetype" ng-model="vm.customersVisit.evaluatetype"
                        ng-options="dit.dictid as dit.dictname for dit in dictList['FWPJ']" required>
                    <option value="">--请选择--</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">回访说明</label>

            <div class="col-sm-9">
                <textarea name="description" class="form-control width-154" ng-model="vm.customersVisit.description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="text-center">
                <button type="submit" class="btn navbar-btn btn-sky width-94" ng-disabled="customersVisitForm.$invalid"><span
                        class="glyphicon glyphicon-ok margin-4"></span>确定
                </button>
                <button type="button" class="btn navbar-btn btn-default width-94" ng-click="cancel()"><span
                        class="glyphicon glyphicon-remove margin-4"></span>取消
                </button>
            </div>
        </div>
    </form>
</div>
