 <ion-header-bar class="bar-subheader">
    <ul class="tabs tabs-light">
		<li class="tab-item text-fr padding-right">1.填写手机</li>
		<li><a class="icon-left ion-ios-arrow-right button-clear button-dark"></a></li>
		<li class="tab-item assertive">2.填写验证码</li>
		<li><a class="icon-left ion-ios-arrow-right button-clear button-dark"></a></li>
		<li class="tab-item text-fl padding-left">3.重置密码</li>
	</ul>
</ion-header-bar>
 <ion-content>
	<form ng-submit="doLogin()">
      <div class="list padding" style="margin-top:20px">
        <label class="item item-input padding-left padding-right" style="border-bottom:1px solid #ccc">
          <input type="text" ng-model="userData.securitycode" placeholder="填写手机收到的验证码">
        </label>
        <div class="padding">
          <button class="button button-block button-positive" type="submit" ng-click="stepOK()">下一步</button>
        </div>
      </div>
    </form>
 </ion-content>
