<ion-header-bar class="bar-stable" style="border:0px !important;background-color:#ef6600;color:#fff !important;">
  <a class="button icon-left ion-ios-arrow-left button-clear button-light" ng-click="backGo()"></a>
  <div class="title title-center header-item" style="color:#fff !important;">修改密码</div>
  <a class="button button-clear" style="width:40px;height:25px"></a>
</ion-header-bar>

<ion-content>
  <form ng-submit="changePwd()">
    <div class="list padding">
      <div class="item item-input padding-left padding-right">
        <span class="input-label">原始密码</span>
        <input type="password" ng-model="changePwdData.oldPassword" placeholder="请输入原始密码">
        <i class="ion ion-ios-close-empty button-back" ng-if="changePwdData.oldPassword"
           ng-click="changePwdData.oldPassword=''"></i>
      </div>
      <div class="item item-input padding-left padding-right">
        <span class="input-label">新密码</span>
        <input type="password" ng-model="changePwdData.newPassword" placeholder="请输入新密码">
        <i class="ion ion-ios-close-empty button-back" ng-if="changePwdData.newPassword"
           ng-click="changePwdData.newPassword=''"></i>
      </div>
      <div class="item item-input padding-left padding-right">
        <span class="input-label">确认新密码</span>
        <input type="password" ng-model="changePwdData.newPassword2" placeholder="请再次输入新密码">
        <i class="ion ion-ios-close-empty button-back" ng-if="changePwdData.newPassword2"
           ng-click="changePwdData.newPassword2=''"></i>
      </div>
      <label class="padding">
        <button class="button button-block button-assertive" type="submit">保存修改</button>
      </label>
    </div>
  </form>
</ion-content>
