<ion-header-bar class="bar-subheader">
  <ul class="tabs tabs-light">
    <li class="tab-item text-fr padding-right">1.填写基本信息</li>
    <li><a class="icon-left ion-ios-arrow-right button-clear button-dark"></a></li>
    <li class="tab-item assertive">2.完善用户资料</li>
  </ul>
</ion-header-bar>
<ion-content>
  <form ng-submit="saveEnterpriseInfo()">
    <div class="list padding">
      <label class="item item-input" style="border-bottom:1px solid #ccc">
        <span class="input-label">企业名称</span>
        <input type="text" ng-model="userData.enterprisename">
      </label>
      <label class="item item-input">
        <span class="input-label">联系人</span>
        <input type="text" ng-model="userData.contactname">
      </label>
      <label class="item item-input">
        <span class="input-label">联系电话</span>
        <input type="text" ng-model="userData.phoneNumber">
      </label>
      <label class="item item-input">
        <span class="input-label">企业地址</span>
        <input type="text" ng-model="userData.location">
      </label>
      <div class="padding">
        <button class="button button-block button-assertive" type="submit">立即注册</button>
      </div>
    </div>
  </form>
</ion-content>
