<div class="room-box" ng-controller="platformMessageEditCtrl as vm">
    <div class="light-box-title"><span class="text-white">{{messageModalTitle}}</span></div>
    <form class="form-horizontal text-normal" name="messageForm" autocomplete="off" novalidate>

        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label"><code>*</code>消息类别</label>

            <div class="col-sm-7">
                <select id="messageType" name="messageType" class="form-control width-154" ng-model="vm.message.messageType">
                    <option value="系统消息">系统消息</option>
                    <option value="通知消息">通知消息</option>
                </select>
                <span class="help-block"
                      ng-show="messageForm.submitted && messageForm.messageType.$error.required">请选择消息类别</span>
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label"><code>*</code>发送对象</label>

            <div class="col-sm-7">
                <select id="userType" name="messageType" class="form-control width-154" ng-model="vm.message.userType">
                    <option value="货主">货主</option>
                    <option value="物流企业">物流企业</option>
                    <option value="司机">司机</option>
                </select>
                <span class="help-block"
                      ng-show="messageForm.submitted && messageForm.userType.$error.required">请选择消息类别</span>
            </div>
        </div>
        <div class="form-group clear">
            <label class="col-sm-2 row handle-row control-label"><code>*</code>消息内容</label>
            <div class="col-sm-9  ticket-beihzhu">
                <textarea id="content" name="content" class="form-control" rows="5" cols="10" ng-model="vm.message.content"
                          required></textarea>
                <span class="help-block"
                      ng-show="messageForm.submitted && messageForm.content.$error.required">请输入消息内容</span>
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 dropdown data-input">
            <label class="col-sm-2 row handle-row control-label">有效日期</label>
            <a class="dropdown-toggle" id="enddate" role="button" data-toggle="dropdown" data-target="#"
               href="#">
                <div class="input-group">
                    <input type="text" class="form-control time-kai width-94" placeholder="有效日期"
                           data-ng-model="vm.message.validate | date:'yyyy-MM-dd'">
                    <span class="sr-only"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="vm.message.validate"
                                data-datetimepicker-config="{ dropdownSelector: '#enddate',startView:'day', minView:'day' }"></datetimepicker>
            </ul>
        </div>
        <div class="form-group clear">
            <div class="text-center">
                <button class="btn navbar-btn btn-sky width-94" ng-disabled="messageForm.$invalid" ng-click="sendMessage()">
                    <span class="glyphicon glyphicon-share margin-4"></span>发布
                </button>
                <button type="button" class="btn navbar-btn btn-default width-94" ng-click="cancel()"><span
                        class="glyphicon glyphicon-remove margin-4"></span>取消
                </button>
            </div>
        </div>
    </form>
</div>
