<div class="content-box" ng-controller="platformMessageListCtrl as vm">
    <div class="search-box">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label for="messageType" class="sr-only">消息类别</label>
                <select id="messageType" class="form-control width-154" ng-model="vm.messageList.query.messageType"
                        ng-change="queryClick()">
                    <option value="">--选择消息类别--</option>
                    <option value="系统消息">系统消息</option>
                    <option value="通知消息">通知消息</option>
                </select>
            </div>
            <div class="form-group">
                <label for="content" class="sr-only">发布内容</label>
                <input type="text" class="form-control width-154" id="content" placeholder="发布内容"
                       ng-model="vm.messageList.query.content">
            </div>
            <div class="form-group">
                <label for="userType" class="sr-only">发送对象</label>
                <select id="userType" class="form-control width-154" ng-model="vm.messageList.query.userType"
                        ng-change="queryClick()">
                    <option value="">--选择发送对象-</option>
                    <option value="货主">货主</option>
                    <option value="物流企业">物流企业</option>
                    <option value="司机">司机</option>
                </select>
            </div>
            <button type="button" class="btn btn-sky width-94" ng-click="queryClick()">
                <span class="glyphicon glyphicon-search margin-4"></span>搜索
            </button>
            <button type="button" class="btn btn-reset" ng-click="ResetQuery()">
                <span class="glyphicon glyphicon-repeat margin-4"></span>重置
            </button>
            <button type="button" class="btn btn-sky width-94" style="float:right;" ng-click="messageAddClick()">
                <span class="glyphicon glyphicon-plus margin-4"></span>新增
            </button>
        </form>
    </div>
    <div class="table-responsive-1-1">
        <table class="table table-striped table-hover table-bordered table01 ">
            <thead>
            <tr>
                <td>操作</td>
                <td>消息类别</td>
                <td>消息内容</td>
                <td>发布日期</td>
                <td>发布对象</td>
                <td>有效日期</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.messageList.items">
                <td>
                    <a href="" class="glyphicon glyphicon-trash margin-h10" ng-click="deleteMessage(item.messageId)"
                       title="删除"></a>
                </td>
                <td>{{item.messageType}}</td>
                <td>{{item.content}}</td>
                <td>{{item.createdAt|formatDate}}</td>
                <td>{{item.userType}}</td>
                <td>{{item.validate}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <tm-pagination conf="vm.messageList" class="page-fix"></tm-pagination>
</div>
