<ion-header-bar class="bar-stable" style="border:0px !important;background-color:#ef6600;color:#fff !important;">
  <div class="title title-center header-item" style="color:#fff !important;">登录</div>
</ion-header-bar>
<ion-view view-title="登录" ng-controller="LoginCtrl as vm">
  <ion-content padding="true" class="has-header">
    <form class="list">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">用户名</span>
          <input type="tel" ng-model="vm.user.username" placeholder="手机号码">
        </label>
        <label class="item item-input">
          <span class="input-label">密码</span>
          <input type="password" ng-model="vm.user.password" placeholder="请输入密码">
        </label>
      </ion-list>
      <div class="row">
        <div class="col text-fr bar-stable">
          <a class="gery decora-none" href="#/step/step1">找回密码</a>
        </div>
      </div>
      <button class="button button-assertive button-block" ng-click="login(vm.user)">登录</button>
      <a href="#/register/register1" class="button button-stable button-block ">还没有账户马上注册</a>
    </form>
  </ion-content>
</ion-view>
