<div ng-controller="meterReviewCtrl as vm">
  <div class="light-box-title"><span class="text-white">抄表</span></div>
  <form class="form-horizontal text-normal" name="myForm" autocomplete="off" ng-submit="vm.review()">
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label class="col-sm-5 control-label">门面编号</label>
      <div class="col-sm-7">
        <select class="form-control width-154" name="doorid" ng-model="vm.jsondata.door.id" ng-options="it.id as it.doorno for it in vm.doorplateList" ng-change="vm.doorplateChange()" ng-disabled="true">
          <option value="">--请选择--</option>
        </select>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label class="col-sm-5 control-label">客户名称</label>
      <div class="col-sm-7">
        <input name="customername" type="text" class="form-control width-154" ng-model="vm.jsondata.customername"  readonly="readonly"/>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label class="col-sm-5 control-label">联系手机</label>
      <div class="col-sm-7">
        <input name="contactphone" type="text" class="form-control width-154" ng-model="vm.jsondata.contactphone"  readonly="readonly"/>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label class="col-sm-5 control-label">仪表</label>
      <div class="col-sm-7">
        <select class="form-control width-154" name="meterid" ng-model="vm.jsondata.meter.dictid" ng-options="it.dictid as it.dictname for it in vm.ybzl" ng-disabled="true">
          <option value="">--请选择--</option>
        </select>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label class="col-sm-5 control-label">本次读表数</label>
      <div class="col-sm-7">
        <input name="currentread" type="number" class="form-control width-154" ng-model="vm.jsondata.currentread" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" style="ime-mode:Disabled"  readonly="readonly"/>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label class="col-sm-5 control-label">上次读表数</label>
      <div class="col-sm-7">
        <input name="deptphone" type="number" class="form-control width-154" ng-model="vm.jsondata.lastread" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" style="ime-mode:Disabled" readonly="readonly" />
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label class="col-sm-5 control-label">表数</label>
      <div class="col-sm-7">
        <input name="tablenumber" type="number" class="form-control width-154" ng-model="vm.jsondata.tablenumber" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" style="ime-mode:Disabled" readonly="readonly"/>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label class="col-sm-5 control-label">公摊表数</label>
      <div class="col-sm-7">
        <input name="pooltabnumber" type="number" class="form-control width-154" ng-model="vm.jsondata.pooltabnumber" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" style="ime-mode:Disabled" readonly="readonly"/>
      </div>
    </div>
<!--     <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label class="col-sm-5 control-label">备注</label>
      <div class="col-sm-7">
        <textarea name="deptdesc" class="form-control width-154" ng-model="vm.jsondata.deptdesc"></textarea>
      </div>
    </div> -->
    <div class="form-group">
      <div class="text-center">
        <button type="submit" class="btn navbar-btn btn-sky width-94">审核</button>
        <button type="button" class="btn navbar-btn btn-default width-94" ng-click="vm.cancel()">取消</button>
      </div>
    </div>
  </form>
</div>
