<div class="content-box" ng-controller="userAuditCtrl as vm">
    <div class="search-box">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label for="usertype" class="sr-only">类别</label>
                <select id="usertype" class="form-control width-154" ng-model="vm.userAuditList.query.usertype" ng-change="queryClick()">
                    <option value="">全部</option>
                    <option value="3">企业</option>
                    <option value="2">货主</option>
                </select>
            </div>
            <div class="form-group">
                <label for="status" class="sr-only">审核状态</label>
                <select id="status" class="form-control width-154" ng-model="vm.userAuditList.query.status" ng-change="queryClick()">
                    <option value="0">未审核</option>
                    <option value="1">审核通过</option>
                    <option value="2">审核不通过</option>
                </select>
            </div>
            <div class="form-group">
                <label for="enterprisename" class="sr-only">企业名称</label>
                <input type="text" class="form-control width-154" id="enterprisename"
                       ng-model="vm.userAuditList.query.enterprisename" placeholder="企业名称">
            </div>
            <button type="button" class="btn btn-sky width-94" ng-click="queryClick()"><span
                    class="glyphicon glyphicon-search margin-4"></span>搜索
            </button>
            <button type="button" class="btn btn-reset" ng-click="ResetQuery()"><span
                    class="glyphicon glyphicon-repeat margin-4"></span>重置
            </button>
        </form>
    </div>
    <div class="table-responsive-1-1">
    <table class="table table-striped table-hover table-bordered table01 ">
        <thead>
        <tr>
            <td>操作</td>
            <td>用户名</td>
            <td>企业名称</td>
            <td>机构代码</td>
            <td>法人</td>
            <td>联系人</td>
            <td>联系电话</td>
            <td>地址</td>
            <td>证件上传数目</td>
            <td>审核状态</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.userAuditList.items">
            <td><a href="" class="glyphicon glyphicon-user margin-h10" title="审核"
                   ng-click="auditClick(item.enterpriseid)"></a></td>
            <td>{{item.username}}</td>
            <td>{{item.enterprisename}}</td>
            <td>{{item.organizationcode}}</td>
            <td>{{item.legalrepresentative}}</td>
            <td>{{item.contactname}}</td>
            <td>{{item.telephonenumber}}</td>
            <td>{{item.location}}</td>
            <td>{{item.licNumbers}}</td>
            <td>{{item.statusname}}</td>
        </tr>
        </tbody>
    </table>
    </div>
    <tm-pagination conf="vm.userAuditList" class="page-fix"></tm-pagination>
</div>
</div>