<div class="room-box" ng-controller="messageAddCtrl as vm">
    <div class="light-box-title"><span class="text-white">{{messageModalTitle}}</span></div>
    <form class="form-horizontal text-normal" name="messageForm" autocomplete="off" novalidate>

        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label"><code>*</code>消息类别</label>

            <div class="col-sm-7">
                <select id="msgtype" name="msgtype" class="form-control width-154" ng-model="vm.message.msgtype"
                        ng-options="dic.dictid as dic.dictname for dic in dictList['XXLB']" required>
                    <option value="">请选择消息类别</option>
                </select>
                <span class="help-block"
                      ng-show="messageForm.submitted && messageForm.msgtype.$error.required">请选择消息类别</span>
            </div>
        </div>
        <!-- <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="userids" class="col-sm-5 control-label">发送对象</label>

            <div class="col-sm-7">
                <input type="text" id="userids" class="form-control width-154" ng-model="vm.message.userids" placeholder="默认全体"
                       readonly="readonly">
            </div>
        </div> -->
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <label class="col-sm-5 control-label">选择客户</label>
          <div class="col-sm-7">
            <input class="form-control width-154" ng-model="vm.selectEnterprise" placeholder="{{vm.defEName}}" type="text" typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead="enterprise as enterprise.enterprisename for enterprise in queryEnterpriseInfo($viewValue)">
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noResults">
              <i class="glyphicon glyphicon-remove"></i> 没有找到相关企业
            </div>
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label"><code>*</code>消息标题</label>

            <div class="col-sm-7">
                <input type="text" id="title" name="title" class="form-control width-154 handle-input" ng-model="vm.message.title"
                          required/>
                <span class="help-block"
                      ng-show="messageForm.submitted && messageForm.title.$error.required">请输入消息标题</span>
            </div>
        </div>
        <div class="form-group clear">
            <label class="col-sm-2 row handle-row control-label"><code>*</code>消息内容</label>

            <div class="col-sm-9  ticket-beihzhu">
                <textarea id="content" name="content" class="form-control " ng-model="vm.message.content"
                          required></textarea>
                <span class="help-block"
                      ng-show="messageForm.submitted && messageForm.content.$error.required">请输入消息内容</span>
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <label for="time" class="col-sm-5 control-label">发布次数</label>

                <div class="col-sm-7 ">
                    <input type="number" id="times" class="form-control width-154" min="1" ng-model="vm.message.times">
                </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="isrepeat" class="col-sm-5 control-label">是否重复</label>

            <div class="col-sm-7">
                <label for="isrepeat" class="control-label"><input id="isrepeat" type="checkbox"
                                                                   ng-model="vm.message.isrepeat"></label>
            </div>
        </div>
        <div class="form-group clear col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label"><code>*</code>发布周期</label>

            <div class="col-sm-7">
                <select class="form-control width-154 ng-pristine ng-untouched ng-invalid ng-invalid-required" id="period" name="period" ng-model="vm.message.period"
                        ng-options="dic.dictid as dic.dictname for dic in dictList['FBZQ']" required>
                    <option value="">请选择发布周期</option>
                </select>
                <span class="help-block  ng-hide"
                      ng-show="messageForm.submitted && messageForm.period.$error.required">请选择发布周期</span>
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="createtime" class="col-sm-5 control-label">发布日期</label>

            <div class="col-sm-7">
                <input type="text" id="createtime" class="form-control width-154" ng-model="vm.message.createtime" placeholder=""
                       readonly="readonly">
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="username" class="col-sm-5 control-label">发布人</label>

            <div class="col-sm-7">
                <input type="text" id="username" class="form-control width-154" ng-model="user.username" placeholder=""
                       readonly="readonly">
            </div>
        </div>
        <div class="form-group clear">
            <div class="text-center">
                <button class="btn navbar-btn btn-sky width-94" ng-disabled="messageForm.$invalid" ng-click="saveMessage()">
                    <span class="glyphicon glyphicon-ok margin-4"></span>保存
                </button>
                <button class="btn navbar-btn btn-sky width-94" ng-disabled="messageForm.$invalid" ng-click="sendMessage()">
                    <span class="glyphicon glyphicon-share margin-4"></span>发布
                </button>
                <button type="button" class="btn navbar-btn btn-default width-94" ng-click="cancel()"><span
                        class="glyphicon glyphicon-remove margin-4"></span>取消
                </button>
            </div>
        </div>
    </form>
</div>
