<div class="room-box" ng-controller="ticketAddCtrl as vm">
    <div class="light-box-title"><span class="text-white">{{ticketModalTitle}}</span></div>
    <form class="form-horizontal text-normal" name="ticketForm" autocomplete="off" ng-submit="saveTicket()" novalidate>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label"><code>*</code>姓名</label>
            <div class="col-sm-7">
                <input type="text" name="name" class="form-control width-154" ng-model="vm.ticket.name" placeholder="" required>
                      <span class="help-block"
                            ng-show="ticketForm.submitted && ticketForm.name.$error.required">请输入姓名</span>
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label"><code>*</code>手机号</label>

            <div class="col-sm-7">
                <input type="text" name="tel" class="form-control width-154" ng-model="vm.ticket.tel" required>
                      <span class="help-block"
                            ng-show="ticketForm.submitted && ticketForm.tel.$error.required">请输入手机号</span>
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label"><code>*</code>车牌号码</label>

            <div class="col-sm-7">
                <input type="text" name="vehicle_number" class="form-control width-154" ng-model="vm.ticket.vehicle_number"
                       required>
                      <span class="help-block"
                            ng-show="ticketForm.submitted && ticketForm.vehicle_number.$error.required">请输入车牌号码</span>
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label"><code>*</code>付款方式</label>

            <div class="col-sm-7">
                <select class="form-control width-154" name="paytype" ng-model="vm.ticket.paytype"
                        ng-options="dic.dictid as dic.dictname for dic in dictList['SFFS']" required>
                    <option value="">请选择付款方式</option>
                </select>
                      <span class="help-block"
                            ng-show="ticketForm.submitted && ticketForm.paytype.$error.required">请选择付款方式</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 row handle-row control-label"><code>*</code>付款金额</label>

            <div class="col-sm-9">
                <input type="text" name="monthamt" class="form-control width-154" ng-model="vm.ticket.monthamt" required>
                      <span class="help-block"
                            ng-show="ticketForm.submitted && ticketForm.monthamt.$error.required">请输入付款金额</span>
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label"><code>*</code>月票开始日期</label>

            <div class="col-sm-7">
                <select class="form-control ticket-input pull-left" name="applystartyear" ng-model="vm.applystartyear"
                        ng-options="year as year for year in vm.years"
                        required>
                    <option value="">请选择开始年份</option>
                </select>
                <select class="form-control ticket-input pull-left l-margin" name="applystartmonth" ng-model="vm.applystartmonth"
                        ng-options="month as month for month in vm.months"
                        required>
                    <option value="">请选择开始月份</option>
                </select>
                <span class="help-block" ng-show="ticketForm.submitted && ticketForm.applystartyear.$error.required">请选择开始年份</span>
                <span class="help-block" ng-show="ticketForm.submitted && ticketForm.applystartmonth.$error.required">请选择开始月份</span>
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label"><code>*</code>月票结束日期</label>

            <div class="col-sm-7">
                <select class="form-control ticket-input pull-left" name="applyendyear" ng-model="vm.applyendyear"
                        ng-options="year as year for year in vm.years"
                        required>
                    <option value="">请选择结束年份</option>
                </select>
                <select class="form-control ticket-input pull-left l-margin" name="applyendmonth" ng-model="vm.applyendmonth"
                        ng-options="month as month for month in vm.months"
                        required>
                    <option value="">请选择结束月份</option>
                </select>
                <span class="help-block" ng-show="ticketForm.submitted && ticketForm.applyendyear.$error.required">请选择结束年份</span>
                <span class="help-block" ng-show="ticketForm.submitted && ticketForm.applyendmonth.$error.required">请选择结束月份</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 row handle-row control-label">备注</label>

            <div class="col-sm-9 ticket-beihzhu">
                <input name="remark" type="text" class="form-control" ng-model="vm.ticket.remark"/>
            </div>
        </div>
        <div class="form-group">
            <div class="text-center" ng-show="!ticketId">
                <button type="submit" class="btn navbar-btn btn-sky width-94" ng-disabled="ticketForm.$invalid"><span
                        class="glyphicon glyphicon-ok margin-4"></span>保存
                </button>
                <!--<button type="submit" class="btn navbar-btn btn-sky width-94"><span class="glyphicon glyphicon-user"></span>打印</button>-->
                <button type="button" class="btn navbar-btn btn-default width-94" ng-click="cancel()"><span
                        class="glyphicon glyphicon-remove margin-4"></span>取消
                </button>
            </div>
        </div>
    </form>
</div>


