<div class="room-box" ng-controller="userAuditEditCtrl as vm">
    <div class="light-box-title"><span class="text-white">{{vm.enterpriseInfo.usertypename}}—审核</span></div>
    <form class="form-horizontal text-normal" name="myForm" autocomplete="off" novalidate>
        <div class="form-group">
                <label class="col-sm-2 row handle-row control-label">头像</label>

                <div class="col-sm-9 row room-sex">
                    <span class="head-img pull-left"><img class="media-object img-responsive"
                                                          src="{{vm.enterpriseInfo.image||'assets/images/license.jpg'}}"
                                                          alt="..."></span>
                </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label">用户账号</label>

            <div class="col-sm-7">
                <input type="text" name="username" class="form-control width-154" ng-model="vm.enterpriseInfo.username"
                       placeholder="" readonly="readonly">
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label">企业名称</label>

            <div class="col-sm-7">
                <input type="text" name="enterprisename" class="form-control width-154"
                       ng-model="vm.enterpriseInfo.enterprisename" placeholder="" readonly="readonly">
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label">机构代码</label>

            <div class="col-sm-7">
                <input type="text" name="cuscard" class="form-control width-154" ng-model="vm.enterpriseInfo.organizationcode"
                       placeholder="" readonly="readonly">
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label">法人</label>

            <div class="col-sm-7">
                <input type="text" name="legalrepresentative" class="form-control width-154"
                       ng-model="vm.enterpriseInfo.legalrepresentative" placeholder="" readonly="readonly">
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label">联系人</label>

            <div class="col-sm-7">
                <input type="text" name="contactname" class="form-control width-154" ng-model="vm.enterpriseInfo.contactname"
                       placeholder="" readonly="readonly">
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label">联系电话</label>

            <div class="col-sm-7">
                <input type="text" name="telephonenumber" class="form-control width-154"
                       ng-model="vm.enterpriseInfo.telephonenumber" placeholder="" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 row handle-row control-label">地址</label>

            <div class="col-sm-9">
                <input name="location" type="text" class="form-control width-154 handle-input"
                       ng-model="vm.enterpriseInfo.location" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label">组织机构代码</label>

            <div class="col-sm-7">
                <span class="license-img pull-left margin-11"><img class="media-object img-responsive"
                                                                   src="{{vm.enterpriseInfo.orgcodelicurl||'assets/images/license.jpg'}}"
                                                                   alt="..."></span>
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label">企业LOGO</label>

            <div class="col-sm-7">
                <span class="license-img pull-left margin-11"><img class="media-object img-responsive"
                                                                   src="{{vm.enterpriseInfo.logourl||'assets/images/license.jpg'}}"
                                                                   alt="..."></span>
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label">税务登记</label>

            <div class="col-sm-7">
                <span class="license-img pull-left margin-11"><img class="media-object img-responsive"
                                                                   src="{{vm.enterpriseInfo.taxlicurl||'assets/images/license.jpg'}}"
                                                                   alt="..."></span>
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-sm-5 control-label">工商营业执照</label>

            <div class="col-sm-7">
                <span class="license-img pull-left margin-11"><img class="media-object img-responsive"
                                                                   src="{{vm.enterpriseInfo.bizlicurl||'assets/images/license.jpg'}}"
                                                                   alt="..."></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 row handle-row control-label">备注</label>

            <div class="col-sm-9 ticket-beihzhu">
                <input name="deptphone" type="text" class="form-control"
                       ng-model="vm.enterpriseInfo.description"/>
            </div>
        </div>
        <div class="form-group">
            <div class="text-center">
                <button type="button" class="btn navbar-btn btn-sky width-94" ng-click="pass(vm.enterpriseInfo.userid)"><span
                        class="glyphicon glyphicon-saved margin-4"></span>通过
                </button>
                <button type="button" class="btn navbar-btn btn-sky width-94" ng-click="unPass(vm.enterpriseInfo.userid)"><span
                        class="glyphicon glyphicon-ban-circle margin-4"></span>不通过
                </button>
                <button type="button" class="btn navbar-btn btn-default width-94" ng-click="cancel()"><span
                        class="glyphicon glyphicon-remove margin-4"></span>取消
                </button>
            </div>
        </div>
    </form>
</div>
