<ion-header-bar class="bar-positive" style="border:0px !important;background-color:#387ef5;color:#fff !important;">
  <a class="button icon-left ion-ios-arrow-left button-clear button-light"
     style="width:40px;padding:3px 2px 3px 8px;margin-top: 3px;" ng-click="closeCarrier()"></a>
  <div class="title title-center header-item" style="color:#fff !important;">确认承运</div>
  <a class="button button-clear" style="width:40px;height:25px"></a>
</ion-header-bar>
<ion-view view-title="确认承运">
  <ion-content class="padding">
    <div style="width:100%;margin:10px auto;text-ailgn:center;">
      <input type="text" placeholder="输入确认的运费" style="width: 100%;margin:20px auto;padding:10px;border: 1px solid #ddd;" ng-model="carrierOrder.pricing"/>
      <div class="text-center">
        <button type="button" class="button button-positive" ng-click="carrierSubmit()" style="width:75%">提交</button>
      </div>
    </div>
  </ion-content>
</ion-view>
