<div class="center-main" ng-controller="changePasswordCtrl as vm">
    <form name="myForm" autocomplete="off" ng-submit="vm.save()" novalidate>
        <div class="forget-password">
            <div class="form-group clearfix" ng-class="{'has-error':myForm.submitted && myForm.oldpassword.$invalid}">
                <label class="col-sm-3 control-label"><code>*</code>原始密码</label>
                <div class="col-sm-9">
                    <input name="oldpassword" type="password" ng-model="vm.jsondata.oldpassword" class="form-control width-154" placeholder="原始密码" required>
                    <span class="help-block" ng-show="myForm.submitted && myForm.oldpassword.$error.required">请输入原始密码!</span>
                </div>
            </div>
            <div class="form-group clearfix" ng-class="{'has-error':myForm.submitted && myForm.newpassword.$invalid}">
                <label class="col-sm-3 control-label text-right">新密码</label>
                <div class="col-sm-9">
                    <input name="newpassword" type="password" ng-model="vm.jsondata.newpassword" class="form-control width-154" placeholder="新密码" required>
                    <span class="help-block" ng-show="myForm.submitted && myForm.newpassword.$error.required">请输入新密码!</span>
                </div>
            </div>
            <div class="form-group clearfix" ng-class="{'has-error':myForm.submitted && myForm.rpassword.$invalid}">
                <label class="col-sm-3 control-label text-right">确认新密码</label>
                <div class="col-sm-9">
                    <input name="rpassword" type="password" class="form-control width-154" ng-model="rpassword" placeholder="确认新密码" my-pwd-match="myForm.newpassword" required>
                    <span class="help-block" ng-show="myForm.submitted && myForm.rpassword.$error.required">请输入确认新密码!</span>
                    <span class="help-block" ng-show="myForm.submitted && myForm.rpassword.$error.pwdmatch">重复密码必须与新密码一致！</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn navbar-btn btn-sky width-94"><span
                            class="glyphicon glyphicon-ok"></span>保存
                    </button>
                    <button type="button" class="btn navbar-btn btn-sky width-94" ng-click="vm.reset()"><span
                            class="glyphicon glyphicon-refresh"></span>重置
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>