<ion-header-bar class="bar-positive" style="border:0px !important;background-color:#387ef5;color:#fff !important;">
  <a class="button icon-left ion-ios-arrow-left button-clear button-light"
     style="width:40px;padding:3px 2px 3px 8px;margin-top: 3px;" href="#/userSetting"></a>
  <div class="title title-center header-item" style="color:#fff !important;">关于云驿达</div>
</ion-header-bar>
<ion-content>
  <div class="card">
    <div class="item item-text-wrap">
      <span style="font-size: 16px;font-weight: bold;">公司简介</span><br/>
      云驿达是湖南云驿达网络科技有限公司倾心打造的互联网物流信息平台。公司成立于2015年12月，团队成员来自阿里巴巴、百度、德邦物流等著名互联网企业与知名物流公司，公司旨在通过互联网方式打造线上线下融合的智慧物流解决方案，通过先进的信息技术和卓越的资源整合能力，最大限度地缩短物流中间环节，促成交易实现，进而大幅度提升物流运行效率。最终打造成发货客户心中“最全的物流资源库、最好用的物流平台”，物流承运商眼中“最有价值的业务资源库”。
      <br/>
      <br/>
      <span style="font-size: 16px;font-weight: bold;">联系方式</span><br/>
      联系电话：0731-85221756<br/>
      电子邮箱：yunyida56@163.com<br/>
      联系地址：湖南省长沙市雨花区红花坡路名都凯旋城3栋1109
    </div>
  </div>
</ion-content>
