<ion-header-bar class="bar-positive" style="border:0px !important;background-color:#387ef5;color:#fff !important;">
  <a class="button icon-left ion-ios-arrow-left button-clear button-light" ng-click="backGo()"></a>
  <div class="title title-center header-item" style="color:#fff !important;">我的资料</div>
  <a class="button button-clear" style="width:40px;height:25px"></a>
</ion-header-bar>
<ion-content>
  <form ng-submit="saveUserInfo()">
    <div class="list padding">
      <label class="item item-input" style="border-bottom:1px solid #ccc">
        <span class="input-label">姓名</span>
        <input type="text" ng-model="userData.realName" placeholder="请输入真实姓名">
      </label>
      <label class="item item-input" style="border-bottom:1px solid #ccc">
        <span class="input-label">身份证号码</span>
        <input type="text" ng-model="userData.cardNumber">
      </label>
      <label class="item item-input" style="border-bottom:1px solid #ccc">
        <span class="input-label">电子邮箱</span>
        <input type="text" ng-model="userData.email" placeholder="请输入电子邮箱">
      </label>
      <label class="item item-input" style="border-bottom:1px solid #ccc">
        <span class="input-label">企业名称</span>
        <input type="text" ng-model="userData.enterpriseName">
      </label>
      <label class="item item-input">
        <span class="input-label" style="width:35%">所在城市</span>
        <ionic-city-picker placeholder="" backdrop=true backdrop-click-to-close=false css-class="text-align-l"
                           okText="确定" citydata="userData.city" citycode="userData.cityCode" style="width:60%;"></ionic-city-picker>
        <i class="icon ion-chevron-right " style="color: #ACACAC;"></i>
      </label>
      <label class="item item-input">
        <span class="input-label">街道</span>
        <input type="text" ng-model="userData.street">
      </label>
      <label class="item item-input">
        <span class="input-label">详细地址</span>
        <input type="text" ng-model="userData.address">
      </label>
      <label class="padding">
        <button class="button button-block button-positive" type="submit">保存修改</button>
      </label>
    </div>
  </form>
</ion-content>
