<ion-header-bar class="bar-positive" style="border:0px !important;background-color:#387ef5;color:#fff !important;">
  <a class="button icon-left ion-ios-arrow-left button-clear button-light" ng-click="backGo()"></a>
  <div class="title title-center header-item" style="color:#fff !important;">我的资料</div>
  <a class="button button-clear" style="width:40px;height:25px"></a>
</ion-header-bar>
<ion-content>
  <!--<form ng-submit="saveEnterpriseInfo()">-->
  <form>
    <div class="list padding">
      <label class="item item-input">
        <span class="input-label">姓名</span>
        <input type="text" ng-model="userData.realName">
      </label>
      <label class="item item-input">
        <span class="input-label">身份证号码</span>
        <input type="text" ng-model="userData.cardNumber">
      </label>
      <label class="item item-input" style="border-bottom:1px solid #ccc">
        <span class="input-label">企业名称</span>
        <input type="text" ng-model="userData.enterpriseName">
      </label>
      <label class="item item-input">
        <span class="input-label" style="width:35%">所在城市</span>
        <ionic-city-picker placeholder="出发城市" backdrop=false backdrop-click-to-close=true css-class="text-align-l"
                           okText="确定" citydata="userData.city" citycode="userData.cityCode" style="width:60%;"></ionic-city-picker>
        <i class="icon ion-chevron-right " style="color: #ACACAC;"></i>
      </label>
      <label class="item item-input">
        <span class="input-label">街道</span>
        <input ng-if="streetList.length<=0" type="text" placeholder="选填" ng-model="userData.street">
        <ionic-dict-picker ng-if="streetList.length>0" placeholder="选填" backdrop=false backdrop-click-to-close=true
                           css-class="text-align-l"
                           dictmodel="userData.street" dictdata="street_data" okText="确定"
                           style="width:55%"></ionic-dict-picker>
      </label>
      <label class="item item-input">
        <span class="input-label">详细地址</span>
        <input type="text" ng-model="userData.address">
      </label>
      <label class="item item-input" style="border-bottom:1px solid #ccc">
        <span class="input-label">营业执照编号</span>
        <input type="text" ng-model="userData.businessLicenseNumber">
      </label>
      <label class="item item-input" style="width:100%">
        <div class="input-label" style="width:auto">业务类型</div>
        <ion-checkbox ng-repeat="item in businessTypeList"
                      ng-model="item.checked"
                      ng-checked="item.checked"
                      style="border: 0px !important;font-size: 14px;padding: 16px 0px 16px 40px !important;">
          {{ item.text }}
        </ion-checkbox>
      </label>
      <div class="padding">
        <!--<button class="button button-block button-positive" type="submit">保存修改</button>-->
        <button class="button button-block button-positive">修改资料请联系客服</button>
      </div>
    </div>
  </form>
</ion-content>
