<ion-header-bar class="bar-stable" style="border:0px !important;background-color:#ef6600;color:#fff !important;">
  <a class="button icon-left ion-ios-arrow-left button-clear button-light" ng-click="backGo()"></a>
  <div class="title title-center header-item" style="color:#fff !important;">找回密码</div>
</ion-header-bar>
<ion-content>
  <div class="list padding">
    <label class="item item-input margin10" style="border-bottom:1px solid #ccc">
      <span class="input-label">手&nbsp;&nbsp;机&nbsp;&nbsp;号</span>
      <input type="text" ng-model="formData.phoneNumber">
    </label>
    <div class="item item-input-inset margin10" style="padding-top:6px;padding-bottom:6px;padding-left:12px;">
      <span class="input-label">验&nbsp;&nbsp;证&nbsp;&nbsp;码</span>
      <input type="text" ng-model="formData.securityCode" style="width: 135px;padding-left:7px;">
      <button class="button button-small button-assertive" ng-click="getValidCode()" ng-disabled="flag==0">{{validBtnText}}</button>
    </div>
    <label class="item item-input margin10">
      <span class="input-label">新&nbsp;&nbsp;密&nbsp;&nbsp;码</span>
      <input type="password" ng-model="formData.password">
    </label>
    <label class="item item-input margin10">
      <span class="input-label">确认密码</span>
      <input type="password" ng-model="formData.repassword">
    </label>
    <div class="padding">
      <button class="button button-block button-assertive" ng-click="change()">提交</button>
    </div>
  </div>
</ion-content>
