<ion-header-bar class="bar-stable" style="border:0px !important;background-color:#ef6600;color:#fff !important;">
  <a class="button icon-left ion-ios-arrow-left button-clear button-light" ng-click="backGo()"></a>
  <div class="title title-center header-item" style="color:#fff !important;">我的消息</div>
  <a class="button button-clear button-light icon ion-ios-trash-outline" ng-if="messageList.length>0"
     ng-click="flag.showDelete=!flag.showDelete"></a>
</ion-header-bar>
<div class="tabs-striped tabs-top tabs-light tabs-icon-top">
  <div class="tabs">
    <a ng-class="{a: 'tab-item active', b: 'tab-item'}[isActive]" data-active="a" ng-click="changeTab($event)"
       style="font-size:16px;line-height:48px;">通知消息</a>
    <a ng-class="{a: 'tab-item', b: 'tab-item active'}[isActive]" data-active="b" ng-click="changeTab($event)"
       style="font-size:16px;line-height:48px;">系统消息</a>
  </div>
</div>
<ion-content class="has-subheader">
  <div ng-if="isActive == 'a'">
    <ion-list show-delete="flag.showDelete">
      <ion-refresher pulling-text="<span class='pulling-text-auto'>{{pulltextchange}}</span>" on-refresh="doRefresh()"
                     on-pulling="pulltext()" spinner="ripple" pulling-icon="ion-ios-refresh-empty"></ion-refresher>
      <ion-item ng-repeat="message in messageList">
        <p>{{message.createdAt|amTimeAgo}}</p>
        <!--<p style="color:#000;font-weight:bold">{{item.title}}</p>-->
        <p style="color:#000;white-space: pre">{{message.content}}</p>
        <ion-option-button class="button-assertive icon ion-close-round"
                           ng-click="deleteMessage(message.messageUserId)"></ion-option-button>
        <ion-delete-button class="ion-minus-circled"
                           ng-click="deleteMessage(message.messageUserId)"></ion-delete-button>
      </ion-item>
    </ion-list>
    <div ng-if="messageList.length==0" class="bar bar-stable">
      <div class="no-content">暂无通知消息</div>
    </div>
    <ion-infinite-scroll on-infinite="loadMore()" ng-if="load_over"></ion-infinite-scroll>
  </div>
  <div ng-if="isActive == 'b'">
    <ion-list show-delete="flag.showDelete">
      <ion-refresher pulling-text="<span class='pulling-text-auto'>{{pulltextchange}}</span>" on-refresh="doRefresh()"
                     on-pulling="pulltext()" spinner="ripple" pulling-icon="ion-ios-refresh-empty"></ion-refresher>
      <ion-item ng-repeat="message in messageList">
        <p>{{message.createdAt|amTimeAgo}}</p>
        <!--<p style="color:#000;font-weight:bold">{{message.title}}</p>-->
        <p style="color:#000;white-space: pre">{{message.content}}</p>
        <ion-option-button class="button-assertive icon ion-close-round"
                           ng-click="deleteMessage(message.messageUserId)"></ion-option-button>
        <ion-delete-button class="ion-minus-circled"
                           ng-click="deleteMessage(message.messageUserId)"></ion-delete-button>
      </ion-item>
    </ion-list>
    <div ng-if="messageList.length==0" class="bar bar-stable">
      <div class="no-content">暂无系统消息</div>
    </div>
    <ion-infinite-scroll on-infinite="loadMore()" ng-if="load_over"></ion-infinite-scroll>
  </div>
</ion-content>
