<ion-header-bar class="bar-subheader">
  <ul class="tabs tabs-light">
    <li class="tab-item text-fr padding-right positive">1.填写基本信息</li>
    <li>
      <a class="icon-left ion-ios-arrow-right button-clear button-dark"></a>
    </li>
    <li class="tab-item">2.完善用户资料</li>
  </ul>
</ion-header-bar>
<ion-content>
  <div class="list padding">
    <div class="item item-input margin10" style="border-bottom:1px solid #ccc">
      <span class="input-label">手&nbsp;&nbsp;机&nbsp;&nbsp;号</span>
      <input type="tel" ng-model="userData.phoneNumber">
    </div>
    <div class="item item-input margin10" style="padding-top:6px;padding-bottom:6px;">
      <span class="input-label">验&nbsp;&nbsp;证&nbsp;&nbsp;码</span>
      <input type="text" ng-model="formData.securityCode" style="width: 35%;padding-left:7px;" maxlength="6">
      <button class="button button-small button-positive" style="height: 40px;line-height: 35px; margin-right: 10px;padding:0px 10px 0px 10px;font-weight: bold;letter-spacing:3px;" ng-click="getValidCode()" ng-disabled="flag==0">
        {{validBtnText}}
      </button>
    </div>
    <div class="item item-input margin10">
      <span class="input-label">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</span>
      <input type="password" ng-model="userData.password">
    </div>
    <div class="item item-input margin10">
      <span class="input-label">确认密码</span>
      <input type="password" ng-model="formData.repassword">
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="saveUserInfo()">下一步</button>
    </div>
  </div>
</ion-content>
