<ion-header-bar class="bar-positive" style="border:0px !important;background-color:#387ef5;color:#fff !important;">
  <a class="button icon-left ion-ios-arrow-left button-clear button-light"
     style="width:40px;padding:3px 2px 3px 8px;margin-top: 3px;" ng-click="backGo()"></a>
  <div class="title title-center header-item" style="color:#fff !important;">我的专线</div>
  <a class="button button-clear button-light icon ion-ios-trash-outline" ng-if="items.length>0"
     ng-click="flag.showDelete=!flag.showDelete"></a>
</ion-header-bar>
<ion-content>
  <!--<ion-refresher pulling-text="<span class='pulling-text-auto'>{{pulltextchange}}</span>" on-refresh="doRefresh()"-->
  <!--on-pulling="pulltext()" spinner="ripple" pulling-icon="ion-ios-refresh-empty"></ion-refresher>-->
  <ion-list show-delete="flag.showDelete">
    <ion-item class="item item-thumbnail-right" ng-repeat="item in items">
      <p style="height: 35px;color: #222222;font-size: 16px;"
         ng-click="showGoodsLine(item)">
        <img style="width: 20px;height: 32px;vertical-align: bottom" src="img/start.png"/>
        <span>{{item.sCity+(item.sStreet?item.sStreet:'')+(item.sAddress?item.sAddress:'')}}</span>
      </p>
      <p style="height: 35px;color: #222222;font-size: 16px;"
         ng-click="showGoodsLine(item)">
        <img style="width: 20px;height: 32px;vertical-align: bottom" src="img/end.png"/>
        <span>{{item.eCity+(item.eStreet?item.eStreet:'')+(item.eAddress?item.eAddress:'')}}</span>
      </p>
      <ion-delete-button class="ion-minus-circled" ng-click="delGoodsLine(item.goodsLineId)"></ion-delete-button>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll ng-if="load_over" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
  <div ng-if="items.length==0" class="bar bar-positive">
    <div class="no-content">还没有专线,马上添加</div>
  </div>
</ion-content>
<ion-footer-bar align-title="center" class="bar-positive">
  <div class="title" ng-click="showGoodsLine()">新增专线</div>
</ion-footer-bar>
