.cp-main.opened{
    box-shadow: 1px 1px 2px #888;
    position: relative;
    font-family:Microsoft YaHei;
}

.cp-selector{
    width: 100%;
    line-height: 2;
    background: #FFF;
    text-align: center;
    color:#333;
    border: 1px solid transparent;
    border-color:#CCC;
    cursor: pointer;
    padding: 6px 12px;
    outline: 0;
    font-weight: bold;
}

.cp-selector.opened{
    border-right: 0;
}

.cp-selector:hover{
    background: #E0E0E0;
}

.cp-selector:active{
    outline:thin dotted;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px;
}

.cp-drop {
    z-index: 1000;
    position: absolute;
    width: 100%;
    border:1px solid #a0cdff;
}

.cp-tab>dl {
    margin: 0;
}

.cp-tab>dl>dd {
    background: #FFF;
    float: left;
    cursor: pointer;
    margin: -1px 0 0 0;
    text-align: center;
    padding: 3% 0;
    width: 33.33333%;
    border-top: 1px solid #ccc;
}

.cp-tab>dl>dd:hover {
    text-decoration: underline;
}

.cp-tab>dl>dd.active {
    background: #edf6ff;
    color: #666;
    font-weight:bold;
    border-right:1px solid #a0cdff;
    border-left:1px solid #a0cdff;
}

.cp-panel {
    color: #666;
    padding: 10px 15px;    
    overflow: hidden;
    background: #edf6ff;
    border-top:1px solid #a0cdff;
}

.cp-panel>dl {
    margin: 0;
    line-height: 2;
}

.cp-panel .cp-col-title {
    float: left;
    width: 20%;
}

.cp-panel .cp-col-content {
    float: left;
    width: 80%;
}

.cp-panel>dl>div {
    float: left;
}

.cp-col-title>dt {
    font-weight: bolder;
}

.cp-col-content>dd,
.cp-panel>dl>div>dd {
    margin: 0;
}

.cp-col-content>dd>a,
.cp-panel>dl>div>dd>a {
    padding: 0 8px;
    line-height: 2;
    text-align: left;
    float: left;
}

.cp-col-content>dd>a:hover,
.cp-panel>dl>div>dd>a:hover {
    cursor: pointer;
    color: #f60;
}

.cp-col-content>dd>a.active,
.cp-panel>dl>div>dd>a.active {
    background: #f60;
    border-radius: 3px;
    color: #fff;
}