
<div class="index-content" ng-controller="indexChartController as vm">

  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:48px;background-color:#de4945">
    <div style="width:100%">
      <button class="btn-top" ng-class="{'btn-top-active': vm.query.type=='P'}"  type="button" ng-click="vm.query.type='P'">
        <div class="btn-whole"><span class="top-nav-img"><img src="assets/images/top-nav1.png"></span><span class="top-nav-txt">公路园区</span></div></button>
      <button class="btn-top" ng-class="{'btn-top-active': vm.query.type=='E'}" type="button" ng-click="vm.query.type='E'">
        <div class="btn-whole"><span class="top-nav-img"><img src="assets/images/top-nav2.png"></span><span class="top-nav-txt">水运港口</span></div></button>
      <button class="btn-top" ng-class="{'btn-top-active': vm.query.type=='C'}" type="button" ng-click="vm.query.type='C'">
        <div class="btn-whole"><span class="top-nav-img"><img src="assets/images/top-nav3.png"></span><span class="top-nav-txt">铁运场站</span></div></button>
      <button class="btn-top" ng-class="{'btn-top-active': vm.query.type=='D'}" type="button" ng-click="vm.query.type='D'">
        <div class="btn-whole"><span class="top-nav-img"><img src="assets/images/top-nav4.png"></span><span class="top-nav-txt">航运机场</span></div></button>
      <button class="btn-top" ng-class="{'btn-top-active': vm.query.type=='V'}" type="button" ng-click="vm.query.type='V'">
        <div class="btn-whole"><span class="top-nav-img"><img src="assets/images/top-nav5.png"></span><span class="top-nav-txt">邮政枢纽</span></div></button>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="vm.query.type=='P'">
      <div class="col-md-4 index-left" >
        <map-chart config="configMap" data="mapData"></map-chart>
      </div>

      <div class="col-md-8 index-right" >
          <div class="col-md-12 index-right-top" >
              <bar-chart config="barConfig" data="barData"></bar-chart>
          </div>

          <div class="col-md-12" style="height:300px">
            <div class="charts-width">
              <donut-chart config="pieConfig" data="pieData"></donut-chart>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px;" ng-show="vm.query.type!='P'">
      <img src="assets/images/blackback.jpg" width="99%">
  </div>
</div>
