<ion-header-bar style="height:9.9rem">
  <!-- <div class="title title-center header-item" style="color:#fff !important;">{{title}}</div>
  <a class="button button-clear" href="#/message">
    <img src="img/icon-zn-b.png" alt="最新消息" style="width:20px;position:relative;top:2px;">
  </a> -->
  <div id="content">
    <section id="btn-group">
      <div class="button button-clear home-title">
        物流管家-货主
      </div>
      <a href="#/addgoods">
        <img src="img/f.png" alt=""><br/>
        <span>我要发货</span>
      </a>
      <a href="#/tab/carlist">
        <img src="img/c.png" alt=""><br/>
        <span>我要找车</span>
      </a>
      <a href="#/tab/order">
        <img src="img/w.png" alt=""><br/>
        <span>我的订单</span>
      </a>
    </section>
    <section id="g-add">
      <span>推荐车源</span>
    </section>
  </div>
</ion-header-bar>
<ion-content style="top:9.9rem">
    <ion-list >
    <ion-refresher pulling-text="<span class='pulling-text-auto'>{{pulltextchange}}</span>" on-refresh="doRefresh()" on-pulling="pulltext()" spinner="ripple" pulling-icon="ion-ios-refresh-empty"></ion-refresher>
      <ion-item class="item-remove-animate item_car" ng-repeat="car in carList" type="item-text-wrap" ng-click="interdetail(car)">
        <div class="content">
          <p>
            <h2>{{car.sCity||'全国'}} → {{car.eCity||'全国'}}</h2>
            <span ng-if="car.vehicleLength">车长:{{car.vehicleLength}}米</span>
            <span ng-if="car.loadWeight">载重:{{car.loadWeight}}吨</span>
          </p>
          <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
        </div>
        <div class="time">
          <span am-time-ago="car.date*1000"></span>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="loadCar()" ng-if="load_over" distance="1%"></ion-infinite-scroll>
</ion-content>
