<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-left tabs-color-active-positive">

  <ion-tab title="接  单" icon-off="ion-cube" icon-on="ion-cube" href="#/tab/index">
    <ion-nav-view name="tab-index"></ion-nav-view>
  </ion-tab>

  <!--<ion-tab title="找  车" icon-off="ion-android-car" icon-on="ion-android-car" href="#/tab/carlist">-->
    <!--<ion-nav-view name="tab-carlist"></ion-nav-view>-->
  <!--</ion-tab>-->

  <ion-tab title="订  单" icon-off="ion-android-clipboard" icon-on="ion-android-clipboard" href="#/tab/order">
    <ion-nav-view name="tab-order"></ion-nav-view>
  </ion-tab>

  <ion-tab title="我" icon-off="ion-ios-person" icon-on="ion-ios-person" href="#/tab/user">
    <ion-nav-view name="tab-user"></ion-nav-view>
  </ion-tab>

</ion-tabs>
