<div class="room-box" ng-controller="addEnterpriseHonestyCtrl as vm">
  <div class="light-box-title"><span class="text-white">详情</span></div>
  <form class="form-horizontal text-normal" name="myForm" autocomplete="off" ng-submit="vm.add()" novalidate>
    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="col-sm-5 control-label">企业图像</label>
      <div class="col-sm-7">
        <span class="license-img pull-left margin-siji margin-11">
        <img class="media-object img-responsive" ng-model="vm.jsondata.imageUrl" ngf-src="imageUrl[0]" ngf-default-src="assets/images/license.jpg" ngf-accept="'image/*'" alt="...">
        </span>
        <span class="pull-left margin-5">
        <button type="button" class="btn btn-sky width-94" ngf-select ng-model="imageUrl" accept="image/*">上传</button></span>
      </div>
    </div>
    <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <label for="enterpriseName" class="col-sm-5 control-label">企业名称</label>
          <div class="col-sm-7" ng-class="{'has-error':myForm.submitted && myForm.enterpriseName.$invalid}">
            <input type="text" name="enterpriseName" class="form-control width-154" ng-model="vm.jsondata.enterpriseName" placeholder="" required/>
            <span class="help-block" ng-show="myForm.submitted && myForm.enterpriseName.$error.required">请输入企业名称！</span>
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <label for="address" class="col-sm-5 control-label">公司地址</label>
          <div class="col-sm-7" ng-class="{'has-error':myForm.submitted && myForm.address.$invalid}">
            <input type="text" name="address" class="form-control width-154" ng-model="vm.jsondata.address" placeholder="" required/>
            <span class="help-block" ng-show="myForm.submitted && myForm.address.$error.required">请输入企业名称！</span>
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <label for="contactName" class="col-sm-5 control-label">联系人</label>
          <div class="col-sm-7" ng-class="{'has-error':myForm.submitted && myForm.contactName.$invalid}">
            <input type="text" name="contactName" class="form-control width-154" ng-model="vm.jsondata.contactName" placeholder="" required/>
            <span class="help-block" ng-show="myForm.submitted && myForm.contactName.$error.required">请输入联系人！</span>
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <label for="telephoneNumber" class="col-sm-5 control-label">联系方式</label>
          <div class="col-sm-7" ng-class="{'has-error':myForm.submitted && myForm.telephoneNumber.$invalid}">
            <input name="telephoneNumber" type="text" class="form-control width-154" ng-model="vm.jsondata.telephoneNumber" pattern="^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$" required/>
            <span class="help-block" ng-show="myForm.submitted && myForm.telephoneNumber.$error.required">请输入手机号码！</span>
            <span class="help-block" ng-show="myForm.submitted && myForm.telephoneNumber.$error.pattern">输入的手机号码有误！</span>
          </div>
        </div>
        <!-- <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <label for="qvStatus" class="col-sm-5 control-label">企业资质</label>
          <div class="col-sm-7">
            <input type="text" name="qvStatus" class="form-control width-154" ng-model="vm.jsondata.qvStatus" placeholder=""/>
          </div>
        </div> -->
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <label for="mainLine" class="col-sm-5 control-label">主营线路</label>
          <div class="col-sm-7">
            <input name="mainLine" type="text" class="form-control width-154" ng-model="vm.jsondata.mainLine"/>
          </div>
        </div>
    </div>
    <div class="form-group clear">
            <label for="companyIntroduction" class="col-sm-4 row handle-row control-label">公司简介</label>
            <div class="col-sm-8 ticket-beihzhu2">
                <textarea id="companyIntroduction" name="remark" class="form-control driver-height"
                          ng-model="vm.jsondata.companyIntroduction"></textarea>
            </div>
    </div>
    <div class="form-group clear" ng-if="flag == 'HMD'">
            <label for="publicCause" class="col-sm-4 row handle-row control-label">公示原因</label>
            <div class="col-sm-8 ticket-beihzhu2" ng-class="{'has-error':myForm.submitted && myForm.publicCause.$invalid}">
                <textarea id="publicCause" name="publicCause" class="form-control driver-height" ng-model="vm.jsondata.publicCause" required></textarea>
                <span class="help-block" ng-show="myForm.submitted && myForm.publicCause.$error.required">请输入公示原因！</span>
            </div>
    </div>
    <div class="form-group">
          <div class="text-center">
            <button type="submit" class="btn navbar-btn btn-sky width-94"><span class="glyphicon glyphicon-ok margin-4"></span>保存</button>
            <button type="button" class="btn navbar-btn btn-default width-94" ng-click="vm.cancel()"><span class="glyphicon glyphicon-remove margin-4"></span>取消</button>
          </div>
    </div>
  </form>
</div>
