<div class="content-box" ng-controller="driverHonestyCtrl as vm">
    <div id="grid-search" class="search-box">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label for="tel" class="sr-only">输入姓名/手机号/车牌号搜索</label>
                <input type="text" class="form-control width-154" id="tel" ng-model="vm.querydata.searchCondition" placeholder="输入姓名/手机号/车牌号搜索">
            </div>
            <button type="button" class="btn btn-sky width-94" ng-click="vm.query()"><span class="glyphicon glyphicon-search margin-4"></span>搜索</button>
            <button type="button" class="btn btn-reset" ng-click="vm.resetQuery()"><span
                    class="glyphicon glyphicon-repeat margin-4"></span>重置
            </button>
            <button class="btn btn-sky width-94" ng-click="vm.addDriverHonesty()" type="button" style="float:right;">
                <span class="glyphicon glyphicon-circle-arrow-right margin-4"></span>新增
            </button>
        </form>
    </div>
    <div class="nav-yyd-box">
        <div class="nav_car">
            <ul class="nav nav-tabs nav-yyd" ng-init="vm.activeTab='BMD'">
                <li ng-class="{active: vm.activeTab == 'BMD'}"><a class="order-a" href="javascript:;" ng-click="vm.selectTab('BMD')">白名单</a></li>
                <li ng-class="{active: vm.activeTab == 'HMD'}"><a class="order-a" href="javascript:;" ng-click="vm.selectTab('HMD')">黑名单</a></li>
                <!-- <li ng-class="{active: vm.activeTab == 'CXTJ'}"><a class="order-a" href="javascript:;" ng-click="vm.selectTab('CXTJ')">诚信推荐</a></li> -->
            </ul>
        </div>
        <div class="table-responsive-2-1">
            <table class="table table-striped table-hover table-bordered table01 ">
              <thead>
              <tr>
                <td>操作</td>
                <td>车牌</td>
                <td>姓名</td>
                <td>联系方式</td>
                <td>身份证地址</td>
                <td>性别</td>
                <!-- <td>车长</td> -->
                <td>主营线路</td>
                <td>公示日期</td>
                <!-- <td ng-if="vm.activeTab == 'HMD'">公示原因</td> -->
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in vm.dataList">
                <td>
                    <a class="glyphicon glyphicon-zoom-in margin-h10" title="详情" ng-click="vm.driverHonestyInfo(item.driverId)"></a>
                    <a class="glyphicon glyphicon-trash margin-h10" title="删除" ng-click="vm.delteDriverHonesty(item)"></a>
                </td>
                <td>{{item.vehicleNumber}}</td>
                <td>{{item.realName}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.userIdsn}}</td>
                <td>{{vm.codeToSexName(item.sex)}}</td>
                <!-- <td>{{item.vehicleLength}}</td> -->
                <td>{{item.mainLine}}</td>
                <td>{{item.publicDate}}</td>
                <!-- <td ng-if="vm.activeTab == 'HMD'">{{item.publicCause}}</td> -->
              </tr>
              </tbody>
            </table>
        </div>
        <tm-pagination conf="paginationConf" class="page-fix"></tm-pagination>
    </div>
</div>