
<div class="content-box" ng-controller="leaseManageCtrl as vm">
    <div class="search-box">
        <form class="form-inline" role="form">
            <!-- <div class="form-group">
                <label  for="state">区域</label>
                <select class="form-control width-154" ng-model="vm.querydata.regionid" ng-options="it.dictid as it.dictname for it in vm.szqy">
                    <option value="">--请选择--</option>
                </select>
            </div>
            <div class="form-group">
                <label  for="state">房型</label>
                <select class="form-control width-154" ng-model="vm.querydata.fangxingid" ng-options="it.dictid as it.dictname for it in vm.fx">
                    <option value="">--请选择--</option>
                </select>
            </div>   --> 
            <div class="form-group">
                <label  for="state" class="sr-only">合同状态</label>
                <select class="form-control width-154" ng-model="vm.querydata.status" ng-change="vm.querylist()">
                    <option value="">合同状态</option>
                    <option value="0">未执行</option>
                    <option value="1">执行中</option>
                    <option value="2">已完成</option>
                </select>
            </div>      
             <!-- <button type="button" class="btn btn-sky width-94" ng-click="vm.querylist()"><span class="glyphicon glyphicon-search margin-4"></span>搜索</button>      -->
        </form>
    </div>
    <div class="control-box">
        <button type="button" class="btn btn-sky width-94" ng-click="vm.addLeaseClick()"><span class="glyphicon glyphicon-plus margin-4"></span>新增</button>
    </div>
    <div class="table-responsive-2-1">
        <table class="table table-striped table-hover table-bordered table01 ">
          <thead>
          <tr>
            <td>操作</td>
            <td>合同编号</td>
            <td>合同状态</td>
            <!-- <td>客户编号</td> -->
            <td>客户名称</td>
            <td>客户电话</td>
            <td>合同租金</td>
            <td>门面编号</td>
            <td>押金</td>
            <td>签约日期</td>
            <td>截止日期</td>
          </tr>
          </thead>
          <tbody >
          <tr ng-repeat="ml in vm.mLeaseList">
            <td>
                <a class="glyphicon glyphicon-zoom-in margin-h10" title="查看" ng-click="vm.viewLeaseClick(ml.id)" ng-show="ml.status != '0'"></a>
                <a class="glyphicon glyphicon glyphicon-edit margin-h10" title="编辑" ng-click="vm.editLeaseClick(ml.id)" ng-show="ml.status == '0'"></a>
                <a class="glyphicon glyphicon-user margin-h10" title="审核" ng-click="vm.checkLeaseClick(ml.id)" ng-show="ml.status == '0'"></a>
                <a class="glyphicon glyphicon-trash margin-h10" title="删除" ng-click="vm.clickToDelete(ml)" ng-show="ml.status == '0'"></a>
            </td>
            <td>{{ml.contractno}}</td>
            <td>{{vm.codeToString(ml.status)}}</td>
            <!-- <td>{{ml.customerno}}</td> -->
            <td>{{ml.customername}}</td>
            <td>{{ml.contactphone}}</td>
            <td>{{ml.deposit}}</td>
            <td>{{ml.doornos}}</td>
            <td>{{ml.deposit}}</td>
            <td>{{vm.dateToString(ml.signdate)}}</td>
            <td>{{vm.dateToString(ml.enddate)}}</td>
            <!-- <td>{{ml.validitydate}}</td> -->
          </tr>
          </tbody>
        </table>
    </div>
    <tm-pagination conf="paginationConf" class="page-fix"></tm-pagination>
    <!-- <div class="pull-right">共<span class="text-orange">{{staffList.total}}</span>条</div> -->
    <!--<div class="pull-right"><tm-pagination conf="paginationConf"></tm-pagination></div>-->
</div>