<div class="content-box" ng-controller="accountManageCtrl as vm">
    <div class="search-box">
        <!-- <form class="form-inline" role="form"> -->
        <form class="form-inline ng-pristine ng-valid" role="form"  autocomplete="off">

                <div class="form-group form-inline">
                    <label for="phone" class="sr-only">用户名：</label>
                    <input type="text" class="form-control width-154 input-inline"  ng-model='vm.jsondata.query.realname'
                           placeholder="用户名">
                    <label for="phone" class="sr-only">企业名：</label>
                    <input type="text" class="form-control width-154 input-inline"  ng-model='vm.jsondata.query.enterprisename'
                    placeholder="企业名">
                    <label for="phone" class="sr-only">手机：</label>
                    <input type="text" class="form-control width-154 input-inline"  ng-model='vm.jsondata.query.phone'
                    placeholder="手机／电话">
                    <label for="phone" class="sr-only">账号：</label>
                    <input type="text" class="form-control width-154 input-inline"  ng-model='vm.jsondata.query.username'
                    placeholder="账号名">
                    <button type="button" class="btn btn-sky width-94" ng-click="vm.clickToSearch()"><span
                        class="glyphicon glyphicon-search margin-4"></span>搜索
                    </button>
                </div>

        </form>

    </div>

    <div class="table-responsive-1-1">
    <table class="table table-striped table-hover table-bordered table01 ">
        <thead>
        <tr>
            <td>操作</td>
            <td>账号</td>
            <td>归属企业</td>
            <!-- <td>注册日期</td> -->
            <td>用户姓名</td>
            <td>手机号</td>
            <!-- <td>备注</td> -->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="list in vm.accountLists">
            <td>
                <a href="" class="glyphicon  glyphicon-edit margin-h10" title="修改" ng-click="vm.clickToEdit(list)"></a>
                <a href="" class="glyphicon glyphicon-minus-sign margin-h10" title="重置密码"
                   ng-click="vm.clickToResetPassword(list.userid)"></a>
            </td>
            <td>{{list.username}}</td>
            <td>{{list.enterprisename}}</td>
            <!-- <td>{{list.createtime}}</td> -->
            <td>{{list.realname}}</td>
            <td>{{list.telephonenumber}}</td>
            <!-- <td></td> -->
        </tr>
        </tbody>
    </table>
    </div>
    <tm-pagination conf="vm.jsondata" class="page-fix"></tm-pagination>
</div>
</div>
