<div ng-controller="retPasswordCtrl as vm">
  <div class="light-box-title"><span class="text-white">重置密码</span></div>
  <form class="form-horizontal clearfix text-normal" autocomplete="off" >



    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <label class="col-sm-5 control-label">新密码</label>

      <div class="col-sm-7">
        <input  type="text" class="form-control width-154"  placeholder="不填默认为123456" ng-model="account.newpassword"/>
      </div>
    </div>


    <div class="form-group">
      <div class="text-center">
        <button type="button" class="btn navbar-btn btn-sky width-94" ng-click="vm.reset()" ><span class="glyphicon glyphicon-ok margin-4"></span>确定</button>
        <button type="button" class="btn navbar-btn btn-default width-94" ng-click="vm.cancel()"><span
          class="glyphicon glyphicon-remove margin-4"></span>取消
        </button>
      </div>
    </div>
  </form>
</div>
