<div class="room-box" ng-controller="payMentCtrl as vm">
  <div class="light-box-title"><span class="text-white">付款</span></div>
    <table class="table table-striped table-hover table-bordered table01 ">
      <thead>
      <tr>
        <td>门面编号</td>
        <td>客户名称</td>
        <td>客户手机</td>
        <td>收费项目代码</td>
        <!-- <td>收费项目名称</td> -->
        <!-- <td>收费标准</td> -->
        <td>房租</td>
        <td>宽带</td>
        <td>其它</td>
      </tr>
      </thead>
      <tbody >
      <tr>
        <td>{{vm.mrent.doornos}}</td>
        <td>{{vm.mrent.customername}}</td>
        <td>{{vm.mrent.contactphone}}</td>
        <td>{{vm.mrent.leasedetail.service.dictcode}}</td>
        <!-- <td>{{vm.mrent.leasedetail.service.dictname}}</td> -->
        <!-- <td>{{vm.mrent.standard.dictname}}</td> -->
        <td>{{vm.mrent.rent}}</td>
        <td>{{vm.mrent.broadband}}</td>
        <td>{{vm.mrent.other}}</td>
      </tr>
      </tbody>
    </table>
    水表
    <table class="table table-striped table-hover table-bordered table01 ">
      <thead>
      <tr>
        <td>门面号</td>
        <td>本次读表数</td>
        <td>本次读表日期</td>
        <td>上次读表数</td>
        <td>上次读表日期</td>
        <td>表数</td>
        <td>公摊表数</td>
        <td>费用</td>
      </tr>
      </thead>
      <tbody >
      <tr ng-repeat="wm in vm.mrent.waterMter">
        <td>{{wm.doorno}}</td>
        <td>{{wm.currentread}}</td>
        <td>{{wm.currentreadDate}}</td>
        <td>{{wm.lastread}}</td>
        <td>{{wm.lastreadDate}}</td>
        <td>{{wm.tablenumb}}</td>
        <td>{{wm.poolnumb}}</td>
        <td>{{wm.amount}}</td>
      </tr>
      </tbody>
    </table>
    电表
    <table class="table table-striped table-hover table-bordered table01 ">
      <thead>
      <tr>
        <td>门面号</td>
        <td>本次读表数</td>
        <td>本次读表日期</td>
        <td>上次读表数</td>
        <td>上次读表日期</td>
        <td>表数</td>
        <td>公摊表数</td>
        <td>费用</td>
      </tr>
      </thead>
      <tbody >
      <tr ng-repeat="em in vm.mrent.electMter">
        <td>{{em.doorno}}</td>
        <td>{{em.currentread}}</td>
        <td>{{em.currentreadDate}}</td>
        <td>{{em.lastread}}</td>
        <td>{{em.lastreadDate}}</td>
        <td>{{em.tablenumb}}</td>
        <td>{{em.poolnumb}}</td>
        <td>{{em.amount}}</td>
      </tr>
      </tbody>
    </table>
  <form class="form-horizontal text-normal" name="myForm" autocomplete="off" ng-submit="vm.payMent()" novalidate>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label for="cuscard" class="col-sm-5 control-label">应收金额</label>
      <div class="col-sm-7">
        <input type="text" class="form-control width-154" ng-model="vm.mrent.shouldpay" readonly="readonly"/>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-class="{'has-error':myForm.submitted && myForm.realpay.$invalid}">
      <label class="col-sm-5 control-label">实收金额</label>
      <div class="col-sm-7">
        <input type="number" name="realpay" class="form-control width-154" ng-model="vm.jsondata.realpay" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" style="ime-mode:Disabled" required/>
        <span class="help-block" ng-show="myForm.submitted && myForm.realpay.$error.required">请输入实收金额！</span>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-class="{'has-error':myForm.submitted && myForm.overdue.$invalid}">
      <label for="birthplace" class="col-sm-5 control-label">滞纳金</label>
      <div class="col-sm-7">
        <input type="number" name="overdue" class="form-control width-154" ng-model="vm.jsondata.overdue" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" style="ime-mode:Disabled" required/>
        <span class="help-block" ng-show="myForm.submitted && myForm.overdue.$error.required">请输入滞纳金！</span>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-class="{'has-error':myForm.submitted && myForm.paytypeid.$invalid}">
      <label class="col-sm-5 control-label">付款方式</label>
      <div class="col-sm-7">
        <select name="paytypeid" class="form-control width-154" ng-model="vm.jsondata.paytype.dictid" ng-options="it.dictid as it.dictname for it in vm.sffs" required>
            <option value="">--请选择--</option>
        </select>
        <span class="help-block" ng-show="myForm.submitted && myForm.paytypeid.$error.required">请选择付款方式！</span>
      </div>
    </div>
     <div class="form-group">
      <label class="col-sm-2 row handle-row2 control-label">备注</label>
      <div class="col-sm-9">
        <input name="deptphone" type="text" class="form-control handle-input2" ng-model="vm.jsondata.remark"/>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label class="col-sm-5 control-label">收款人</label>
      <div class="col-sm-7">
       <label class="control-label">{{user.realname}}</label>
      </div>
    </div>
    <div class="form-group clear clearfix">
      <div class="text-center">
        <button type="submit" class="btn navbar-btn btn-sky width-94"><span class="glyphicon glyphicon-ok margin-4"></span>保存</button>
        <!-- <button type="submit" class="btn navbar-btn btn-sky width-94"><span class="glyphicon glyphicon-list-alt"></span>打印</button> -->
        <button type="button" class="btn navbar-btn btn-default width-94" ng-click="vm.cancel()"><span class="glyphicon glyphicon-remove margin-4"></span>取消</button>
      </div>
    </div>
  </form>
</div>
