<div class="content-box" ng-controller="infoMonitorDataCtrl as vm">
    <div class="search-box clearfix">
        <form class="form-inline" role="form">
            <div class="data-btn1">
                <button class="data-time" ng-class="{'data-time-active' : 'D' == vm.query.type}" ng-click="vm.selectData('D')">今天</button>
                <button class="data-time" ng-class="{'data-time-active' : 'W' == vm.query.type}" ng-click="vm.selectData('W')">7天内</button>
                <button class="data-time" ng-class="{'data-time-active' : 'M' == vm.query.type}" ng-click="vm.selectData('M')">30天内</button>
                <button class="data-time" ng-class="{'data-time-active' : 'Q' == vm.query.type}" ng-click="vm.selectData('Q')">3月内</button>
                <button class="data-time" ng-class="{'data-time-active' : 'H' == vm.query.type}" ng-click="vm.selectData('H')">半年内</button>
                <button class="data-time" ng-class="{'data-time-active' : 'Y' == vm.query.type}" ng-click="vm.selectData('Y')">近一年</button>
            </div>

        </form>
    </div>
    <div class="information-num">
        <div class="information-num6"><div class="infor-num-txt">货源信息:</div><div class="infor-num-data">{{vm.infoMonitorData.goodsSum}}<span class="infor-num-txt2">万条</span></div></div>
        <div class="information-num6"><div class="infor-num-txt">车源信息:</div><div class="infor-num-data">{{vm.infoMonitorData.vehicleSum}}<span class="infor-num-txt2">万条</div></div>
        <div class="information-num6"><div class="infor-num-txt">仓储信息:</div><div class="infor-num-data">{{vm.infoMonitorData.storeSum}}<span class="infor-num-txt2">条</div></div>
        <div class="information-num6"><div class="infor-num-txt">专线信息:</div><div class="infor-num-data">{{vm.infoMonitorData.lineSum}}<span class="infor-num-txt2">条</div></div>
          <div class="information-num6"><div class="infor-num-txt">场站信息:</div><div class="infor-num-data">{{vm.infoMonitorData.stationSum}}<span class="infor-num-txt2">条</div></div>
          <div class="information-num6"><div class="infor-num-txt">港口信息:</div><div class="infor-num-data">{{vm.infoMonitorData.portSum}}<span class="infor-num-txt2">条</div></div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12" style="height:400px">
            <line-chart config="config" data="infoMonitorData"></line-chart>
        </div>
    </div>
</div>
