<div class="content-box" ng-controller="userMonitorDataCtrl as vm">
    <div class="search-box clearfix">
        <form class="form-inline" role="form">
            <div class="data-btn1">
                <button class="data-time" ng-class="{'data-time-active' : 'D' == vm.query.type}" ng-click="vm.selectData('D')">今天</button>
                <button class="data-time" ng-class="{'data-time-active' : 'W' == vm.query.type}" ng-click="vm.selectData('W')">7天内</button>
                <button class="data-time" ng-class="{'data-time-active' : 'M' == vm.query.type}" ng-click="vm.selectData('M')">30天内</button>
                <button class="data-time" ng-class="{'data-time-active' : 'Q' == vm.query.type}" ng-click="vm.selectData('Q')">3月内</button>
                <button class="data-time" ng-class="{'data-time-active' : 'H' == vm.query.type}" ng-click="vm.selectData('H')">半年内</button>
                <button class="data-time" ng-class="{'data-time-active' : 'Y' == vm.query.type}" ng-click="vm.selectData('Y')">近一年</button>
            </div>
            <div class="dropdown pull-left data-input">
                <a class="dropdown-toggle" id="startDate" role="button" data-toggle="dropdown" data-target="#"
                   href="#">
                    <div class="input-group margin-4">
                        <input type="text" class="form-control time-kai width-94" placeholder="开始时间" data-ng-model="vm.startdate | date:'yyyy-MM-dd'">
                        <span class="sr-only"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="vm.startdate"
                                    data-datetimepicker-config="{ dropdownSelector: '#startDate',startView:'day', minView:'day' }"></datetimepicker>
                </ul>
            </div>
            <div class="dropdown pull-left data-input">
                <a class="dropdown-toggle" id="enddate" role="button" data-toggle="dropdown" data-target="#"
                   href="#">
                    <div class="input-group">
                        <input type="text" class="form-control time-kai width-94" placeholder="结束时间" data-ng-model="vm.enddate | date:'yyyy-MM-dd'">
                        <span class="sr-only"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="vm.enddate"
                                    data-datetimepicker-config="{ dropdownSelector: '#enddate',startView:'day', minView:'day' }"></datetimepicker>
                </ul>
            </div>
            <button type="submit" class="btn btn-sky width-94 pull-left data-input" ng-click="vm.selectData('')">查询</button>
            <button type="reset" class="btn btn-reset pull-left" ng-click="vm.ResetQuery()">
                <span class="glyphicon glyphicon-repeat margin-4"></span>重置
            </button>
            <!-- <div class="data-btn2">
                <button class="data-search border-right" ng-class="{'data-search-active' : '1' == vm.queryPark.step}" ng-click="vm.selectStep('1')" ng-if="vm.datetype == '1'">按时</button>
                <button class="data-search border-right" ng-class="{'data-search-active' : '2' == vm.queryPark.step}" ng-click="vm.selectStep('2')" ng-if="vm.datetype == '1' || vm.datetype == '2'">按日</button>
                <button class="data-search border-right" ng-class="{'data-search-active' : '3' == vm.queryPark.step}" ng-click="vm.selectStep('3')" ng-if="vm.datetype == '2' || vm.datetype == '3'">按月</button>
                <button class="data-search" ng-class="{'data-search-active' : '4' == vm.queryPark.step}" ng-click="vm.selectStep('4')" ng-if="vm.datetype == '3'">按季度</button>
            </div> -->
        </form>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px">
      <div class="col-md-4 goods-size">
        <donut-chart config="usersByUserTypeConfig" data="usersByUserTypeData"></donut-chart>
      </div>
      <div class="col-md-4 goods-size" >
        <div class="user-all">用户活跃度</div>

        <div>
        <img src="assets/images/huoyue.png" style="margin:0 0 14px 18px;">
        <img src="assets/images/buhuoyue.png" style="margin:0 0 14px 85px;">
        </div>
        <div style="font-size:12px">
        <span style="margin-right:83px;margin-left:22px;">{{vm.userByUserActiveData[0].name}}</span>
        {{vm.userByUserActiveData[1].name}}
        </div>
        <div style="font-size:28px;color:#999999;margin-top:20px"><span style="margin-right:40px;margin-left:0px;color:#00AFEF;">{{vm.userByUserActiveData[0].ratio}}%</span>
        {{vm.userByUserActiveData[1].ratio}}%</div>
      </div>
      <div class="col-md-4 goods-size">
        <div class="user-all" style="margin-top:-4px">累计用户数:<span style="color:#00AFEF;font-size:28px;margin-left:25px">{{vm.userTotalData.total}}</span></div>
        <img src="assets/images/all-num.jpg" style="margin:0  0  0 85px;width: 50%;">
      </div>

    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px">
      <div class="col-md-12 goods-size">
        <line-chart config="newUserByTimeConfig" data="newUserByTimeData"></line-chart>
      </div>
    </div>

</div>
