<div class="content-box">
    <div class="nav-yyd-box">
        <div class="nav_car">
            <ul class="nav nav-tabs nav-yyd" ng-init="vm.activeTab=1">
                <li ng-class="{active: vm.activeTab == 1}"><a href="javascript:;" ng-click="vm.activeTab = 1">企业</a></li>
                <li ng-class="{active: vm.activeTab == 2}"><a href="javascript:;" ng-click="vm.activeTab = 2">货主</a></li>
                <li ng-class="{active: vm.activeTab == 3}"><a href="javascript:;" ng-click="vm.activeTab = 3">司机</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-panel clearfix" ng-show="vm.activeTab == 1" ng-include="'app/operationCenter/views/customersManage/enterprise/enterpriseManage.html'"></div>
            <div class="tab-panel clearfix" ng-show="vm.activeTab == 2" ng-include="'app/operationCenter/views/customersManage/goodsOwner/shipperManage.html'"></div>
            <div class="tab-panel clearfix" ng-show="vm.activeTab == 3" ng-include="'app/operationCenter/views/customersManage/driver/driverManage.html'"></div>
        </div>
    </div>
</div>