<div class="room-box" ng-controller="facadeViewCtrl as vm">
  <div class="light-box-title"><span class="text-white">查看</span></div>
  <ul class="clearfix">
      <li class="pull-left" ng-class="{active: vm.activeTab == 1}"><a href="javascript:;" ng-click="vm.activeTab = 1" class="edit-a" ng-class="{'edit-active': vm.activeTab == 1}">基本信息</a></li>
      <li class="pull-left" ng-class="{active: vm.activeTab == 2}"><a href="javascript:;" ng-click="vm.activeTab = 2" class="edit-a" ng-class="{'edit-active': vm.activeTab == 2}">仪表</a></li>
  </ul>
  <form class="form-horizontal text-normal" name="myForm" autocomplete="off" novalidate>
  <div class="tab-content tab-bordered">
    <div class="tab-panel" ng-show="vm.activeTab == 1">
      <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <label for="doorno" class="col-sm-5 control-label">门面编码</label>
        <div class="col-sm-7">
          <input type="text" name="doorno" class="form-control width-154" ng-model="vm.jsondata.doorno" placeholder="" readonly="readonly">
        </div>
      </div>
      <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <label for="regionid" class="col-sm-5 control-label">所在区域</label>
        <div class="col-sm-7">
          <select class="form-control width-154" name="regionid" ng-model="vm.jsondata.region.dictid" ng-options="it.dictid as it.dictname for it in vm.szqy" ng-disabled="true">
              <option value="">--请选择--</option>
          </select>
        </div>
      </div>
      <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <label for="place" class="col-sm-5 control-label">位置</label>
        <div class="col-sm-7">
          <input type="text" name="place" class="form-control width-154" ng-model="vm.jsondata.place" placeholder="" readonly="readonly">
        </div>
      </div>
      <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <label for="fangxingid" class="col-sm-5 control-label">房型</label>
        <div class="col-sm-7">
          <select class="form-control width-154" name="fangxingid" ng-model="vm.jsondata.fangxing.dictid" ng-options="it.dictid as it.dictname for it in vm.fx" ng-disabled="true">
              <option value="">--请选择--</option>
          </select>
        </div>
      </div>
      <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <label for="acreage" class="col-sm-5 control-label">面积</label>
        <div class="col-sm-7">
          <input type="text" name="acreage" class="form-control width-154" ng-model="vm.jsondata.acreage" placeholder="" readonly="readonly">
        </div>
      </div>
      <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <label for="remark" class="col-sm-5 control-label">备注</label>
        <div class="col-sm-7">
          <input type="text" name="remark" class="form-control width-154" ng-model="vm.jsondata.remark" placeholder="" readonly="readonly">
        </div>
      </div>
      <!-- <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <label for="status" class="col-sm-5 control-label">状态</label>
        <div class="col-sm-7">
          <label for="status" class="col-sm-5 control-label">{{vm.jsondata.status}}</label>
        </div>
      </div> -->
      <div class="form-group">
        <div class="text-center">
          <button type="button" class="btn navbar-btn btn-default width-94" ng-click="vm.cancel()"><span class="glyphicon glyphicon-remove margin-4"></span>返回</button>
        </div>
      </div>
    </div>
    <div class="tab-panel" ng-show="vm.activeTab == 2">
      <table class="table table-striped table-hover table-bordered table01">
          <thead>
            <tr>
              <td>仪表种类</td>
              <td>是否配置</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="met in vm.jsondata.doormeter">
              <td>{{met.meter.dictname}}</td>
              <td><input type="checkbox" ng-checked="met.isprovide == '1'" ng-disabled="true" ng-click="met.isprovide = vm.checkedBox(met.isprovide)" ng-true-value="1" ng-false-value="0"/></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  </form>
</div>
