<div style="height:100%" >
	<button class="car-level2" ng-click="toggleInParkAbnormalCar()" type="button" style="float:right; font-size: 20px;">
			返回</button>
<div class="yard-main">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color:#E5E0D5">
		<div class="real-time car-gridhead" >园区名称</div>
		<div class="real-time4 car-gridhead" >联系人</div>
		<div class="real-time5 car-gridhead" >联系号码</div>
		<div class="real-time car-gridhead" >车辆类型</div>
		<div class="real-time car-gridhead" >出入园时间</div>
		<div class="real-time car-gridhead" >车牌号码</div>
		<div class="real-time2 car-gridhead" >车长</div>
		<div class="real-time2 car-gridhead" >载重</div>
		<div class="real-time4 car-gridhead" >停车时间</div>
		<div class="real-time3 car-gridhead" >异常原因</div>
	</div>
</div>

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div ng-repeat="item in abnormalCarList">
				<div class="real-time car-grid">{{item.parkname}}</div>
				<div class="real-time4 car-grid">{{item.contactname || '暂无'}}</div>
				<div class="real-time5 car-grid">{{item.telephonenumber || '暂无'}}</div>
				<div class="real-time car-grid">{{item.cartype || '暂无'}}</div>
				<div class="real-time car-grid">{{item.outtime || item.entrytime}}</div>
				<div class="real-time car-grid">{{item.vehiclenumber || '暂无'}}</div>
				<div class="real-time2 car-grid">{{item.vehiclelength || '暂无'}}</div>
				<div class="real-time2 car-grid">{{item.vehicletonnage || '暂无'}}</div>
				<div class="real-time4 car-grid">{{item.hours || '暂无'}}</div>
				<div class="real-time3 car-grid">{{item.publicCause || '暂无'}}</div>
			</div>
		</div>

</div>
