<div class="content-box" >
  <div class="search-box clearfix">

      <span ><a style="color:#58666e;font-size: 25px;">{{params.parkname}}:</a></span>
      <button class="data-time" ng-class="{'data-time-active' : 'D' == vm.querychoose.type}"  ng-click="vm.querychoose.type='D'" type="button" style="margin-left:20px">
        今天</button>
      <button class="data-time" ng-class="{'data-time-active' : 'W' == vm.querychoose.type}" ng-click="vm.querychoose.type='W'" type="button">
        7天内</button>
      <button class="data-time" ng-class="{'data-time-active' : 'M' == vm.querychoose.type}" ng-click="vm.querychoose.type='M'" type="button">
        30天内</button>
      <button class="data-time" ng-class="{'data-time-active' : 'Q' == vm.querychoose.type}" ng-click="vm.querychoose.type='Q'" type="button">
        3月内</button>
      <button class="data-time" ng-class="{'data-time-active' : 'H' == vm.querychoose.type}" ng-click="vm.querychoose.type='H'" type="button">
        半年内</button>
      <button class="data-time" ng-class="{'data-time-active' : 'Y' == vm.querychoose.type}" ng-click="vm.querychoose.type='Y'" type="button">
        近一年</button>
      <button class="data-time" ng-click="toggleParkDetail()" type="button" style="float:right;  margin-top: 10px;margin-right :10px">
          返回</button>

  </div>


  <div class="information-num">
      <div class="information-num3"><div class="infor-num-txt">货源信息:</div><div class="infor-num-data">{{goodsSum}}<span class="infor-num-txt2">条</span></div></div>
      <div class="information-num3"><div class="infor-num-txt">车源信息:</div><div class="infor-num-data">{{vehicleSum}}<span class="infor-num-txt2">条</div></div>
      <div class="information-num3"><div class="infor-num-txt">车辆出入:</div><div class="infor-num-data">{{vehicleInOutSum}}<span class="infor-num-txt2">辆</div></div>
      <div class="information-num3"><div class="infor-num-txt">吞吐量:</div><div class="infor-num-data">{{throughSum}}<span class="infor-num-txt2">吨</div></div>
      <div class="information-num3"><div class="infor-num-txt">平均配货周期:</div><div class="infor-num-data">{{pickingCycleSum}}<span class="infor-num-txt2">小时</div></div>
  </div>

<!-- <div class="nav-yyd-box">
  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <button class="btn btn-sky  col-sm-2"  type="button">
      货源信息{{}}条</button>
    <button class="btn btn-sky  col-sm-2"  type="button">
      车源信息{{vehicleSum}}条</button>
    <button class="btn btn-sky  col-sm-2"  type="button">
      车辆出入{{vehicleInOutSum}}辆</button>
    <button class="btn btn-sky  col-sm-2"  type="button">
      吞吐量{{throughSum}}吨</button>
    <button class="btn btn-sky  col-sm-3" type="button">
      平均配货周期{{pickingCycleSum}}小时</button>

  </div>
</div> -->


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:30px">
  <div class="col-md-12" style="height:300px">
    <line-chart  config="configLine" data="parkMonitorData"></line-chart>
  </div>
</div>

  <!-- <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><input type="checkbox" value="货源信息" name="myrad" ng-model="goods" ng-click="check(goods,'goods')">货源信息</div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><input type="checkbox" value="车源信息" name="myrad" ng-model="car" ng-click="check(car,'car')">车源信息</div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><input type="checkbox" value="车辆出入" name="myrad" ng-model="inout" ng-click="check(inout,'inout')">车辆出入</div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><input type="checkbox" value="吞吐量" name="myrad" ng-model="tonnnage" ng-click="check(tonnnage,'tonnnage')">吞吐量</div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><input type="checkbox" value="配货周期" name="myrad" ng-model="pick" ng-click="check(pick,'pick')">配货周期</div>
</div> -->
</div>
