<div class="content-box" ng-controller="rankingDataCtrl as vm">
    <div class="search-box clearfix">
        <form class="form-inline" role="form">
            <div class="data-btn1">
                <button class="data-time" ng-class="{'data-time-active' : 'D' == vm.query.type}" ng-click="vm.selectData('D')">今天</button>
                <button class="data-time" ng-class="{'data-time-active' : 'W' == vm.query.type}" ng-click="vm.selectData('W')">7天内</button>
                <button class="data-time" ng-class="{'data-time-active' : 'M' == vm.query.type}" ng-click="vm.selectData('M')">30天内</button>
                <button class="data-time" ng-class="{'data-time-active' : 'Q' == vm.query.type}" ng-click="vm.selectData('Q')">3月内</button>
                <button class="data-time" ng-class="{'data-time-active' : 'H' == vm.query.type}" ng-click="vm.selectData('H')">半年内</button>
                <button class="data-time" ng-class="{'data-time-active' : 'Y' == vm.query.type}" ng-click="vm.selectData('Y')">近一年</button>
            </div>
        </form>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
        <div class="" style="padding-left:1px;">
          <div style="text-align: center;  font-size: 20px;font-weight: bold;">入园车辆排名</div>
          <table class="table table-striped table-hover table-bordered table01 ">
            <thead >
              <tr style="background-color:#E5E0D5">
                <td >排名</td>
                <td >园区</td>
                <td >入园车辆</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="inOut in inOutData">
                <td>{{inOut.rank}}</td>
                <td>{{inOut.parkname}}</td>
                <td>{{inOut.count}}</td>
              </tr>
            </tbody>
          </table>
      </div>

      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
        <div class="" style="padding-left:1px;">
          <div style="text-align: center;font-size: 20px;font-weight: bold;">货源数量排名</div>
          <table class="table table-striped table-hover table-bordered table01 ">
            <thead >
              <tr style="background-color:#E5E0D5">
                <td >排名</td>
                <td >园区</td>
                <td >货源数量</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="goods in goodsData">
                <td>{{goods.rank}}</td>
                <td>{{goods.parkname}}</td>
                <td>{{goods.count}}</td>
              </tr>
            </tbody>
          </table>
      </div>

      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
        <div class="" style="padding-left:1px;">
          <div style="text-align: center;font-size: 20px;font-weight: bold;">车源数量排名</div>
          <table class="table table-striped table-hover table-bordered table01 ">
            <thead >
              <tr style="background-color:#E5E0D5">
                <td >排名</td>
                <td >园区</td>
                <td >车源</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="vehicle in vehicleData">
                <td>{{vehicle.rank}}</td>
                <td>{{vehicle.parkname}}</td>
                <td>{{vehicle.count}}</td>
              </tr>
            </tbody>
          </table>
      </div>

      </div>

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:30px">

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
        <div class="" style="padding-left:1px;">
          <div style="text-align: center;font-size: 20px;font-weight: bold;">平均配货时间排名</div>
          <table class="table table-striped table-hover table-bordered table01 ">
            <thead >
              <tr style="background-color:#E5E0D5">
                <td >排名</td>
                <td >园区</td>
                <td >平均配货时间</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="time in timeData">
                <td>{{time.rank}}</td>
                <td>{{time.parkname}}</td>
                <td>{{time.count}}</td>
              </tr>
            </tbody>
          </table>
      </div>

      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
        <div class="" style="padding-left:1px;">
          <div style="text-align: center;font-size: 20px;font-weight: bold;">吞吐量排名</div>
          <table class="table table-striped table-hover table-bordered table01 ">
            <thead >
              <tr style="background-color:#E5E0D5">
                <td >排名</td>
                <td >园区</td>
                <td >吞吐量</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="throughput in throughputData">
                <td>{{throughput.rank}}</td>
                <td>{{throughput.parkname}}</td>
                <td>{{throughput.count}}</td>
              </tr>
            </tbody>
          </table>
      </div>

      </div>

    </div>

</div>
