<div class="content-box" ng-controller="goodsMonitorDataCtrl as vm">
  <div class="search-box clearfix">
    <form class="form-inline" role="form">
      <div class="data-btn1">
        <button class="data-time" ng-class="{'data-time-active' : 'D' == vm.query.type}" ng-click="vm.query.type='D'">车辆</button>
        <button class="data-time" ng-class="{'data-time-active' : 'W' == vm.query.type}" ng-click="vm.query.type='W'">船舶</button>

      </div>

    </form>
  </div>
  <div ng-if="vm.query.type=='D'">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px">

      <div class="col-md-6" style="padding-left:5px;">
        <table class="table table-striped table-hover table-bordered table01 " style="margin-top:5px">
          <thead >
            <tr style="background-color:#E5E0D5">
              <td >时间</td>
              <td >在册车辆</td>
              <td >在册运力</td>
            </tr>
          </thead>
          <tbody>

            <tr >
              <td>2015年1月</td>
              <td>564818</td>
              <td>2595938</td>
            </tr>
            <tr >
              <td>2015年4月</td>
              <td>570764</td>
              <td>2623264</td>
            </tr>
            <tr >
              <td>2015年7月</td>
              <td>576709</td>
              <td>2650589</td>
            </tr>
            <tr >
              <td>2015年10月</td>
              <td>585627</td>
              <td>2691578</td>
            </tr>
            <tr >
              <td>2016年1月</td>
              <td>{{data2}}</td>
              <td>{{data1}}</td>
            </tr>

          </tbody>
        </table>
      </div>

      <!-- <div class="col-md-6 goods-size">
    <bar-chart config="inoutConfig" data="inoutData"></donut-chart>
  </div> -->
      <div class="col-md-6 goods-size">
        <bar-chart config="topConfig" data="topData"></bar-chart>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-6 goods-size">
        <bar-chart config="outConfig" data="outData"></bar-chart>
      </div>
      <div class="col-md-6 goods-size">
        <bar-chart config="inConfig" data="inData"></bar-chart>
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px;" ng-if="vm.query.type!='D'">
      <img src="assets/images/board.jpg" width="99%">
  </div>
</div>
