<div class="right-menu-list-box pull-right col-sm-7">
    <div class="row" ng-repeat="menu in parentMenus">
        <!--<div class="col-sm-4 menu-lists"><a href="/property" class="op-home-btn"><span class="btn-round"><i class="fa fa-building"></i></span> 物业管理</a></div>-->
        <!--<div class="col-sm-4 menu-lists"><a class="op-home-btn"><span class="btn-round"><i class="fa fa-user"></i></span> 人力资源</a><span class="op-new-messenge"></span></div>-->
        <!--<div class="col-sm-4 menu-lists"><a class="op-home-btn"><span class="btn-round"><i class="fa fa-legal"></i></span> 审核管理</a></div>-->
        <!--<div class="col-sm-4 menu-lists"><a href="/customersServe" class="op-home-btn"><span class="btn-round"><i class="fa fa-headphones"></i></span> 客服管理</a></div>-->
        <!--<div class="col-sm-4 menu-lists"><a class="op-home-btn"><span class="btn-round"><i class="fa fa-group"></i></span> 客户管理</a></div>-->
        <!--<div class="col-sm-4 menu-lists"><a class="op-home-btn"><span class="btn-round"><i class="fa fa-comment"></i></span> 消息管理</a><span class="op-new-messenge"></span></div>-->
        <!--<div class="col-sm-4 menu-lists"><a class="op-home-btn"><span class="btn-round"><i class="fa fa-money"></i></span> 财务管理</a></div>-->
        <!--<div class="col-sm-4 menu-lists"><a href="/setting" class="op-home-btn"><span class="btn-round"><i class="fa fa-cog"></i></span> 系统管理</a></div>-->
        <div class="col-sm-4 menu-lists"><a href="" ui-sref="{{menu.name}}" class="op-home-btn"><span class="btn-round"><i class="fa {{menu.icon}}"></i></span> {{menu.menu}}</a></div>
    </div>
</div>