<div class="room-box" ng-controller="editApplicationCtrl as vm">
  <div class="light-box-title"><span class="text-white">{{appModalTitle}}</span></div>
  <form class="form-horizontal text-normal" name="myForm" autocomplete="off" ng-submit="vm.updataApplication()" novalidate>
    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="col-sm-5 control-label"></label>
      <div class="col-sm-7">
        <span class="license-img pull-left margin-siji margin-11">
        <img class="media-object img-responsive" ng-model="app.appicon" ngf-src="appicon[0]" ngf-default-src="assets/images/license.jpg" ngf-accept="'image/*'" alt="...">
        </span>
        <span class="pull-left margin-5">
        <button type="button" class="btn btn-sky width-94" ngf-select ng-model="appicon" accept="image/*">上传图标</button></span>
      </div>
    </div>
    <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <label for="enterpriseName" class="col-sm-5 control-label">应用名称</label>
          <div class="col-sm-7" ng-class="{'has-error':myForm.submitted && myForm.applicationname.$invalid}">
            <input type="text" name="enterpriseName" class="form-control width-154" ng-model="app.applicationname" placeholder="" required/>
            <span class="help-block" ng-show="myForm.submitted && myForm.applicationname.$error.required">请输入应用名称！</span>
          </div>
        </div>
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <label for="address" class="col-sm-5 control-label">应用URL</label>
          <div class="col-sm-7" ng-class="{'has-error':myForm.submitted && myForm.appurl.$invalid}">
            <input type="text" name="address" class="form-control width-154" ng-model="app.appurl" placeholder="" required/>
            <span class="help-block" ng-show="myForm.submitted && myForm.appurl.$error.required">请输入应用URL！</span>
          </div>
        </div>
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <label for="contactName" class="col-sm-5 control-label">应用位置</label>
          <div class="col-sm-7" ng-class="{'has-error':myForm.submitted && myForm.apporder.$invalid}">
            <input type="text" name="contactName" class="form-control width-154" ng-model="app.apporder" placeholder="" required/>
            <span class="help-block" ng-show="myForm.submitted && myForm.apporder.$error.required">请输入应用位置！</span>
          </div>
        </div>
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <label for="contactName" class="col-sm-5 control-label">应用状态</label>
          <div class="col-sm-7" ng-class="{'has-error':myForm.submitted && myForm.status.$invalid}">

            <select class="form-control " ng-model='app.status'>
              <option value="">--选择是否启用--</option>
              <option value="1">启用</option>
              <option value="0">禁用</option>
            </select>

<!--
            <input type="text"  class="form-control width-154" ng-model="vm.app.status" placeholder="" required/>
            <span class="help-block" ng-show="myForm.submitted && myForm.apporder.$error.required"></span> -->
          </div>
        </div>

    </div>
    <div class="form-group clear">

            <div class="col-sm-12">
                <textarea  name="remark" class="form-control driver-height"
                          ng-model="app.descn" placeholder="应用描述"></textarea>
            </div>
    </div>

    <div class="form-group">
          <div class="text-center">
            <button type="submit" class="btn navbar-btn btn-sky width-94"><span class="glyphicon glyphicon-ok margin-4"></span>保存</button>
            <button type="button" class="btn navbar-btn btn-default width-94" ng-click="vm.cancel()"><span class="glyphicon glyphicon-remove margin-4"></span>取消</button>
          </div>
    </div>
  </form>
</div>
