<div class="content-box" ng-controller="menuManageCtrl as vm">
  <div class="search-box">
    <form class="form-inline" role="form">
      <div class="form-group form-inline">
        <label class="sr-only" for="menuName">菜单名称</label>
        <input class="form-control width-154 input-inline" id="menuName" ng-model='vm.jsondata.query.menuname' placeholder="菜单名称" type="text">
      </div>

      <div class="form-group">
        <label class="sr-only" for="appId">所属应用</label>
        <select class="form-control width-154" ng-change="vm.queryClick()" ng-model="vm.jsondata.query.applicationid"
        ng-options="app.applicationid as app.applicationname for app in vm.MList">
          <option value="">--选择所属应用--</option>
        </select>
      </div>
      <div class="form-group">
        <label class="sr-only" for="status">是否启用</label>
        <select class="form-control width-154" id="status" ng-change="vm.queryClick()" ng-model='vm.jsondata.query.status'>
          <option value="">--选择是否启用--</option>
          <option value="1">启用</option>
          <option value="0">禁用</option>
        </select>
      </div>
      <button class="btn btn-sky width-94" ng-click="vm.queryClick()" type="button">
        <span class="glyphicon glyphicon-search margin-4"></span>搜索
      </button>
      <button class="btn btn-reset" ng-click="vm.ResetQuery()" type="button">
        <span class="glyphicon glyphicon-repeat margin-4"></span>重置
      </button>
      <button class="btn btn-sky width-94" ng-click="vm.batchDelClick()" type="button" style="float:right">
        <span class="glyphicon glyphicon-remove margin-4"></span>批量删除
      </button>
      <button class="btn btn-sky width-94" ng-click="vm.addMenuClick()" type="button" style="float:right">
        <span class="glyphicon glyphicon-plus-sign margin-4"></span>新增
      </button>

    </form>
  </div>

  <div class="nav-yyd-box">
    <div class="nav_car">
      <ul class="nav nav-tabs nav-yyd" ng-init="vm.jsondata.query.productcode='WPT'">
        <li ng-class="{active: vm.jsondata.query.productcode == 'WPT'}">
          <a class="order-a" href="javascript:;" ng-click="vm.selectTab('WPT')">微平台</a>
        </li>
        <li ng-class="{active: vm.jsondata.query.productcode == 'WLGJ'}">
          <a class="order-a" href="javascript:;" ng-click="vm.selectTab('WLGJ')">物流管家</a>
        </li>
      </ul>
    </div>
    <div class="table-responsive-2-1">
      <table class="table table-striped table-hover table-bordered table01">
        <thead>
          <tr>
            <td><input ng-click="vm.selectAllItems()" ng-model="vm.allSelected" type="checkbox"></td>
          </td>
          <td>操作</td>
          <td>菜单名称</td>
          <td>所属应用名称</td>
          <td>菜单页面链接</td>
          <!-- <td>页面参数</td> -->
          <td>菜单状态</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in vm.menuLists">
          <td><input ng-click="vm.selectItem(item)" ng-model="item.selected" type="checkbox"></td>
        </td>
        <td>
          <a class="glyphicon glyphicon glyphicon-edit margin-h10" ng-click="vm.editMenuClick(item.menuid)" title="编辑"></a>
          <a class="glyphicon glyphicon-trash margin-h10" ng-click="vm.deleteMneu(item.menuid)" title="删除"></a>
          <a class="glyphicon glyphicon-ban-circle margin-h10" ng-click="vm.startAndStop(item,item.status==1?0:1)" title="{{item.status==1?'禁用':'启用'}}"></a>
        </td>
        <td>{{item.menuname}}</td>
        <td>{{item.applicationname}}</td>
        <td>{{item.menuurl}}</td>
        <!-- <td>{{item.menuparam}}</td> -->
        <td>{{item.status==1?'启用':'禁用'}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<tm-pagination class="page-fix" conf="vm.jsondata"></tm-pagination>
</div>
